@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @ref="ElementReference"
     id="@Id"
     @attributes="AdditionalAttributes"
     class="@CssClass"
     style="@CssStyle"
     @onfocusin="CancelFocusOut"
     @onfocusout="OnFocusOut">
    @ChildContent
</div>