.switch {
    --switch-inherited-color: var(--tavenem-color-action);
    --switch-inherited-hover-bg: var(--tavenem-color-action-hover-bg);
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin: 0;

    label {
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        margin-right: 16px;
        pointer-events: auto;
        transform: none !important;
        vertical-align: middle;
        z-index: auto;
        -webkit-tap-highlight-color: transparent;

        &:after {
            transform: scale(7,7);
        }
    }

    .toggle {
        box-sizing: border-box;
        display: inline-flex;
        flex-shrink: 0;
        height: 38px;
        overflow: hidden;
        padding: 12px;
        position: relative;
        width: 58px;
        vertical-align: middle;
        z-index: 0;

        > .btn {
            color: var(--switch-inherited-color);
            left: 0;
            padding: 9px;
            position: absolute;
            top: 0;
            transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            z-index: 1;

            &:hover {
                background-color: var(--switch-inherited-hover-bg);
            }

            > input[type="checkbox"] {
                cursor: inherit;
                height: 100%;
                left: 0;
                margin: 0;
                opacity: 0;
                padding: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            > .switch-thumb {
                align-items: center;
                background-color: currentColor;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
                display: flex;
                height: 20px;
                justify-content: center;
                width: 20px;

                tf-icon {
                    color: var(--tavenem-light-color-text);
                    font-size: 1rem;
                }
            }
        }
    }

    &.checked {
        .toggle > .btn {
            transform: translateX(20px);
        }

        .switch-track {
            opacity: .5;
        }
    }

    &.dense .toggle {
        height: 26px;
        padding-bottom: 6px;
        padding-top: 6px;

        > .btn {
            padding-bottom: 3px;
            padding-top: 3px;
        }
    }

    .field-helpers {
        color: var(--switch-inherited-color);
    }

    &.disabled {
        --switch-inherited-color: var(--tavenem-color-action-disabled);
        --switch-inherited-hover-bg: transparent;

        label {
            &, &:hover, &:focus-visible {
                color: var(--tavenem-color-action-disabled);

                &, * {
                    cursor: default;
                }

                * {
                    color: var(--tavenem-color-text-disabled);
                }

                tf-icon {
                    color: var(--tavenem-color-action-disabled);
                }
            }
        }

        .switch-track {
            opacity: .12;
        }
    }

    &.read-only, &.read-only:hover {
        --checkbox-inherited-hover-bg: transparent;

        &, * {
            cursor: default;
        }
    }

    &.filled {
        background-color: transparent;
        color: var(--tavenem-color-action);
    }

    &.outlined {
        border: none;
    }

    &.required {
        label:after {
            content: none;
        }

        .label:after {
            color: var(--tavenem-color-error);
            content: " *";
        }
    }

    &.bg-alt {
        background-color: transparent;
    }

    &.invalid {
        --switch-inherited-color: var(--tavenem-color-error);
        --switch-inherited-hover-bg: var(--tavenem-color-error-hover);

        label {
            color: var(--tavenem-color-error);
        }
    }

    &:where(
        .primary,
        .secondary,
        .tertiary,
        .danger,
        .dark,
        .default,
        .info,
        .success,
        .warning) {
        color: var(--tavenem-color-action);
    }

    &.checked:where(
        .primary,
        .secondary,
        .tertiary,
        .danger,
        .dark,
        .default,
        .info,
        .success,
        .warning) {
        --switch-inherited-color: var(--tavenem-theme-color);
        --switch-inherited-hover-bg: var(--tavenem-theme-color-hover);
        color: var(--tavenem-color-action);

        .switch-track {
            background-color: var(--tavenem-theme-color);
        }

        .switch-thumb tf-icon {
            color: var(--tavenem-theme-color-text);
        }
    }
}

.switch-track {
    background-color: black;
    border-radius: 7px;
    height: 100%;
    opacity: 0.48;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
    z-index: -1;
}
