.tabs {
    --tab-active-bg: transparent;
    --tab-active-color: var(--tavenem-color-primary);
    --tab-active-hover: var(--tavenem-color-primary-hover);
    color: var(--tavenem-color-text);
    display: flex;
    flex-direction: column;
    max-width: 100%;

    &.bottom {
        flex-direction: column-reverse;
    }

    &.left, &.right {
        .tabs-toolbar-inner {
            flex-direction: column;
        }

        .tabs-toolbar-wrapper {
            flex-direction: column;
        }

        .tab-scroll-btn {
            height: 2rem;
            width: 100%;

            tf-icon {
                transform: rotate(90deg);
            }
        }

        .tab-panels {
            display: flex;
            flex-grow: 1;
        }
    }

    &.left {
        flex-direction: row;
    }

    &.right {
        flex-direction: row-reverse;
    }

    &.bg-alt {
        background-color: transparent;

        .tab, .tab-panels {
            background-color: var(--tavenem-theme-color-bg-alt, var(--tavenem-color-bg-alt));
        }
    }

    &.filled {
        --tab-active-bg: var(--tavenem-theme-color, var(--tavenem-color-primary));
        --tab-active-color: var(--tavenem-theme-color-text, var(--tavenem-color-primary-text));
        --tab-active-hover: var(--tavenem-theme-color-darken, var(--tavenem-color-primary-darken));
        --tavenem-theme-color-bg-alt: var(--tavenem-theme-color-darken);
        background-color: transparent;
        color: var(--tavenem-color-text);
    }

    &.outlined {
        background-color: transparent !important;
        border: 1px solid var(--tavenem-color-border);
    }

    &.primary,
    &.secondary,
    &.tertiary,
    &.danger,
    &.dark,
    &.default,
    &.info,
    &.success,
    &.warning {
        --tavenem-theme-color-bg-alt: var(--tavenem-theme-color-hover);
        --tab-active-color: var(--tavenem-theme-color);
        --tab-active-hover: var(--tavenem-theme-color-hover);
        color: var(--tavenem-color-text);
    }
}

.tabs-toolbar {
    border-radius: inherit;
    position: relative;
}

.tabs-toolbar-inner {
    display: flex;
    min-height: 3rem;

    .add-btn {
        align-self: center;
    }
}

.tab-scroll-btn {
    border-radius: 0;
}

.tabs-toolbar-content {
    flex: 1 1 auto;
    display: inline-block;
    overflow: auto;
    position: relative;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    width: 100%;
    white-space: nowrap;
}

.tabs-toolbar-wrapper {
    display: flex;
    position: inherit;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    width: max-content;

    .drop-placeholder {
        margin-bottom: 0;
        width: 10rem;
    }
}

.tab {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    font-family: var(--tavenem-font-family-title);
    font-size: 1rem;
    font-weight: var(--tavenem-font-weight-semibold);
    gap: .5rem;
    justify-content: center;
    line-height: 1.75;
    min-height: 3rem;
    min-width: 10rem;
    overflow: hidden;
    padding: 6px .75rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    white-space: normal;

    &:after {
        background-image: radial-gradient(circle,#000 10%,transparent 10.01%);
        background-position: 50%;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: scale(10,10);
        transition: transform .3s,opacity 1s;
        width: 100%;
    }

    &:active:after {
        transform: scale(0,0);
        opacity: .1;
        transition: 0s;
    }

    > *:first-child {
        border-bottom-left-radius: inherit;
        border-top-left-radius: inherit;
    }

    > *:last-child {
        border-bottom-right-radius: inherit;
        border-top-right-radius: inherit;
    }

    &:hover {
        background-color: var(--tavenem-color-action-hover-bg);
        cursor: pointer;
    }

    &.active {
        background-color: var(--tab-active-bg);
        border-bottom: 2px solid var(--tab-active-color);
        color: var(--tab-active-color);
        padding-bottom: 4px;

        &:hover {
            background-color: var(--tab-active-hover);
        }

        .tabs.left &, .tabs.right & {
            border-bottom: none;
            padding-bottom: 6px;
        }

        .tabs.left & {
            border-right: 2px solid var(--tab-active-color);
            padding-right: calc(.75rem - 2px);
        }

        .tabs.right & {
            border-left: 2px solid var(--tab-active-color);
            padding-left: calc(.75rem - 2px);
        }
    }

    &.disabled {
        color: var(--tavenem-color-text-disabled);
        cursor: default;
        pointer-events: none;
    }

    tf-close {
        align-self: center;
    }
}

.tab-panels {
    border-radius: inherit;
    position: relative;
    transition: .3s cubic-bezier(.25,.8,.5,1);
}
