html {
    height: 100%;
}

body {
    min-height: 100%;
}

#app {
    height: 100vh;
    position: relative;
}

.loading-icon-container {
    align-content: center;
    align-items: center;
    background-color: var(--tavenem-dark-color-bg);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.loading-icon {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 100 100' version='1.1' viewBox='0 0 128 90' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ETavenem Logo%3C/title%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title%3ETavenem Logo%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs%3E%3ClinearGradient id='a' x2='128' y1='45' y2='45' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23a03dff'%3E%3Canimate attributeName='offset' values='0;.235;0' dur='2s' repeatCount='indefinite' /%3E%3C/stop%3E%3Cstop stop-color='%23c080ff'%3E%3Canimate attributeName='offset' values='.2;.64;.2' dur='2s' repeatCount='indefinite' /%3E%3C/stop%3E%3Cstop stop-color='%23e5ccff' offset='.738'/%3E%3Cstop stop-color='%23c080ff'%3E%3Canimate attributeName='offset' values='1;.841;1' dur='2s' repeatCount='indefinite' /%3E%3C/stop%3E%3Cstop stop-color='%239f3dff' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='ship' d='m48.57 78.823v-16.017c10.548-1.1428 14.527 0.69532 14.527 0.69532s0.35556 15.181-14.527 15.321zm-0.034-56.926v-19.143c31.011 2.7493 45.599 30.675 25.707 59.046l-10.903 4.4433c8.3939-26.915 4.5812-35.454 1.353-44.199zm-5.301-19.526c35.71 0.063 69.516 24.948 82.223 47.737 0.134 0.136 0.193 0.272 0.17 0.408-0.016 0.094-0.072 0.188-0.17 0.283l-27.008 17.415c-5.981 11.208-7.852 14.311-12.803 19.415h-75.221c-3.441-3.283-6.672-7.576-7.323-10.909l-0.732-16.513 20.575 2.8093c4.4299-21.255 3.2846-30.486 9.43e-4 -38.9-0.982-0.603-1.0695-1.8082-0.45051-1.8592l20.746-0.58687zm53.015 63.25c-10.103 3.012-20.306 4.843-20.606-2.022 9.532-9.317 19.405-15.412 29.508-16.713 10.003-1.311 17.774 1.2818 19.774 3.5577zm-52.915 13.41c-10.503-0.755-14.256-6.9023-14.256-14.668 4.511-0.919 9.7053-1.8825 14.256-1.4845v16.174z' fill='url(%23a)' fill-rule='evenodd' stroke='url(%23a)' stroke-linejoin='round' stroke-width='4.7425' style='paint-order:stroke fill markers'/%3E%3Cpath id='star' d='m95 25.185 1.43 6.67 3.49-3.06-2.99 3.55 6.66 1.43-6.73 1.45 3.16 3.61-3.61-3.04-1.41 6.58-1.41-6.59-3.6 3.15 3.12-3.71-6.7-1.44 6.54-1.4-3.05-3.48 3.65 3.07z' fill='%23fff' fill-rule='evenodd' style='paint-order:stroke fill markers' transform-origin='95 34'%3E%3CanimateTransform attributeName='transform' type='scale' values='1.2;1;1.2' dur='2s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E%0A");
    display: block;
    margin: .1rem;
    text-align: center;
    vertical-align: middle;
    width: 25vw;
    max-height: 50vh;
}
@media (prefers-reduced-motion) {
    .loading-icon {
        content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 100 100' version='1.1' viewBox='0 0 128 90' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ETavenem Logo%3C/title%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title%3ETavenem Logo%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs%3E%3ClinearGradient id='a' x2='128' y1='45' y2='45' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23a03dff' offset='.235'/%3E%3Cstop stop-color='%23c080ff' offset='.64'/%3E%3Cstop stop-color='%23e5ccff' offset='.738'/%3E%3Cstop stop-color='%23c080ff' offset='.841'/%3E%3Cstop stop-color='%239f3dff' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='ship' d='m48.57 78.823v-16.017c10.548-1.1428 14.527 0.69532 14.527 0.69532s0.35556 15.181-14.527 15.321zm-0.034-56.926v-19.143c31.011 2.7493 45.599 30.675 25.707 59.046l-10.903 4.4433c8.3939-26.915 4.5812-35.454 1.353-44.199zm-5.301-19.526c35.71 0.063 69.516 24.948 82.223 47.737 0.134 0.136 0.193 0.272 0.17 0.408-0.016 0.094-0.072 0.188-0.17 0.283l-27.008 17.415c-5.981 11.208-7.852 14.311-12.803 19.415h-75.221c-3.441-3.283-6.672-7.576-7.323-10.909l-0.732-16.513 20.575 2.8093c4.4299-21.255 3.2846-30.486 9.43e-4 -38.9-0.982-0.603-1.0695-1.8082-0.45051-1.8592l20.746-0.58687zm53.015 63.25c-10.103 3.012-20.306 4.843-20.606-2.022 9.532-9.317 19.405-15.412 29.508-16.713 10.003-1.311 17.774 1.2818 19.774 3.5577zm-52.915 13.41c-10.503-0.755-14.256-6.9023-14.256-14.668 4.511-0.919 9.7053-1.8825 14.256-1.4845v16.174z' fill='url(%23a)' fill-rule='evenodd' stroke='url(%23a)' stroke-linejoin='round' stroke-width='4.7425' style='paint-order:stroke fill markers'/%3E%3Cpath id='star' d='m95 25.185 1.43 6.67 3.49-3.06-2.99 3.55 6.66 1.43-6.73 1.45 3.16 3.61-3.61-3.04-1.41 6.58-1.41-6.59-3.6 3.15 3.12-3.71-6.7-1.44 6.54-1.4-3.05-3.48 3.65 3.07z' fill='%23fff' fill-rule='evenodd' style='paint-order:stroke fill markers'/%3E%3C/svg%3E%0A");
    }
}
.loading-progress {
    align-items: center;
    display: inline-flex;
    height: .5rem;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
    width: 25vw;
}
.loading-progress-bar {
    background-color: var(--tavenem-color-primary-hover);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
    .loading-progress-bar:before, .loading-progress-bar:after {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform 0.2s linear;
        transform-origin: left;
        width: var(--blazor-load-percentage, 50%);
    }
    .loading-progress-bar:before {
        background-color: var(--tavenem-color-primary);
    }
    .loading-progress-bar:after {
        animation: loading-progress-gradient 1s linear infinite;
        background: linear-gradient(to left, #ffffff05, #00000050 50%, #ffffff05 100%) repeat;
        background-size: 50% 100%;
    }
@media (prefers-reduced-motion) {
    .loading-progress-bar:after {
        animation: none;
        background: none;
    }
}
@keyframes loading-progress-gradient {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right bottom;
    }
}

.pre-razor-code {
    background-color: #1e1e1e;
    color: #dcdcdc;
}
.pre-attribute {
    color: #9cdcfe;
}
.pre-class {
    color: #4ec9b0;
}
.pre-comment {
    color: #57a64a;
}
.pre-component {
    color: #009696;
}
.pre-control {
    color: #d8a0df;
}
.pre-directive {
    color: #a699e6;
}
.pre-element {
    color: #569cd6;
}
.pre-enum {
    color: #b8d7a3;
}
.pre-method {
    color: #dcdcaa;
}
.pre-operator {
    color: #b4b4b4;
}
.pre-string {
    color: #d69d85;
}
.pre-tag {
    color: #808080;
}
.pre-value {
    color: #c8c8c8;
}
