@media (min-width: 1400px) {
    .d-xxl-block { display: block; }
    .d-xxl-flex { display: flex; }
    .d-xxl-grid { display: grid; }
    .d-xxl-inline { display: inline; }
    .d-xxl-inline-block { display: inline-block; }
    .d-xxl-inline-flex { display: inline-flex; }
    .d-xxl-none { display: none; }
    .d-xxl-table { display: table; }
    .d-xxl-table-cell { display: table-cell; }
    .d-xxl-table-row { display: table-row; }

    .position-xxl-absolute { position: absolute; }
    .position-xxl-fixed { position: fixed; }
    .position-xxl-relative { position: relative; }
    .position-xxl-static { position: static; }
    .position-xxl-sticky { position: sticky; }

    .h-xxl-25 { height: 25%; }
    .h-xxl-33 { height: 33%; }
    .h-xxl-50 { height: 50%; }
    .h-xxl-67 { height: 67%; }
    .h-xxl-75 { height: 75%; }
    .h-xxl-100 { height: 100%; }
    .h-xxl-auto { height: auto; }

    .w-xxl-25 { width: 25%; }
    .w-xxl-33 { width: 33%; }
    .w-xxl-50 { width: 50%; }
    .w-xxl-67 { width: 67%; }
    .w-xxl-75 { width: 75%; }
    .w-xxl-100 { width: 100%; }
    .w-xxl-auto { width: auto; }

    .flex-xxl-column { flex-direction: column; }
    .flex-xxl-column-reverse { flex-direction: column-reverse; }
    .flex-xxl-row { flex-direction: row; }
    .flex-xxl-row-reverse { flex-direction: row-reverse; }

    .float-xxl-end { float: inline-end; }
    .float-xxl-left { float: left; }
    .float-xxl-none { float: none; }
    .float-xxl-right { float: right; }
    .float-xxl-start { float: inline-start; }
    
    .fixed-xxl {
        position: fixed;
        z-index: calc(var(--tavenem-zindex-fixed) + 11);
    }

    .sticky-xxl {
        position: sticky;
        top: 0;
        z-index: calc(var(--tavenem-zindex-fixed) + 10);
    }

    .flex-xxl-fill { flex: 1 1 auto; }

    .flex-xxl-grow-0 { flex-grow: 0; }
    .flex-xxl-grow-1 { flex-grow: 1; }
    .flex-xxl-grow-2 { flex-grow: 2; }
    .flex-xxl-grow-3 { flex-grow: 3; }
    .flex-xxl-grow-4 { flex-grow: 4; }
    .flex-xxl-grow-5 { flex-grow: 5; }

    .flex-xxl-shrink-0 { flex-shrink: 0; }
    .flex-xxl-shrink-1 { flex-shrink: 1; }

    .align-xxl-content-center { align-content: center; }
    .align-xxl-content-end { align-content: end; }
    .align-xxl-content-start { align-content: start; }
    .align-xxl-content-space-around { align-content: space-around; }
    .align-xxl-content-space-between { align-content: space-between; }
    .align-xxl-content-stretch { align-content: stretch; }

    .align-xxl-items-baseline { align-items: baseline; }
    .align-xxl-items-center { align-items: center; }
    .align-xxl-items-end { align-items: end; }
    .align-xxl-items-start { align-items: start; }
    .align-xxl-items-stretch { align-items: stretch; }

    .align-xxl-self-baseline { align-self: baseline; }
    .align-xxl-self-center { align-self: center; }
    .align-xxl-self-end { align-self: end; }
    .align-xxl-self-start { align-self: start; }
    .align-xxl-self-stretch { align-self: stretch; }

    .flex-xxl-nowrap { flex-wrap: nowrap; }
    .flex-xxl-wrap { flex-wrap: wrap; }
    .flex-xxl-wrap-reverse { flex-wrap: wrap-reverse; }

    .justify-xxl-content-center { justify-content: center; }
    .justify-xxl-content-end { justify-content: end; }
    .justify-xxl-content-space-around { justify-content: space-around; }
    .justify-xxl-content-space-between { justify-content: space-between; }
    .justify-xxl-content-space-evenly { justify-content: space-evenly; }
    .justify-xxl-content-start { justify-content: start; }

    .order-xxl-first { order: -1; }
    .order-xxl-0 { order: 0; }
    .order-xxl-1 { order: 1; }
    .order-xxl-2 { order: 2; }
    .order-xxl-3 { order: 3; }
    .order-xxl-4 { order: 4; }
    .order-xxl-5 { order: 5; }
    .order-xxl-6 { order: 6; }
    .order-xxl-7 { order: 7; }
    .order-xxl-8 { order: 8; }
    .order-xxl-9 { order: 9; }
    .order-xxl-10 { order: 10; }
    .order-xxl-last { order: 999; }

    .gap-xxl-0 { gap: 0; }
    .gap-xxl-1 { gap: .25rem; }
    .gap-xxl-2 { gap: .5rem; }
    .gap-xxl-3 { gap: 1rem; }
    .gap-xxl-4 { gap: 1.5rem; }
    .gap-xxl-5 { gap: 3rem; }
    .gap-xxl-6 { gap: 4rem; }

    .m-xxl-0 { margin: 0; }
    .m-xxl-1 { margin: .25rem; }
    .m-xxl-2 { margin: .5rem; }
    .m-xxl-3 { margin: 1rem; }
    .m-xxl-4 { margin: 1.5rem; }
    .m-xxl-5 { margin: 3rem; }
    .m-xxl-6 { margin: 4rem; }
    .m-xxl-n1 { margin: -.25rem; }
    .m-xxl-n2 { margin: -0.5rem; }
    .m-xxl-n3 { margin: -1rem; }
    .m-xxl-n4 { margin: -1.5rem; }
    .m-xxl-n5 { margin: -3rem; }
    .m-xxl-n6 { margin: -4rem; }
    .m-xxl-auto { margin: auto; }

    .mb-xxl-0 { margin-bottom: 0; }
    .mb-xxl-1 { margin-bottom: .25rem; }
    .mb-xxl-2 { margin-bottom: .5rem; }
    .mb-xxl-3 { margin-bottom: 1rem; }
    .mb-xxl-4 { margin-bottom: 1.5rem; }
    .mb-xxl-5 { margin-bottom: 3rem; }
    .mb-xxl-6 { margin-bottom: 4rem; }
    .mb-xxl-n1 { margin-bottom: -.25rem; }
    .mb-xxl-n2 { margin-bottom: -0.5rem; }
    .mb-xxl-n3 { margin-bottom: -1rem; }
    .mb-xxl-n4 { margin-bottom: -1.5rem; }
    .mb-xxl-n5 { margin-bottom: -3rem; }
    .mb-xxl-n6 { margin-bottom: -4rem; }
    .mb-xxl-auto { margin-bottom: auto; }

    .mt-xxl-0 { margin-top: 0; }
    .mt-xxl-1 { margin-top: .25rem; }
    .mt-xxl-2 { margin-top: .5rem; }
    .mt-xxl-3 { margin-top: 1rem; }
    .mt-xxl-4 { margin-top: 1.5rem; }
    .mt-xxl-5 { margin-top: 3rem; }
    .mt-xxl-6 { margin-top: 4rem; }
    .mt-xxl-n1 { margin-top: -.25rem; }
    .mt-xxl-n2 { margin-top: -0.5rem; }
    .mt-xxl-n3 { margin-top: -1rem; }
    .mt-xxl-n4 { margin-top: -1.5rem; }
    .mt-xxl-n5 { margin-top: -3rem; }
    .mt-xxl-n6 { margin-top: -4rem; }
    .mt-xxl-auto { margin-top: auto; }

    .me-xxl-0 { margin-inline-end: 0; }
    .me-xxl-1 { margin-inline-end: .25rem; }
    .me-xxl-2 { margin-inline-end: .5rem; }
    .me-xxl-3 { margin-inline-end: 1rem; }
    .me-xxl-4 { margin-inline-end: 1.5rem; }
    .me-xxl-5 { margin-inline-end: 3rem; }
    .me-xxl-6 { margin-inline-end: 4rem; }
    .me-xxl-n1 { margin-inline-end: -.25rem; }
    .me-xxl-n2 { margin-inline-end: -0.5rem; }
    .me-xxl-n3 { margin-inline-end: -1rem; }
    .me-xxl-n4 { margin-inline-end: -1.5rem; }
    .me-xxl-n5 { margin-inline-end: -3rem; }
    .me-xxl-n6 { margin-inline-end: -4rem; }
    .me-xxl-auto { margin-inline-end: auto; }

    .ml-xxl-0 { margin-left: 0; }
    .ml-xxl-1 { margin-left: .25rem; }
    .ml-xxl-2 { margin-left: .5rem; }
    .ml-xxl-3 { margin-left: 1rem; }
    .ml-xxl-4 { margin-left: 1.5rem; }
    .ml-xxl-5 { margin-left: 3rem; }
    .ml-xxl-6 { margin-left: 4rem; }
    .ml-xxl-n1 { margin-left: -.25rem; }
    .ml-xxl-n2 { margin-left: -0.5rem; }
    .ml-xxl-n3 { margin-left: -1rem; }
    .ml-xxl-n4 { margin-left: -1.5rem; }
    .ml-xxl-n5 { margin-left: -3rem; }
    .ml-xxl-n6 { margin-left: -4rem; }
    .ml-xxl-auto { margin-left: auto; }

    .mr-xxl-0 { margin-right: 0; }
    .mr-xxl-1 { margin-right: .25rem; }
    .mr-xxl-2 { margin-right: .5rem; }
    .mr-xxl-3 { margin-right: 1rem; }
    .mr-xxl-4 { margin-right: 1.5rem; }
    .mr-xxl-5 { margin-right: 3rem; }
    .mr-xxl-6 { margin-right: 4rem; }
    .mr-xxl-n1 { margin-right: -.25rem; }
    .mr-xxl-n2 { margin-right: -0.5rem; }
    .mr-xxl-n3 { margin-right: -1rem; }
    .mr-xxl-n4 { margin-right: -1.5rem; }
    .mr-xxl-n5 { margin-right: -3rem; }
    .mr-xxl-n6 { margin-right: -4rem; }
    .mr-xxl-auto { margin-right: auto; }

    .ms-xxl-0 { margin-inline-start: 0; }
    .ms-xxl-1 { margin-inline-start: .25rem; }
    .ms-xxl-2 { margin-inline-start: .5rem; }
    .ms-xxl-3 { margin-inline-start: 1rem; }
    .ms-xxl-4 { margin-inline-start: 1.5rem; }
    .ms-xxl-5 { margin-inline-start: 3rem; }
    .ms-xxl-6 { margin-inline-start: 4rem; }
    .ms-xxl-n1 { margin-inline-start: -.25rem; }
    .ms-xxl-n2 { margin-inline-start: -0.5rem; }
    .ms-xxl-n3 { margin-inline-start: -1rem; }
    .ms-xxl-n4 { margin-inline-start: -1.5rem; }
    .ms-xxl-n5 { margin-inline-start: -3rem; }
    .ms-xxl-n6 { margin-inline-start: -4rem; }
    .ms-xxl-auto { margin-inline-start: auto; }

    .mx-xxl-0 { margin-left: 0; margin-right: 0; }
    .mx-xxl-1 { margin-left: .25rem; margin-right: .25rem; }
    .mx-xxl-2 { margin-left: .5rem; margin-right: .5rem; }
    .mx-xxl-3 { margin-left: 1rem; margin-right: 1rem; }
    .mx-xxl-4 { margin-left: 1.5rem; margin-right: 1.5rem; }
    .mx-xxl-5 { margin-left: 3rem; margin-right: 3rem; }
    .mx-xxl-6 { margin-left: 4rem; margin-right: 4rem; }
    .mx-xxl-n1 { margin-left: -.25rem; margin-right: -.25rem; }
    .mx-xxl-n2 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .mx-xxl-n3 { margin-left: -1rem; margin-right: -1rem; }
    .mx-xxl-n4 { margin-left: -1.5rem; margin-right: -1.5rem; }
    .mx-xxl-n5 { margin-left: -3rem; margin-right: -3rem; }
    .mx-xxl-n6 { margin-left: -4rem; margin-right: -4rem; }
    .mx-xxl-auto { margin-left: auto; margin-right: auto; }

    .my-xxl-0 { margin-bottom: 0; margin-top: 0; }
    .my-xxl-1 { margin-bottom: .25rem; margin-top: .25rem; }
    .my-xxl-2 { margin-bottom: .5rem; margin-top: .5rem; }
    .my-xxl-3 { margin-bottom: 1rem; margin-top: 1rem; }
    .my-xxl-4 { margin-bottom: 1.5rem; margin-top: 1.5rem; }
    .my-xxl-5 { margin-bottom: 3rem; margin-top: 3rem; }
    .my-xxl-6 { margin-bottom: 4rem; margin-top: 4rem; }
    .my-xxl-n1 { margin-bottom: -.25rem; margin-top: -.25rem; }
    .my-xxl-n2 { margin-bottom: -0.5rem; margin-top: -0.5rem; }
    .my-xxl-n3 { margin-bottom: -1rem; margin-top: -1rem; }
    .my-xxl-n4 { margin-bottom: -1.5rem; margin-top: -1.5rem; }
    .my-xxl-n5 { margin-bottom: -3rem; margin-top: -3rem; }
    .my-xxl-n6 { margin-bottom: -4rem; margin-top: -4rem; }
    .my-xxl-auto { margin-bottom: auto; margin-top: auto; }

    .p-xxl-0 { padding: 0; }
    .p-xxl-1 { padding: .25rem; }
    .p-xxl-2 { padding: .5rem; }
    .p-xxl-3 { padding: 1rem; }
    .p-xxl-4 { padding: 1.5rem; }
    .p-xxl-5 { padding: 3rem; }
    .p-xxl-6 { padding: 4rem; }
    .p-xxl-n1 { padding: -.25rem; }
    .p-xxl-n2 { padding: -0.5rem; }
    .p-xxl-n3 { padding: -1rem; }
    .p-xxl-n4 { padding: -1.5rem; }
    .p-xxl-n5 { padding: -3rem; }
    .p-xxl-n6 { padding: -4rem; }

    .pb-xxl-0 { padding-bottom: 0; }
    .pb-xxl-1 { padding-bottom: .25rem; }
    .pb-xxl-2 { padding-bottom: .5rem; }
    .pb-xxl-3 { padding-bottom: 1rem; }
    .pb-xxl-4 { padding-bottom: 1.5rem; }
    .pb-xxl-5 { padding-bottom: 3rem; }
    .pb-xxl-6 { padding-bottom: 4rem; }
    .pb-xxl-n1 { padding-bottom: -.25rem; }
    .pb-xxl-n2 { padding-bottom: -0.5rem; }
    .pb-xxl-n3 { padding-bottom: -1rem; }
    .pb-xxl-n4 { padding-bottom: -1.5rem; }
    .pb-xxl-n5 { padding-bottom: -3rem; }
    .pb-xxl-n6 { padding-bottom: -4rem; }

    .pt-xxl-0 { padding-top: 0; }
    .pt-xxl-1 { padding-top: .25rem; }
    .pt-xxl-2 { padding-top: .5rem; }
    .pt-xxl-3 { padding-top: 1rem; }
    .pt-xxl-4 { padding-top: 1.5rem; }
    .pt-xxl-5 { padding-top: 3rem; }
    .pt-xxl-6 { padding-top: 4rem; }
    .pt-xxl-n1 { padding-top: -.25rem; }
    .pt-xxl-n2 { padding-top: -0.5rem; }
    .pt-xxl-n3 { padding-top: -1rem; }
    .pt-xxl-n4 { padding-top: -1.5rem; }
    .pt-xxl-n5 { padding-top: -3rem; }
    .pt-xxl-n6 { padding-top: -4rem; }

    .pe-xxl-0 { padding-inline-end: 0; }
    .pe-xxl-1 { padding-inline-end: .25rem; }
    .pe-xxl-2 { padding-inline-end: .5rem; }
    .pe-xxl-3 { padding-inline-end: 1rem; }
    .pe-xxl-4 { padding-inline-end: 1.5rem; }
    .pe-xxl-5 { padding-inline-end: 3rem; }
    .pe-xxl-6 { padding-inline-end: 4rem; }
    .pe-xxl-n1 { padding-inline-end: -.25rem; }
    .pe-xxl-n2 { padding-inline-end: -0.5rem; }
    .pe-xxl-n3 { padding-inline-end: -1rem; }
    .pe-xxl-n4 { padding-inline-end: -1.5rem; }
    .pe-xxl-n5 { padding-inline-end: -3rem; }
    .pe-xxl-n6 { padding-inline-end: -4rem; }

    .pl-xxl-0 { padding-left: 0; }
    .pl-xxl-1 { padding-left: .25rem; }
    .pl-xxl-2 { padding-left: .5rem; }
    .pl-xxl-3 { padding-left: 1rem; }
    .pl-xxl-4 { padding-left: 1.5rem; }
    .pl-xxl-5 { padding-left: 3rem; }
    .pl-xxl-6 { padding-left: 4rem; }
    .pl-xxl-n1 { padding-left: -.25rem; }
    .pl-xxl-n2 { padding-left: -0.5rem; }
    .pl-xxl-n3 { padding-left: -1rem; }
    .pl-xxl-n4 { padding-left: -1.5rem; }
    .pl-xxl-n5 { padding-left: -3rem; }
    .pl-xxl-n6 { padding-left: -4rem; }

    .pr-xxl-0 { padding-right: 0; }
    .pr-xxl-1 { padding-right: .25rem; }
    .pr-xxl-2 { padding-right: .5rem; }
    .pr-xxl-3 { padding-right: 1rem; }
    .pr-xxl-4 { padding-right: 1.5rem; }
    .pr-xxl-5 { padding-right: 3rem; }
    .pr-xxl-6 { padding-right: 4rem; }
    .pr-xxl-n1 { padding-right: -.25rem; }
    .pr-xxl-n2 { padding-right: -0.5rem; }
    .pr-xxl-n3 { padding-right: -1rem; }
    .pr-xxl-n4 { padding-right: -1.5rem; }
    .pr-xxl-n5 { padding-right: -3rem; }
    .pr-xxl-n6 { padding-right: -4rem; }

    .ps-xxl-0 { padding-inline-start: 0; }
    .ps-xxl-1 { padding-inline-start: .25rem; }
    .ps-xxl-2 { padding-inline-start: .5rem; }
    .ps-xxl-3 { padding-inline-start: 1rem; }
    .ps-xxl-4 { padding-inline-start: 1.5rem; }
    .ps-xxl-5 { padding-inline-start: 3rem; }
    .ps-xxl-6 { padding-inline-start: 4rem; }
    .ps-xxl-n1 { padding-inline-start: -.25rem; }
    .ps-xxl-n2 { padding-inline-start: -0.5rem; }
    .ps-xxl-n3 { padding-inline-start: -1rem; }
    .ps-xxl-n4 { padding-inline-start: -1.5rem; }
    .ps-xxl-n5 { padding-inline-start: -3rem; }
    .ps-xxl-n6 { padding-inline-start: -4rem; }

    .px-xxl-0 { padding-left: 0; padding-right: 0; }
    .px-xxl-1 { padding-left: .25rem; padding-right: .25rem; }
    .px-xxl-2 { padding-left: .5rem; padding-right: .5rem; }
    .px-xxl-3 { padding-left: 1rem; padding-right: 1rem; }
    .px-xxl-4 { padding-left: 1.5rem; padding-right: 1.5rem; }
    .px-xxl-5 { padding-left: 3rem; padding-right: 3rem; }
    .px-xxl-6 { padding-left: 4rem; padding-right: 4rem; }
    .px-xxl-n1 { padding-left: -.25rem; padding-right: -.25rem; }
    .px-xxl-n2 { padding-left: -0.5rem; padding-right: -0.5rem; }
    .px-xxl-n3 { padding-left: -1rem; padding-right: -1rem; }
    .px-xxl-n4 { padding-left: -1.5rem; padding-right: -1.5rem; }
    .px-xxl-n5 { padding-left: -3rem; padding-right: -3rem; }
    .px-xxl-n6 { padding-left: -4rem; padding-right: -4rem; }

    .py-xxl-0 { padding-bottom: 0; padding-top: 0; }
    .py-xxl-1 { padding-bottom: .25rem; padding-top: .25rem; }
    .py-xxl-2 { padding-bottom: .5rem; padding-top: .5rem; }
    .py-xxl-3 { padding-bottom: 1rem; padding-top: 1rem; }
    .py-xxl-4 { padding-bottom: 1.5rem; padding-top: 1.5rem; }
    .py-xxl-5 { padding-bottom: 3rem; padding-top: 3rem; }
    .py-xxl-6 { padding-bottom: 4rem; padding-top: 4rem; }
    .py-xxl-n1 { padding-bottom: -.25rem; padding-top: -.25rem; }
    .py-xxl-n2 { padding-bottom: -0.5rem; padding-top: -0.5rem; }
    .py-xxl-n3 { padding-bottom: -1rem; padding-top: -1rem; }
    .py-xxl-n4 { padding-bottom: -1.5rem; padding-top: -1.5rem; }
    .py-xxl-n5 { padding-bottom: -3rem; padding-top: -3rem; }
    .py-xxl-n6 { padding-bottom: -4rem; padding-top: -4rem; }

    .overflow-xxl-auto { overflow: auto; }
    .overflow-xxl-hidden { overflow: hidden; }
    .overflow-xxl-scroll { overflow: scroll; }
    .overflow-xxl-visible { overflow: visible; }

    .text-xxl-center { text-align: center; }
    .text-xxl-end { text-align: end; }
    .text-xxl-left { text-align: left; }
    .text-xxl-right { text-align: right; }
    .text-xxl-start { text-align: start; }

    .text-xxl-capitalize { text-transform: capitalize; }
    .text-xxl-lowercase { text-transform: lowercase; }
    .text-xxl-uppercase { text-transform: uppercase; }

    .align-xxl-baseline { vertical-align: baseline; }
    .align-xxl-bottom { vertical-align: bottom; }
    .align-xxl-middle { vertical-align: middle; }
    .align-xxl-text-bottom { vertical-align: text-bottom; }
    .align-xxl-text-top { vertical-align: text-top; }
    .align-xxl-top { vertical-align: top; }
}