<Dialog Style="min-width: 16rem">
    <ChildContent>
        <TextInput @bind-Value="Text"
                   UpdateOnInput="true"
                   OnValidEnter="@(_ => Dialog?.Close(Text ?? string.Empty))"
                   Placeholder="Enter your text here" />
    </ChildContent>
    <FooterContent>
        <button class="btn btn-text primary"
                disabled="@string.IsNullOrWhiteSpace(Text)"
                @onclick="@(_ => Dialog?.Close(Text ?? string.Empty))">OK</button>
        <button class="btn btn-text" @onclick="@(_ => Dialog?.Cancel())">Cancel</button>
    </FooterContent>
</Dialog>

@code {
    [Parameter] public string? Text { get; set; }

    [CascadingParameter] private DialogInstance? Dialog { get; set; }
}
