@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @onclick="OnClickAsync">
    @if (ChildContent is null)
    {
        <span class="btn btn-icon primary filled">
            <tf-icon>expand_less</tf-icon>
        </span>
    }
    else
    {
        @ChildContent
    }
</div>
