@page "/utilities/display"

<PageTitle>Display - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Display</Heading>

<p>
    The Tavenem Blazor Framework provides a number of utility classes to control the
    <code>display</code> property of elements:
</p>

<ul>
    <li><code>d-block</code></li>
    <li><code>d-flex</code></li>
    <li><code>d-grid</code></li>
    <li><code>d-inline</code></li>
    <li><code>d-inline-block</code></li>
    <li><code>d-inline-flex</code></li>
    <li><code>d-none</code></li>
    <li><code>d-table</code></li>
    <li><code>d-table-cell</code></li>
    <li><code>d-table-row</code></li>
</ul>

<p>
    There are also variations of each display class with <a href="./layout/breakpoints">breakpoint
    infixes</a> to use them only above certain viewport sizes. For example:
</p>

<ul>
    <li><code>d-sm-block</code></li>
    <li><code>d-md-block</code></li>
    <li><code>d-lg-block</code></li>
    <li><code>d-xl-block</code></li>
    <li><code>d-xxl-block</code></li>
</ul>

<p>
    There are also print variant of the display classes, which only apply when the document is
    formatted for printing:
</p>

<ul>
    <li><code>d-print-block</code></li>
    <li><code>d-print-flex</code></li>
    <li><code>d-print-grid</code></li>
    <li><code>d-print-inline</code></li>
    <li><code>d-print-inline-block</code></li>
    <li><code>d-print-inline-flex</code></li>
    <li><code>d-print-none</code></li>
    <li><code>d-print-table</code></li>
    <li><code>d-print-table-cell</code></li>
    <li><code>d-print-table-row</code></li>
</ul>

<Heading Level="HeadingLevel.H1">Visibility</Heading>

<p>
    To control the <code>visibility</code> property without affecting display or layout, use the
    utility classes <code>visible</code> and <code>invisible</code> (which sets
    <code>visibility</code> to <code>hidden</code>).
</p>

<p>
    You can also control the visibility of elements, while keeping it readable to assistive
    technology such as screenreaders with the <code>visually-hidden</code> and
    <code>visually-hidden-focusable</code> classes.
</p>
