@page "/utilities/images"

<PageTitle>Images - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Images</Heading>

<p>
    The <code>img-fluid</code> class applies <code>max-width: 100%</code> and <code>height:
    auto</code> to make an image scale with its parent container's width.
</p>