@page "/utilities/shake"

<PageTitle>Shake - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Shake</Heading>

<Heading Level="HeadingLevel.H1">Class</Heading>

<p>
    The Tavenem Blazor Framework includes both a CSS class and a utility method which cause an
    element to shake side-to-side briefly.
</p>

<p>
    Apply the class <code>shake</code> to cause any element to shake momentarily. Use
    <code>shake-hover</code> instead to cause the element to shake on hover:
</p>

<CodeExample Code="@(@"<div class=""row"">
    <div class=""shake bg-alt"" style=""height:5em;width:5em""></div>
    <div class=""shake-hover bg-alt"" style=""height:5em;width:5em""></div>
</div>")" />

<Heading Level="HeadingLevel.H1">Method</Heading>

<p>
    You can also initiate a shake programmatically: inject an instance of
    <code>FrameworkJsInterop</code> in a component, and call the <code>Shake</code> method with the
    <code>id</code> of an element as a parameter to cause that element to shake on command.
</p>
<div class="codeblock pre-razor-code">
    <pre>
        <span class="pre-operator">[</span><span class="pre-class">Inject</span><span class="pre-operator">]</span> <span class="pre-class">FrameworkJsInterop</span> service<span class="pre-operator">;</span>

<span class="pre-method">SomeMethod</span><span class="pre-operator">()</span>
<span class="pre-operator">{</span>
    service<span class="pre-operator">.</span><span class="pre-method">Shake</span><span class="pre-operator">(</span><span class="pre-string">"myElement"</span><span class="pre-operator">);</span>
<span class="pre-operator">}</span>
    </pre>
</div>

<p>
    The <code>Shake</code> method can be called repeatedly, but if it's called with the same element
    <code>id</code> within 1 second of being called previously, it will have no effect. The ongoing
    shake animation will continue until finished.
</p>
