@page "/utilities/stretched-link"

<PageTitle>Stretched Link - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Stretched Link</Heading>

<p>
    Any element can be made into a link by adding the <code>stretched-link</code> class to an anchor
    element within it. The parent element which should be clickable should have its
    <code>position</code> set to <code>relative</code>.
</p>

<CodeExample Code="@(@"<div class=""bg-alt p-5 position-relative"">
    <a class=""stretched-link"" href="""">This link has been stretched</a>
</div>")" />

<p>
    Note that some components may include elements with <code>relative</code> <code>position</code>
    already, so it may not always be possible to stretch a link to the extent you intend. In such
    cases, other mechanisms for making the outer element clickable must be employed (e.g. override
    <code>&#64;onclick</code>).
</p>
