@page "/utilities/bullets"

<PageTitle>Bullets - Tavenem Blazor Framework</PageTitle>

<h1>Bullets</h1>

<p>
    The Tavenem Blazor Framework resets the default <code>list-style</code> of unordered lists
    (<code>ul</code>) to <code>none</code>, so that the semantic element can more easily be used
    anywhere a list of items is called for.
</p>

<p>
    To restore the bullets in cases where a bullet-point list is actually intended, you can add the
    utility class <code>bullets</code> to a <code>ul</code> element. This applies <code>list-style:
    disc outside none</code>, and <code>list-style-type: circle</code> to child <code>ul</code>
    elements.
</p>

<CodeExample Code="@(@"<div class=""row"">
    <ul>
        <li>Item 1</li>
        <li>
            Item 2
            <ul>
                <li>Item 2-1</li>
            </ul>
        </li>
        <li>Item 3</li>
    </ul>
    <ul class=""bullets"">
        <li>Item 1</li>
        <li>
            Item 2
            <ul>
                <li>Item 2-1</li>
            </ul>
        </li>
        <li>Item 3</li>
    </ul>
</div>")" />

<h1>Inline</h1>

<p>
    Alternatively, you can apply the <code>inline</code> class to <code>ul</code>, <code>ol</code>,
    or <code>dl</code> elements to set the <code>list-style</code> to <code>none</code>, remove the
    default padding and margins from the list and its children, make the list an inline, wrapping
    flexbox container, and add a <code>gap</code> of .5 rem between the child elements:
</p>

<CodeExample Code="@(@"<ul class=""inline"">
    <li>Item 1</li>
        <li>
            Item 2
            <ul>
                <li>Item 2-1</li>
            </ul>
        </li>
    <li>Item 3</li>
</ul>")" />
