@page "/utilities/float"

<PageTitle>Float - Tavenem Blazor Framework</PageTitle>

<h1>Float</h1>

<p>
    The Tavenem Blazor Framework provides a number of utility classes to control the
    <code>float</code> property of elements:
</p>

<ul>
    <li><code>float-end</code></li>
    <li><code>float-left</code></li>
    <li><code>float-none</code></li>
    <li><code>float-right</code></li>
    <li><code>float-start</code></li>
</ul>

<p>
    There are also variations of each float class with <a href="./layout/breakpoints">breakpoint
    infixes</a> to use them only above certain viewport sizes. For example:
</p>

<ul>
    <li><code>float-sm-end</code></li>
    <li><code>float-md-end</code></li>
    <li><code>float-lg-end</code></li>
    <li><code>float-xl-end</code></li>
    <li><code>float-xxl-end</code></li>
</ul>

<h1>Clearfix</h1>

<p>
    To clear floats add the <code>clearfix</code> class to the parent element of the floated element.
</p>
