@page "/utilities/images"

<PageTitle>Images - Tavenem Blazor Framework</PageTitle>

<h1>Images</h1>

<p>
    The <code>img-fluid</code> class applies <code>max-width: 100%</code> and <code>height:
    auto</code> to make an image scale with its parent container's width.
</p>

<h1>SVG Icons</h1>

<p>
    The <code>svg-icon</code> class applies <code>height: 1.5em</code> and <code>fill:
    currentColor</code> to make an <code>svg</code> fit the look and feel of its surroundings.
</p>