@page "/utilities/images"

<PageTitle>Images - Tavenem Blazor Framework</PageTitle>

<h1>Images</h1>

<p>
    The <code>img-fluid</code> class applies <code>max-width: 100%</code> and <code>height:
    auto</code> to make an image scale with its parent container's width.
</p>

<CodeExample IsOpen="false" Code="@(@"<div class=""p-3"">
    <div style=""height:5em;width:5em"">
        <img class=""img-fluid"" src=""./images/rover.webp"">
    </div>
</div>")" />

<h1>SVG Icons</h1>

<p>
    The <code>svg-icon</code> class applies <code>height: 1.5em</code> and <code>fill:
    currentColor</code> to make an <code>svg</code> fit the look and feel of its surroundings.
</p>

<CodeExample IsOpen="false" Code="@(@"<div class=""p-3"">
    <span>This is some text with an svg <svg xmlns=""http://www.w3.org/2000/svg"" class=""svg-icon"" viewBox=""0 -960 960 960""><path d=""M480-80 120-280v-400l360-200 360 200v400L480-80ZM364-590q23-24 53-37t63-13q33 0 63 13t53 37l120-67-236-131-236 131 120 67Zm76 396v-131q-54-14-87-57t-33-98q0-11 1-20.5t4-19.5l-125-70v263l240 133Zm40-206q33 0 56.5-23.5T560-480q0-33-23.5-56.5T480-560q-33 0-56.5 23.5T400-480q0 33 23.5 56.5T480-400Zm40 206 240-133v-263l-125 70q3 10 4 19.5t1 20.5q0 55-33 98t-87 57v131Z""/></svg> embedded inline.</span>
</div>")" />