@page "/utilities/interaction"

<PageTitle>Interaction - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Interaction</Heading>

<p>
    The Tavenem Blazor Framework provides a number of utility classes to help control user interactions with elements.
</p>

<Heading Level="HeadingLevel.H2">Selection</Heading>

<p>
    The <code>user-select-all</code>, <code>user-select-auto</code>, and <code>user-select-none</code> classes control selection within an element. Try selecting the text within each example below:
</p>

<CodeExample Code="@(@"<div>
    <p class=""user-select-all"">Select all</p>
    <p class=""user-select-auto"">Select auto</p>
    <p class=""user-select-none"">Select none</p>
</div>")" />

<Heading Level="HeadingLevel.H2">Pointer events</Heading>

<p>
    The <code>pointer-events</code> property can be set with the <code>pe-auto</code> or <code>pe-none</code> classes.
</p>
