@page "/utilities/overflow"

<PageTitle>Overflow - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Overflow</Heading>

<p>
    The Tavenem Blazor Framework provides a number of utility classes to control the
    <code>overflow</code> property of elements:
</p>

<ul>
    <li><code>overflow-auto</code></li>
    <li><code>overflow-hidden</code></li>
    <li><code>overflow-scroll</code></li>
    <li><code>overflow-visible</code></li>
</ul>

<p>
    There are also variations of each overflow class with <a href="./layout/breakpoints">breakpoint
    infixes</a> to use them only above certain viewport sizes. For example:
</p>

<ul>
    <li><code>overflow-sm-auto</code></li>
    <li><code>overflow-md-auto</code></li>
    <li><code>overflow-lg-auto</code></li>
    <li><code>overflow-xl-auto</code></li>
    <li><code>overflow-xxl-auto</code></li>
</ul>

