@page "/utilities/shadows"

<PageTitle>Shadows - Tavenem Blazor Framework</PageTitle>

<h1>Shadows</h1>

<p>
    The Tavenem Blazor Framework provides utility classes to set five levels of box shadow (a.k.a
    elevation):
</p>

<CodeExample Code="@(@"<div class=""row p-3 gap-6"">
    <div class=""elevation-1 filled primary"" style=""height:5em;width:5em""></div>
    <div class=""elevation-2 filled primary"" style=""height:5em;width:5em""></div>
    <div class=""elevation-3 filled primary"" style=""height:5em;width:5em""></div>
    <div class=""elevation-4 filled primary"" style=""height:5em;width:5em""></div>
    <div class=""elevation-5 filled primary"" style=""height:5em;width:5em""></div>
</div>")" />

<p>
    You can also use <code>elevation-0</code> to remove the box shadow from an element which would
    normally have one (including any shadow added on hover/focus/active).
</p>