@page "/utilities/vertical-rule"

<PageTitle>Vertical Rule - Tavenem Blazor Framework</PageTitle>

<h1>Vertical Rule</h1>

<p>
    To create a vertical divider similar to the horizontal divider created by the <code>hr</code>
    element, use the <code>vr</code> class on a <code>div</code>. There are <code>dark</code> and
    <code>light</code> variants:
</p>

<CodeExample Code="@(@"<div class=""p-3"">
    Item 1
    <div class=""vr""></div>
    Item 2
</div>")" />

<p>
    The color of the divider is ordinarily controlled by whether the site is in light or dark mode
    (see <a href="./components/lightdarktoggle">LightDarkToggle</a> for details). You can force the
    line color to be either light or dark by using the additional classes <code>light</code> or
    <code>dark</code>, respectively. This may be helpful when using the vertical rule on a themed
    background.
</p>

<p>
    Vertical rules stretch to fit horizontal flexbox containers and grids:
</p>

<CodeExample Code="@(@"<div class=""row bg-alt m-3"" style=""height:8rem"">
    <div class=""p-2"">Item 1</div>
    <div class=""vr""></div>
    <div class=""p-2"">Item 2</div>
</div>")" />
