@page "/test"
@rendermode InteractiveWebAssembly

<PageTitle>Test</PageTitle>

<Checkbox @bind-Value="value" Label="Value" />
<button @onclick="() => value = false">False</button>
<button @onclick="() => value = null">Null</button>
<button @onclick="() => value = true">True</button>

@code {
    private bool? value = null;
}