@page "/test"
@rendermode InteractiveWebAssembly

<PageTitle>Test</PageTitle>

<CodeExample RowClass="fill" Code="@(@"<TextInput Label=""Suggestions"" HelpText=""Start typing to get suggestions"" LoadSuggestions=""LoadSuggestedValues"">
    <SuggestionTemplate>
        <span>Suggestion #@context</span>
    </SuggestionTemplate>
</TextInput>

@code {
    private Task<IEnumerable<KeyValuePair<string, object>>> LoadSuggestedValues(string value) => Task.FromResult(Enumerable
        .Range(1, 5)
        .Select(x => new KeyValuePair<string, object>($""Suggestion {x}"", x)));
}")">
    <TextInput Label="Suggestions" HelpText="Start typing to get suggestions" LoadSuggestions="LoadSuggestedValues">
        <SuggestionTemplate>
            <span>Suggestion #@context</span>
        </SuggestionTemplate>
    </TextInput>
</CodeExample>

@code {
    private Task<IEnumerable<KeyValuePair<string, object>>> LoadSuggestedValues(string value) => Task.FromResult(Enumerable
        .Range(1, 5)
        .Select(x => new KeyValuePair<string, object>($"Suggestion {x}", x))
        .Where(x => x.Key.Contains(value, StringComparison.OrdinalIgnoreCase)));
}