@page "/test"
@rendermode InteractiveWebAssembly

<PageTitle>Test</PageTitle>

<TextInput @bind-Value="@value" Label="Value" />
<button @onclick="SetTest">test</button>
<button @onclick="() => value = null">Null</button>

@code {
    private string? value = null;
    private void SetTest()
    {
        value = "test";
    }
}