@page "/test"
@rendermode InteractiveWebAssembly

<PageTitle>Test</PageTitle>

<TextInput @bind-Value="_value" Label="Bound" Class="align-self-stretch" />
<span>Bound value: @_value</span>

@code {
    private string? _value = "Example";
}