dt {
    --tavenem-mono: 1;
    color: #015D8E;
    font-family: var(--tavenem-font-family-monospace);
}
[data-theme="dark"] dt {
    color: #9cdcfe;
}

.swatch {
    display: inline-block;
    height: 1rem;
    margin-inline-end: .25rem;
    vertical-align: text-top;
    width: 1rem;
}
