@page "/layout/breakpoints"

<PageTitle>Breakpoints - Tavenem Blazor Framework</PageTitle>

<h1>Breakpoints</h1>

<p>
    The Tavenem Blazor Framework uses a set of 5 breakpoints to help design responsive layouts for
    devices of different sizes.
</p>

<p>
    Various utility classes can have a breakpoint infix applied to apply the class's styles only
    when the viewport is at least as large as the breakpoint specifies.
</p>

<h2>Breakpoint Sizes</h2>

<table style="margin-left:auto;margin-right:auto;width:auto">
    <thead>
        <tr style="border-bottom:1px solid var(--tavenem-color-border-table)">
            <th style="padding-inline-end:2rem">Breakpoint</th>
            <th style="padding-inline-end:2rem">CSS class infix</th>
            <th style="padding-inline-end:2rem">Viewport size</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding-inline-end:2rem">Small</td>
            <td>sm</td>
            <td>&ge;576px</td>
        </tr>
        <tr>
            <td style="padding-inline-end:2rem">Medium</td>
            <td>md</td>
            <td>&ge;768px</td>
        </tr>
        <tr>
            <td style="padding-inline-end:2rem">Large</td>
            <td>lg</td>
            <td>&ge;992px</td>
        </tr>
        <tr>
            <td style="padding-inline-end:2rem">Extra large</td>
            <td>xl</td>
            <td>&ge;1200px</td>
        </tr>
        <tr>
            <td style="padding-inline-end:2rem">Extra extra large</td>
            <td>xxl</td>
            <td>&ge;1400px</td>
        </tr>
    </tbody>
</table>
