@media (min-width: 768px) {
    .d-md-block { display: block; }
    .d-md-flex { display: flex; }
    .d-md-grid { display: grid; }
    .d-md-inline { display: inline; }
    .d-md-inline-block { display: inline-block; }
    .d-md-inline-flex { display: inline-flex; }
    .d-md-none { display: none; }
    .d-md-table { display: table; }
    .d-md-table-cell { display: table-cell; }
    .d-md-table-row { display: table-row; }

    .position-md-absolute { position: absolute; }
    .position-md-fixed { position: fixed; }
    .position-md-relative { position: relative; }
    .position-md-static { position: static; }
    .position-md-sticky { position: sticky; }

    .h-md-25 { height: 25%; }
    .h-md-33 { height: 33%; }
    .h-md-50 { height: 50%; }
    .h-md-67 { height: 67%; }
    .h-md-75 { height: 75%; }
    .h-md-100 { height: 100%; }
    .h-md-auto { height: auto; }

    .w-md-25 { width: 25%; }
    .w-md-33 { width: 33%; }
    .w-md-50 { width: 50%; }
    .w-md-67 { width: 67%; }
    .w-md-75 { width: 75%; }
    .w-md-100 { width: 100%; }
    .w-md-auto { width: auto; }

    .flex-md-column { flex-direction: column; }
    .flex-md-column-reverse { flex-direction: column-reverse; }
    .flex-md-row { flex-direction: row; }
    .flex-md-row-reverse { flex-direction: row-reverse; }

    .float-md-end { float: inline-end; }
    .float-md-left { float: left; }
    .float-md-none { float: none; }
    .float-md-right { float: right; }
    .float-md-start { float: inline-start; }
    
    .fixed-md {
        position: fixed;
        z-index: calc(var(--tavenem-zindex-fixed) + 11);
    }

    .sticky-md {
        position: sticky;
        top: 0;
        z-index: calc(var(--tavenem-zindex-fixed) + 10);
    }

    .flex-md-fill { flex: 1 1 auto; }

    .flex-md-grow-0 { flex-grow: 0; }
    .flex-md-grow-1 { flex-grow: 1; }
    .flex-md-grow-2 { flex-grow: 2; }
    .flex-md-grow-3 { flex-grow: 3; }
    .flex-md-grow-4 { flex-grow: 4; }
    .flex-md-grow-5 { flex-grow: 5; }

    .flex-md-shrink-0 { flex-shrink: 0; }
    .flex-md-shrink-1 { flex-shrink: 1; }

    .align-md-content-center { align-content: center; }
    .align-md-content-end { align-content: end; }
    .align-md-content-start { align-content: start; }
    .align-md-content-space-around { align-content: space-around; }
    .align-md-content-space-between { align-content: space-between; }
    .align-md-content-stretch { align-content: stretch; }

    .align-md-items-baseline { align-items: baseline; }
    .align-md-items-center { align-items: center; }
    .align-md-items-end { align-items: end; }
    .align-md-items-start { align-items: start; }
    .align-md-items-stretch { align-items: stretch; }

    .align-md-self-baseline { align-self: baseline; }
    .align-md-self-center { align-self: center; }
    .align-md-self-end { align-self: end; }
    .align-md-self-start { align-self: start; }
    .align-md-self-stretch { align-self: stretch; }

    .flex-md-nowrap { flex-wrap: nowrap; }
    .flex-md-wrap { flex-wrap: wrap; }
    .flex-md-wrap-reverse { flex-wrap: wrap-reverse; }

    .justify-md-content-center { justify-content: center; }
    .justify-md-content-end { justify-content: end; }
    .justify-md-content-space-around { justify-content: space-around; }
    .justify-md-content-space-between { justify-content: space-between; }
    .justify-md-content-space-evenly { justify-content: space-evenly; }
    .justify-md-content-start { justify-content: start; }

    .order-md-first { order: -1; }
    .order-md-0 { order: 0; }
    .order-md-1 { order: 1; }
    .order-md-2 { order: 2; }
    .order-md-3 { order: 3; }
    .order-md-4 { order: 4; }
    .order-md-5 { order: 5; }
    .order-md-6 { order: 6; }
    .order-md-7 { order: 7; }
    .order-md-8 { order: 8; }
    .order-md-9 { order: 9; }
    .order-md-10 { order: 10; }
    .order-md-last { order: 999; }

    .gap-sm-0 { gap: 0; }
    .gap-sm-1 { gap: .25rem; }
    .gap-sm-2 { gap: .5rem; }
    .gap-sm-3 { gap: 1rem; }
    .gap-sm-4 { gap: 1.5rem; }
    .gap-sm-5 { gap: 3rem; }
    .gap-sm-6 { gap: 4rem; }

    .m-md-0 { margin: 0; }
    .m-md-1 { margin: .25rem; }
    .m-md-2 { margin: .5rem; }
    .m-md-3 { margin: 1rem; }
    .m-md-4 { margin: 1.5rem; }
    .m-md-5 { margin: 3rem; }
    .m-md-6 { margin: 4rem; }
    .m-md-n1 { margin: -.25rem; }
    .m-md-n2 { margin: -0.5rem; }
    .m-md-n3 { margin: -1rem; }
    .m-md-n4 { margin: -1.5rem; }
    .m-md-n5 { margin: -3rem; }
    .m-md-n6 { margin: -4rem; }
    .m-md-auto { margin: auto; }

    .mb-md-0 { margin-bottom: 0; }
    .mb-md-1 { margin-bottom: .25rem; }
    .mb-md-2 { margin-bottom: .5rem; }
    .mb-md-3 { margin-bottom: 1rem; }
    .mb-md-4 { margin-bottom: 1.5rem; }
    .mb-md-5 { margin-bottom: 3rem; }
    .mb-md-6 { margin-bottom: 4rem; }
    .mb-md-n1 { margin-bottom: -.25rem; }
    .mb-md-n2 { margin-bottom: -0.5rem; }
    .mb-md-n3 { margin-bottom: -1rem; }
    .mb-md-n4 { margin-bottom: -1.5rem; }
    .mb-md-n5 { margin-bottom: -3rem; }
    .mb-md-n6 { margin-bottom: -4rem; }
    .mb-md-auto { margin-bottom: auto; }

    .mt-md-0 { margin-top: 0; }
    .mt-md-1 { margin-top: .25rem; }
    .mt-md-2 { margin-top: .5rem; }
    .mt-md-3 { margin-top: 1rem; }
    .mt-md-4 { margin-top: 1.5rem; }
    .mt-md-5 { margin-top: 3rem; }
    .mt-md-6 { margin-top: 4rem; }
    .mt-md-n1 { margin-top: -.25rem; }
    .mt-md-n2 { margin-top: -0.5rem; }
    .mt-md-n3 { margin-top: -1rem; }
    .mt-md-n4 { margin-top: -1.5rem; }
    .mt-md-n5 { margin-top: -3rem; }
    .mt-md-n6 { margin-top: -4rem; }
    .mt-md-auto { margin-top: auto; }

    .me-md-0 { margin-inline-end: 0; }
    .me-md-1 { margin-inline-end: .25rem; }
    .me-md-2 { margin-inline-end: .5rem; }
    .me-md-3 { margin-inline-end: 1rem; }
    .me-md-4 { margin-inline-end: 1.5rem; }
    .me-md-5 { margin-inline-end: 3rem; }
    .me-md-6 { margin-inline-end: 4rem; }
    .me-md-n1 { margin-inline-end: -.25rem; }
    .me-md-n2 { margin-inline-end: -0.5rem; }
    .me-md-n3 { margin-inline-end: -1rem; }
    .me-md-n4 { margin-inline-end: -1.5rem; }
    .me-md-n5 { margin-inline-end: -3rem; }
    .me-md-n6 { margin-inline-end: -4rem; }
    .me-md-auto { margin-inline-end: auto; }

    .ml-md-0 { margin-left: 0; }
    .ml-md-1 { margin-left: .25rem; }
    .ml-md-2 { margin-left: .5rem; }
    .ml-md-3 { margin-left: 1rem; }
    .ml-md-4 { margin-left: 1.5rem; }
    .ml-md-5 { margin-left: 3rem; }
    .ml-md-6 { margin-left: 4rem; }
    .ml-md-n1 { margin-left: -.25rem; }
    .ml-md-n2 { margin-left: -0.5rem; }
    .ml-md-n3 { margin-left: -1rem; }
    .ml-md-n4 { margin-left: -1.5rem; }
    .ml-md-n5 { margin-left: -3rem; }
    .ml-md-n6 { margin-left: -4rem; }
    .ml-md-auto { margin-left: auto; }

    .mr-md-0 { margin-right: 0; }
    .mr-md-1 { margin-right: .25rem; }
    .mr-md-2 { margin-right: .5rem; }
    .mr-md-3 { margin-right: 1rem; }
    .mr-md-4 { margin-right: 1.5rem; }
    .mr-md-5 { margin-right: 3rem; }
    .mr-md-6 { margin-right: 4rem; }
    .mr-md-n1 { margin-right: -.25rem; }
    .mr-md-n2 { margin-right: -0.5rem; }
    .mr-md-n3 { margin-right: -1rem; }
    .mr-md-n4 { margin-right: -1.5rem; }
    .mr-md-n5 { margin-right: -3rem; }
    .mr-md-n6 { margin-right: -4rem; }
    .mr-md-auto { margin-right: auto; }

    .ms-md-0 { margin-inline-start: 0; }
    .ms-md-1 { margin-inline-start: .25rem; }
    .ms-md-2 { margin-inline-start: .5rem; }
    .ms-md-3 { margin-inline-start: 1rem; }
    .ms-md-4 { margin-inline-start: 1.5rem; }
    .ms-md-5 { margin-inline-start: 3rem; }
    .ms-md-6 { margin-inline-start: 4rem; }
    .ms-md-n1 { margin-inline-start: -.25rem; }
    .ms-md-n2 { margin-inline-start: -0.5rem; }
    .ms-md-n3 { margin-inline-start: -1rem; }
    .ms-md-n4 { margin-inline-start: -1.5rem; }
    .ms-md-n5 { margin-inline-start: -3rem; }
    .ms-md-n6 { margin-inline-start: -4rem; }
    .ms-md-auto { margin-inline-start: auto; }

    .mx-md-0 { margin-left: 0; margin-right: 0; }
    .mx-md-1 { margin-left: .25rem; margin-right: .25rem; }
    .mx-md-2 { margin-left: .5rem; margin-right: .5rem; }
    .mx-md-3 { margin-left: 1rem; margin-right: 1rem; }
    .mx-md-4 { margin-left: 1.5rem; margin-right: 1.5rem; }
    .mx-md-5 { margin-left: 3rem; margin-right: 3rem; }
    .mx-md-6 { margin-left: 4rem; margin-right: 4rem; }
    .mx-md-n1 { margin-left: -.25rem; margin-right: -.25rem; }
    .mx-md-n2 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .mx-md-n3 { margin-left: -1rem; margin-right: -1rem; }
    .mx-md-n4 { margin-left: -1.5rem; margin-right: -1.5rem; }
    .mx-md-n5 { margin-left: -3rem; margin-right: -3rem; }
    .mx-md-n6 { margin-left: -4rem; margin-right: -4rem; }
    .mx-md-auto { margin-left: auto; margin-right: auto; }

    .my-md-0 { margin-bottom: 0; margin-top: 0; }
    .my-md-1 { margin-bottom: .25rem; margin-top: .25rem; }
    .my-md-2 { margin-bottom: .5rem; margin-top: .5rem; }
    .my-md-3 { margin-bottom: 1rem; margin-top: 1rem; }
    .my-md-4 { margin-bottom: 1.5rem; margin-top: 1.5rem; }
    .my-md-5 { margin-bottom: 3rem; margin-top: 3rem; }
    .my-md-6 { margin-bottom: 4rem; margin-top: 4rem; }
    .my-md-n1 { margin-bottom: -.25rem; margin-top: -.25rem; }
    .my-md-n2 { margin-bottom: -0.5rem; margin-top: -0.5rem; }
    .my-md-n3 { margin-bottom: -1rem; margin-top: -1rem; }
    .my-md-n4 { margin-bottom: -1.5rem; margin-top: -1.5rem; }
    .my-md-n5 { margin-bottom: -3rem; margin-top: -3rem; }
    .my-md-n6 { margin-bottom: -4rem; margin-top: -4rem; }
    .my-md-auto { margin-bottom: auto; margin-top: auto; }

    .p-md-0 { padding: 0; }
    .p-md-1 { padding: .25rem; }
    .p-md-2 { padding: .5rem; }
    .p-md-3 { padding: 1rem; }
    .p-md-4 { padding: 1.5rem; }
    .p-md-5 { padding: 3rem; }
    .p-md-6 { padding: 4rem; }
    .p-md-n1 { padding: -.25rem; }
    .p-md-n2 { padding: -0.5rem; }
    .p-md-n3 { padding: -1rem; }
    .p-md-n4 { padding: -1.5rem; }
    .p-md-n5 { padding: -3rem; }
    .p-md-n6 { padding: -4rem; }

    .pb-md-0 { padding-bottom: 0; }
    .pb-md-1 { padding-bottom: .25rem; }
    .pb-md-2 { padding-bottom: .5rem; }
    .pb-md-3 { padding-bottom: 1rem; }
    .pb-md-4 { padding-bottom: 1.5rem; }
    .pb-md-5 { padding-bottom: 3rem; }
    .pb-md-6 { padding-bottom: 4rem; }
    .pb-md-n1 { padding-bottom: -.25rem; }
    .pb-md-n2 { padding-bottom: -0.5rem; }
    .pb-md-n3 { padding-bottom: -1rem; }
    .pb-md-n4 { padding-bottom: -1.5rem; }
    .pb-md-n5 { padding-bottom: -3rem; }
    .pb-md-n6 { padding-bottom: -4rem; }

    .pt-md-0 { padding-top: 0; }
    .pt-md-1 { padding-top: .25rem; }
    .pt-md-2 { padding-top: .5rem; }
    .pt-md-3 { padding-top: 1rem; }
    .pt-md-4 { padding-top: 1.5rem; }
    .pt-md-5 { padding-top: 3rem; }
    .pt-md-6 { padding-top: 4rem; }
    .pt-md-n1 { padding-top: -.25rem; }
    .pt-md-n2 { padding-top: -0.5rem; }
    .pt-md-n3 { padding-top: -1rem; }
    .pt-md-n4 { padding-top: -1.5rem; }
    .pt-md-n5 { padding-top: -3rem; }
    .pt-md-n6 { padding-top: -4rem; }

    .pe-md-0 { padding-inline-end: 0; }
    .pe-md-1 { padding-inline-end: .25rem; }
    .pe-md-2 { padding-inline-end: .5rem; }
    .pe-md-3 { padding-inline-end: 1rem; }
    .pe-md-4 { padding-inline-end: 1.5rem; }
    .pe-md-5 { padding-inline-end: 3rem; }
    .pe-md-6 { padding-inline-end: 4rem; }
    .pe-md-n1 { padding-inline-end: -.25rem; }
    .pe-md-n2 { padding-inline-end: -0.5rem; }
    .pe-md-n3 { padding-inline-end: -1rem; }
    .pe-md-n4 { padding-inline-end: -1.5rem; }
    .pe-md-n5 { padding-inline-end: -3rem; }
    .pe-md-n6 { padding-inline-end: -4rem; }

    .pl-md-0 { padding-left: 0; }
    .pl-md-1 { padding-left: .25rem; }
    .pl-md-2 { padding-left: .5rem; }
    .pl-md-3 { padding-left: 1rem; }
    .pl-md-4 { padding-left: 1.5rem; }
    .pl-md-5 { padding-left: 3rem; }
    .pl-md-6 { padding-left: 4rem; }
    .pl-md-n1 { padding-left: -.25rem; }
    .pl-md-n2 { padding-left: -0.5rem; }
    .pl-md-n3 { padding-left: -1rem; }
    .pl-md-n4 { padding-left: -1.5rem; }
    .pl-md-n5 { padding-left: -3rem; }
    .pl-md-n6 { padding-left: -4rem; }

    .pr-md-0 { padding-right: 0; }
    .pr-md-1 { padding-right: .25rem; }
    .pr-md-2 { padding-right: .5rem; }
    .pr-md-3 { padding-right: 1rem; }
    .pr-md-4 { padding-right: 1.5rem; }
    .pr-md-5 { padding-right: 3rem; }
    .pr-md-6 { padding-right: 4rem; }
    .pr-md-n1 { padding-right: -.25rem; }
    .pr-md-n2 { padding-right: -0.5rem; }
    .pr-md-n3 { padding-right: -1rem; }
    .pr-md-n4 { padding-right: -1.5rem; }
    .pr-md-n5 { padding-right: -3rem; }
    .pr-md-n6 { padding-right: -4rem; }

    .ps-md-0 { padding-inline-start: 0; }
    .ps-md-1 { padding-inline-start: .25rem; }
    .ps-md-2 { padding-inline-start: .5rem; }
    .ps-md-3 { padding-inline-start: 1rem; }
    .ps-md-4 { padding-inline-start: 1.5rem; }
    .ps-md-5 { padding-inline-start: 3rem; }
    .ps-md-6 { padding-inline-start: 4rem; }
    .ps-md-n1 { padding-inline-start: -.25rem; }
    .ps-md-n2 { padding-inline-start: -0.5rem; }
    .ps-md-n3 { padding-inline-start: -1rem; }
    .ps-md-n4 { padding-inline-start: -1.5rem; }
    .ps-md-n5 { padding-inline-start: -3rem; }
    .ps-md-n6 { padding-inline-start: -4rem; }

    .px-md-0 { padding-left: 0; padding-right: 0; }
    .px-md-1 { padding-left: .25rem; padding-right: .25rem; }
    .px-md-2 { padding-left: .5rem; padding-right: .5rem; }
    .px-md-3 { padding-left: 1rem; padding-right: 1rem; }
    .px-md-4 { padding-left: 1.5rem; padding-right: 1.5rem; }
    .px-md-5 { padding-left: 3rem; padding-right: 3rem; }
    .px-md-6 { padding-left: 4rem; padding-right: 4rem; }
    .px-md-n1 { padding-left: -.25rem; padding-right: -.25rem; }
    .px-md-n2 { padding-left: -0.5rem; padding-right: -0.5rem; }
    .px-md-n3 { padding-left: -1rem; padding-right: -1rem; }
    .px-md-n4 { padding-left: -1.5rem; padding-right: -1.5rem; }
    .px-md-n5 { padding-left: -3rem; padding-right: -3rem; }
    .px-md-n6 { padding-left: -4rem; padding-right: -4rem; }

    .py-md-0 { padding-bottom: 0; padding-top: 0; }
    .py-md-1 { padding-bottom: .25rem; padding-top: .25rem; }
    .py-md-2 { padding-bottom: .5rem; padding-top: .5rem; }
    .py-md-3 { padding-bottom: 1rem; padding-top: 1rem; }
    .py-md-4 { padding-bottom: 1.5rem; padding-top: 1.5rem; }
    .py-md-5 { padding-bottom: 3rem; padding-top: 3rem; }
    .py-md-6 { padding-bottom: 4rem; padding-top: 4rem; }
    .py-md-n1 { padding-bottom: -.25rem; padding-top: -.25rem; }
    .py-md-n2 { padding-bottom: -0.5rem; padding-top: -0.5rem; }
    .py-md-n3 { padding-bottom: -1rem; padding-top: -1rem; }
    .py-md-n4 { padding-bottom: -1.5rem; padding-top: -1.5rem; }
    .py-md-n5 { padding-bottom: -3rem; padding-top: -3rem; }
    .py-md-n6 { padding-bottom: -4rem; padding-top: -4rem; }

    .overflow-md-auto { overflow: auto; }
    .overflow-md-hidden { overflow: hidden; }
    .overflow-md-scroll { overflow: scroll; }
    .overflow-md-visible { overflow: visible; }

    .text-md-center { text-align: center; }
    .text-md-end { text-align: end; }
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-start { text-align: start; }

    .text-md-capitalize { text-transform: capitalize; }
    .text-md-lowercase { text-transform: lowercase; }
    .text-md-uppercase { text-transform: uppercase; }

    .align-md-baseline { vertical-align: baseline; }
    .align-md-bottom { vertical-align: bottom; }
    .align-md-middle { vertical-align: middle; }
    .align-md-text-bottom { vertical-align: text-bottom; }
    .align-md-text-top { vertical-align: text-top; }
    .align-md-top { vertical-align: top; }
}