@namespace Tavenem.Blazor.Framework

@typeparam TTabItem

@inherits DraggableDropTarget<TTabItem, TTabItem>

<div id="@PanelId"
     role="tabpanel"
     hidden="@(Disabled || Index != (Parent?.ActivePanelIndex ?? -1))"
     aria-expanded="@(Disabled || Index != (Parent?.ActivePanelIndex ?? -1) ? "false" : "true")">
    @if (!Disabled && Index == (Parent?.ActivePanelIndex ?? -1))
    {
        @ChildContent
    }
</div>
