@page "/getting-started/installation"

<PageTitle>Installation - Tavenem Blazor Framework</PageTitle>

<h1>Installation</h1>

<p>This page will show you how to install and get started using the Tavenem Blazor Framework.</p>

<h2>1. Install</h2>
<p>The <code>Tavenem.Blazor.Framework</code> NuGet package is available through the package manager, or the CLI:</p>
<div class="codeblock">
    <pre class="user-select-all">dotnet add package Tavenem.Blazor.Framework</pre>
</div>

<h2>2. Import Namespace</h2>
<p>Add the package namespace to your <code>_Imports.razor</code> file.</p>
<div class="codeblock">
    <pre class="user-select-all">&#64;using Tavenem.Blazor.Framework</pre>
</div>

<h2>2. Add CSS Link</h2>
<p>Add the following link to your HTML head in either <code>index.html</code> (Blazor WebAssembly) or <code>_Host.cshtml</code> (Blazor Server).</p>
<div class="codeblock">
    <pre class="user-select-all">&lt;link href="_content/Tavenem.Blazor.Framework/styles.css" rel="stylesheet" /&gt;</pre>
</div>
<p>
    If you started your project with the default Blazor template, delete the
    references to Bootstrap, and all the pregenerated content in the
    <code>app.css</code> file (you can delete this file completely if you don't
    plan to put your own content there).
</p>
<p class="text-muted">
    Don't worry about the built-in Blazor styles in the template stylesheet. The
    Tavenem Blazor Framework reproduces and modifies them.
</p>

<h2>3. Register Service with Dependency Injection</h2>
<p>Add the following to your <code>Program.cs</code>:</p>
<div class="codeblock">
    <pre class="user-select-all">builder.Services.AddTavenemFramework();</pre>
</div>

<h2>4. Set up the Framework</h2>
<p>Add a <code>FrameworkRoot</code> component to your <code>MainLayout.razor</code> file.</p>
<div class="codeblock">
    <pre class="user-select-all">&lt;LayoutRoot&gt;&lt;/LayoutRoot&gt;</pre>
</div>
<p>
    Your can place your <code>&#64;Body</code> directly inside the
    <code>LayoutRoot</code> component, but it's more likely that you'll want to
    use a more elaborate layout scheme. See the <a
    href="./getting-started/layout">layout</a> section for details.
</p>
