.editor-field {
    --field-active-border-color: var(--tavenem-color-primary);
    --field-active-border-hover-color: var(--tavenem-color-primary-lighten);
    --field-active-label-color: var(--tavenem-color-primary);
    --field-border-color: var(--tavenem-color-border-input);
    --field-border-hover-color: var(--tavenem-color-action);
    --field-color: var(--tavenem-color-text);
    --field-label-color: var(--tavenem-color-text-secondary);
    border: 0;
    color: var(--tavenem-color-text);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
    margin-bottom: .5rem;
    margin-top: 1rem;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: 100%;

    > label {
        color: var(--field-label-color);
        display: block;
        font-size: .75rem;
        font-weight: var(--tavenem-font-weight);
        line-height: 1;
        padding: 0;
        pointer-events: auto;
        position: initial;
        transform: none;
        transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        z-index: auto;
    }

    &.required > label:after {
        color: var(--tavenem-color-error);
        content: " *";
    }

    .custom-editor-button.hidden {
        display: none;
    }

    &:focus-within:not([readonly], [disabled]) {
        --field-border-color: var(--field-active-border-color);
        --field-border-hover-color: var(--field-active-border-hover-color);
        --field-label-color: var(--field-active-label-color);
    }

    &.invalid {
        --field-active-border-color: var(--tavenem-color-error);
        --field-active-border-hover-color: var(--tavenem-color-error);
        --field-active-label-color: var(--tavenem-color-error);
        --field-border-color: var(--tavenem-color-error);
        --field-border-hover-color: var(--tavenem-color-error);
        --field-color: var(--tavenem-color-error);
        --field-label-color: var(--tavenem-color-error);
    }

    &.bg-alt {
        background-color: transparent;
    }

    &.primary,
    &.secondary,
    &.tertiary,
    &.danger,
    &.dark,
    &.default,
    &.info,
    &.success,
    &.warning {
        &:not(.invalid) {
            --field-active-border-color: var(--tavenem-theme-color);
            --field-active-border-hover-color: var(--tavenem-theme-color-lighten);
            --field-active-label-color: var(--tavenem-theme-color);
        }

        &.filled {
            background-color: transparent;
        }
    }
}