.field[data-search-filter] .search-nonmatch {
    display: none;
}

.number-field {
    --number-field-inherited-hover-bg: var(--tavenem-color-action-hover-bg);

    input[type=number] {
        -moz-appearance: textfield;
    }

    &.primary,
    &.secondary,
    &.tertiary,
    &.danger,
    &.dark,
    &.default,
    &.info,
    &.success,
    &.warning {
        --number-field-inherited-hover-bg: var(--tavenem-theme-color-hover);
    }
}
.number-field input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.number-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numeric-spin {
    --button-inherited-font-size: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    order: 9999;

    button {
        background-color: transparent;
        color: inherit;
        flex-shrink: 1;
        max-height: .9375rem;
        min-height: unset;
        min-width: unset;
        padding: 2px 0;

        &:hover,
        &:focus-visible {
            background-color: var(--number-field-inherited-hover-bg);
        }
    }
}