.select {
    > tf-input > .expand {
        transition: .3s cubic-bezier(.25,.8,.5,1);
    }

    &.open, &[data-popover-open] {
        > tf-input > .expand {
            transform: rotate(-180deg);
        }
    }

    &.read-only, &[readonly], &[inert], [inert] & {
        cursor: default;
        pointer-events: none;
    }

    > tf-popover.contained-popover > .option-list {
        > * > .selected-icon {
            visibility: hidden;
        }

        > * > .unselected-icon {
            display: none;
        }

        > .active > .selected-icon {
            visibility: visible;
        }
    }

    &[multiple] > tf-popover.contained-popover > .option-list {
        > * > .selected-icon {
            display: none;
        }

        > * > .unselected-icon {
            display: inline-block;
        }

        > .active > .selected-icon {
            display: inline-block;
        }

        > .active > .unselected-icon {
            display: none;
        }
    }
}
