@inherits LayoutComponentBase

<FrameworkLayout>
    <FrameworkContent>
        <TopAppbar />
        <LeftDrawer />
    </FrameworkContent>
    <ChildContent>
        @Body
        <footer class="d-flex flex-wrap align-self-stretch mt-auto mx-6 pt-4 px-4 pb-1 gap-3 justify-content-space-around">
            <small>© Tavenem</small>
            <small><a href="https://tavenem.com/privacy">Privacy</a></small>
            <small><a href="https://tavenem.com/contact">Contact</a></small>
        </footer>
    </ChildContent>
</FrameworkLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="#" class="reload" rel="nofollow">Reload</a>
    <a href="#" class="dismiss" rel="nofollow" onclick="document.getElementById('blazor-error-ui').style.display='none'">🗙</a>
</div>
