<Dialog>
    <ChildContent>
        <div class="d-flex flex-column mx-auto">
            <Checkbox TValue="bool"
                      Value="Columns.Where(x => x.CanHide).All(y => y.IsShown)"
                      ValueChanged="OnSetAllColumnsVisiblity"
                      Label="All" />
            @foreach (var column in Columns.Where(x => x.CanHide))
            {
                <Checkbox TValue="bool" @bind-Value="column.IsShown" Label="@column.GetLabel()" />
            }
        </div>
    </ChildContent>
    <FooterContent>
        <button class="btn btn-text" @onclick="@(_ => Dialog?.Close(DialogResult.Ok(Columns)))">Close</button>
    </FooterContent>
</Dialog>

@code {
    [Parameter] public List<IColumn> Columns { get; set; } = new();

    [CascadingParameter] DialogInstance? Dialog { get; set; }

    protected override void OnInitialized()
    {
        foreach (var column in Columns)
        {
            column.IsShown = column.GetIsShown();
        }
    }

    private void OnSetAllColumnsVisiblity(bool value)
    {
        foreach (var column in Columns.Where(x => x.CanHide))
        {
            column.IsShown = value;
        }
    }
}
