<Dialog>
    <ChildContent>
        <div class="d-flex flex-column mx-auto">
            <Checkbox @bind-Value:get="Columns.Where(x => x.CanHide).All(y => y.GetIsShown())"
                      @bind-Value:set="OnSetAllColumnsVisiblity"
                      Label="All" />
            @foreach (var column in Columns.Where(x => x.CanHide))
            {
                <Checkbox Label="@column.GetLabel()"
                          @bind-Value:get="column.GetIsShown()"
                          @bind-Value:set="@(v => column.SetIsShown(v))" />
            }
        </div>
    </ChildContent>
    <FooterContent>
        <button class="btn btn-text" @onclick="@(_ => Dialog?.Close(DialogResult.DefaultOk))">Close</button>
    </FooterContent>
</Dialog>

@code {
    [Parameter] public List<IColumn> Columns { get; set; } = new();

    [CascadingParameter] DialogInstance? Dialog { get; set; }

    private void OnSetAllColumnsVisiblity(bool value)
    {
        foreach (var column in Columns.Where(x => x.CanHide))
        {
            column.SetIsShown(value);
        }
    }
}
