@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    border-color: inherit;
    font-variation-settings: "MONO" var(--tavenem-mono), "CASL" var(--tavenem-casl);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--tavenem-color-bg);
    color: var(--tavenem-color-text);
    font-family: var(--tavenem-font-family);
    font-size: var(--tavenem-font-size);
    font-weight: var(--tavenem-font-weight);
    line-height: var(--tavenem-lineheight-body);
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

hr {
    background-color: var(--tavenem-color-divider);
    border: 0;
    color: inherit;
    flex-shrink: 0;
    margin: 1rem 0;
    width: 100%;

    &:not([size]) {
        height: 1px;
    }

    .dark {
        background-color: var(--tavenem-light-color-divider);
    }

    .light {
        background-color: var(--tavenem-dark-color-divider);
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--tavenem-font-family-title);
    line-height: var(--tavenem-lineheight-heading);
    margin-bottom: .5rem;
    margin-top: 0;
}
h1, .h1 {
    font-size: var(--tavenem-font-size-h1);
    font-weight: var(--tavenem-font-weight-semibold);

    &:not(:first-child) {
        margin-top: 1rem;
    }
}
h2, .h2 {
    font-size: var(--tavenem-font-size-h2);
    font-weight: var(--tavenem-font-weight-semibold);

    &:not(:first-child) {
        margin-top: 1rem;
    }
}
h3, .h3 {
    font-size: var(--tavenem-font-size-h3);
    font-weight: var(--tavenem-font-weight-medium-bold);

    &:not(:first-child) {
        margin-top: .5rem;
    }
}
h4, .h4 {
    font-size: var(--tavenem-font-size-h4);
    font-weight: var(--tavenem-font-weight-medium-bold);

    &:not(:first-child) {
        margin-top: .5rem;
    }
}
h5, .h5 {
    font-size: var(--tavenem-font-size-h5);
    font-weight: var(--tavenem-font-weight-bold);
}
h6, .h6 {
    font-size: var(--tavenem-font-size-h6);
    font-weight: var(--tavenem-font-weight-bold);
}

p {
    margin-bottom: 1rem;
    margin-top: 0;
}

abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
}

address {
    font-style: normal;
    line-height: inherit;
    margin-bottom: 1rem;
}

ol, ul, menu {
    padding-left: 2rem;
}

ol, ul, menu, dl {
    margin-bottom: 1rem;
    margin-top: 0;
}

:is(ul, menu, ol) :is(ul, menu, ol) {
    margin-bottom: 0;
}

ul, menu {
    list-style: none;
}

dt {
    font-weight: var(--tavenem-font-weight-bold);
}

dd {
    margin-bottom: .5rem;
    margin-left: .5rem;
}

blockquote {
    margin: 1rem 2.5rem;
}

b, strong {
    font-weight: bolder;
}

small {
    font-size: var(--tavenem-font-size-sm);
    line-height: var(--tavenem-lineheight-small);
}

mark {
    padding: .2em;
    background-color: var(--tavenem-color-yellow-bg);
}

sub, sup {
    font-size: var(--tavenem-font-size-subsup);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a {
    color: var(--tavenem-color-link);
    text-decoration: none;

    &:hover,
    &:focus-visible {
        color: var(--tavenem-color-link-hover);
    }

    &.underline {
        text-decoration: underline;
    }

    &:not([href]),
    &:not([href]):hover,
    &:not([href]):focus-visible {
        color: inherit;
    }

    &:disabled, &.disabled {
        color: var(--tavenem-color-action-disabled) !important;
        cursor: default;
        pointer-events: none;
        text-decoration: none;
    }
}
a[aria-disabled="true"] {
    color: var(--tavenem-color-action-disabled) !important;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

pre, code, kbd, samp {
    --tavenem-mono: 1;
    font-family: var(--tavenem-font-family-monospace);
    font-size: var(--tavenem-font-size-sm);
    line-height: var(--tavenem-lineheight-small);
}

pre {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0;
    max-width: 100%;
    overflow: auto;

    code {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        word-break: normal;
    }
}

code {
    color: var(--tavenem-color-tertiary);
    word-wrap: break-word;

    a > & {
        color: inherit;
    }
}

kbd {
    background-color: var(--tavenem-color-keyboard-bg);
    border: 1px solid var(--tavenem-color-border);
    border-radius: var(--tavenem-border-radius);
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgba(var(--tavenem-color-base-rgb), 70%) inset;
    color: var(--tavenem-color-keyboard);
    font-weight: var(--tavenem-font-weight-semibold);
    padding: 2px 4px;

    > *:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    > *:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    > *:only-child {
        border-radius: inherit;
    }

    kbd {
        border: 0;
        box-shadow: none;
        font-weight: var(--tavenem-font-weight-medium-bold);
        line-height: var(--tavenem-lineheight-body);
        padding: 0;
    }
}

figure {
    display: inline-block;
    margin: 0 0 1rem;

    img {
        margin-bottom: .5rem;
        line-height: 1;
    }
}

img, svg {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-color: var(--tavenem-color-border-table);
    caption-side: bottom;
}

caption {
    color: var(--tavenem-color-text-secondary);
    font-size: var(--tavenem-font-size-sm);
    font-weight: var(--tavenem-font-weight-light);
    line-height: var(--tavenem-lineheight-small);
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-align: left;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
    display: inline-block;
}

button {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    outline: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    &:focus:not(:focus-visible) {
        outline: 0;
    }
}

button,
[type="button"],
[role="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;

    &:not(:disabled) {
        cursor: pointer;
    }
}

input, button, select, optgroup, textarea {
    border-color: var(--tavenem-color-border-input);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

input, select, optgroup, textarea {
    background-color: var(--tavenem-color-bg-input);
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

input {
    background-clip: padding-box;
    background-color: var(--tavenem-color-bg-input);
    border: 1px solid var(--tavenem-color-border-input);
    border-radius: var(--tavenem-border-radius);
    box-shadow: var(--tavenem-shadow-inset);
    color: var(--tavenem-color-text);
    font-size: var(--tavenem-font-size);
    font-weight: var(--tavenem-font-weight);
    line-height: var(--tavenem-lineheight-body);
    padding: 6px .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &[type="file"] {
        overflow: hidden;

        &:not(:disabled):not([readonly]) {
            cursor: pointer;
        }
    }

    &:focus {
        background-color: var(--tavenem-color-bg-input);
        border-color: var(--tavenem-color-primary-lighten);
        box-shadow: 0 0 0 4px rgba(var(--tavenem-color-primary), .25);
        color: var(--tavenem-color-text);
        outline: 0;
    }

    &:focus-visible {
        background-color: var(--tavenem-color-action-hover-bg);
    }

    &:disabled,
    &[readonly] {
        background-color: var(--tavenem-color-bg-alt);
        opacity: 1;
    }
}
input:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: var(--tavenem-color-bg-alt);
}

input::-webkit-date-and-time-value {
    height: calc(var(--tavenem-lineheight-body) * 1rem);
}

input::placeholder {
    color: var(--tavenem-color-text-disabled);
    opacity: 1;
}

input::file-selector-button {
    border-color: inherit;
    border-inline-end-width: 1px;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: var(--tavenem-color-text);
    margin: -6px -.75rem;
    margin-inline-end: .75rem;
    padding: 6px .75rem;
    pointer-events: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
input[type="file"]::file-selector-button {
    background: var(--tavenem-color-default);
    color: var(--tavenem-color-default-text);
}
input[type="file"]::file-selector-button:hover {
    background: var(--tavenem-color-default-darken);
}

input[type="color"] {
    height: auto;
    padding: 6px;
    width: 3rem;
}
input[type="color"]:not(:disabled):not([readonly]) {
    cursor: pointer;
}
input[type="color"]::-moz-color-swatch {
    border-radius: var(--tavenem-border-radius);
    height: calc(var(--tavenem-lineheight-body) * 1rem);
}
input[type="color"]::-webkit-color-swatch {
    border-radius: var(--tavenem-border-radius);
    height: calc(var(--tavenem-lineheight-body) * 1rem);
}

select {
    word-wrap: normal;

    &:disabled {
        opacity: 1;
    }
}

textarea {
    min-height: calc(var(--tavenem-lineheight-body) * 1em + .75rem + 2px);
    resize: vertical;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
}

legend {
    float: left;
    font-size: 1.25rem;
    line-height: inherit;
    margin-bottom: .25rem;
    padding: 0;
    width: 100%;

    + * {
        clear: left;
    }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

summary {
    display: list-item;
    cursor: pointer;
}

progress {
    vertical-align: baseline;
}

[hidden] {
    display: none !important;
}

[inert] * {
    cursor: default;
    pointer-events: none;
}