<div id="@Id" class="align-self-stretch outlined mb-3">
    <div class="@RowCssClass">
        @ChildContent
    </div>
    <Collapse Id="@Id" Title="Show/hide code sample" IsInitiallyOpen="IsOpen" Class="align-self-stretch outlined" BodyClass="codeblock pre-razor-code">
        @CodeFormatter.CodeToMarkup(Code)
    </Collapse>
</div>