<Collapse Id="@Id" IsOpen="IsOpen" Class="align-self-stretch outlined align-self-stretch mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="@RowCssClass">
            @CodeFragment
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(Code)
    </ChildContent>
</Collapse>