@page "/components/anchor-link"

<PageTitle>Anchor Link - Tavenem Blazor Framework</PageTitle>

<h1>Anchor Link</h1>

<p>
    The anchor link is a simple component which produces an anchor element, with a few added
    features: local fragments (<code>href</code> values which begin with a '#' character) do not
    normally function in a Blazor app, but in an <code>AnchorLink</code> component they do.
</p>

<p>
    In addition, if you place an <code>AnchorLink</code> component inside a <a
    href="./components/collapse">Collapse</a> component, the collapse will automatically expand when
    the link is active (i.e. matches the current location). This is especially useful for tiered
    navigation lists, where the current location should be revealed even if it might be nested
    within a collapsed section.
</p>

<h2>Basics</h2>

<p>
    The <code>ActiveClass</code> property can be used to configure a CSS class added to the link
    when it is active. It uses "active" by default. The <code>IsActive</code> read-only property
    indicates when a link is currently active (i.e. matches the current location).
</p>

<p>
    The <code>Disabled</code> property can be used to diable a link. This not only adds styling to
    indicate that the link is not active, but also removes the <code>href</code> attribute to fully
    disable the anchor element.
</p>

<p>
    The <code>Match</code> property can be set to a <code>NavLinkMatch</code> value, and functions
    in the same way as the property of the built-in Blazor <a
    href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.routing.navlink">NavLink</a>
    component. In addition, an <code>AnchorLink</code> component automatically applies the
    <code>aria-current</code> attribute with a value of <code>true</code> if the link matches the
    current location.
</p>

<p>
    The <code>ThemeColor</code> property can be used to color the text of the link.
</p>
