@page "/components/appbar"

<PageTitle>AppBar - Tavenem Blazor Framework</PageTitle>

<h1>AppBar</h1>

<p>
    The appbar component is a special <a href="/components/toolbar">toolbar</a> docked to the top or
    bottom of the Tavenem Blazor Framework's default layout. You can see one at the top of this
    site.
</p>

<h2>Layout</h2>

<p>
    An appbar will only function if your layout includes the Tavenem Blazor Framework <a
    href="/layout/layout">layout</a> component. See the <a href="/layout/layout">layout doc page</a>
    for details.
</p>

<h2>Placement</h2>

<p>
    You can add either the <code>top</code> or <code>bottom</code> CSS class to dock the appbar. If
    you supply neither, <code>top</code> is assumed. You can have at most two appbars at a time: one
    docked to the top, and one docked to the bottom of your layout.
</p>

<h2>Customization</h2>

<p>
    You can use the <code>filled</code> class to set the bar apart with a darker background,
    optionally in combination with a theme color.
</p>
