@page "/components/close-button"

<PageTitle>Close Button - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Close Button</Heading>

<p>
    The Tavenem Blazor Framework provides a generic close button component. By itself it simply
    provides a set of styles, without any functionality. It is integrated into a number of other
    framework components, but is also available for your own use.
</p>

<p>
    The close button is available as a <a
    href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web component</a>, with the
    custom element tag <code>tf-close</code>. It does not expect any content.
</p>

<CodeExample RowClass="p-2" Code="@(@"<div class=""d-flex primary filled"" style=""height:5rem;width:5rem"">
    <tf-close />
</div>")" />

<p>
    Close buttons contain styles to help them automatically position themselves at the top-end
    corner of their container. These will usually work best when the container has either
    <code>flex</code> or <code>grid</code> display.
</p>

<p>
    A close button with the <code>disabled</code> class or attribute will have a different visual
    appearance, and lose its hover and focus styles.
</p>

<CodeExample RowClass="p-2" Code="@(@"<div class=""d-flex primary filled"" style=""height:5rem;width:5rem"">
    <tf-close class=""disabled"" />
</div>
<div class=""d-flex primary filled"" style=""height:5rem;width:5rem"">
    <tf-close disabled />
</div>")" />
