@page "/components/contents"

<PageTitle>Contents - Tavenem Blazor Framework</PageTitle>

<h1>Contents</h1>

<p>
    The Tavenem Blazor Framework includes a <a
    href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web component</a> to easily
    display a list of headings on the current page, with links to each of them. The
    <code>FrameworkLayout</code> element includes a built-in version, so you don't need to do
    anything at all to include one in your Tavenem Blazor Framework app, unless you'd like to
    customize its behavior or appearance. The list functions normally when your app is rendered
    statically, or prerendered by the server.
</p>

<h2>Basics</h2>

<p>
    Use the <code>tf-contents</code> custom element to create a table of contents for the element's
    container. The list is built automatically by examining the container for heading elements, as
    well as any element with the <code>tav-heading</code> class. Both standard heading elements and
    elements with the <code>tav-heading</code> class can specify their effective level with the
    <code>data-heading-level</code> attribute, which should be a value between 1 and 6. For standard
    heading elements, this overrides the apparent level of the heading in the table of contents, but
    does not alter the heading's appearance in the document flow.
</p>

<p>
    To keep a heading element from appearing on the table of contents, simply add the
    <code>data-hide-from-contents</code> attribute to that heading.
</p>

<p>
    The contents list responds automatically as headings are added, removed, or have their relevant
    attributes altered.
</p>

<p>
    Each item in the contents list will display the text content of the heading element, but you can
    override this by assigning a value to the <code>data-heading-title</code> attribute.
</p>

<p>
    If a heading has an HTML <code>id</code>, its listing in the contents will be a standard anchor
    element with the <code>href</code> value set to a fragment with the <code>id</code>. If a
    heading does <em>not</em> have an <code>id</code>, the listing in the contents will instead
    cause the heading to be scrolled into view, and clear any fragment from the current URL. This is
    typically less useful to the user, since the position of a heading with no <code>id</code>
    cannot be bookmarked or shared.
</p>

<h2>Layout</h2>

<p>
    The <code>FrameworkLayout</code> component has a built-in <code>Contents</code> component. It is
    positioned after the main content (typically on the right-hand side of a page).
</p>

<p>
    The <code>ContentsBreakpoint</code> parameter of <code>FrameworkLayout</code> can be used to
    control the view sizes at which the table of contents is displayed. It defaults to
    <code>Lg</code>, and setting it to <code>None</code> disables the built-in table of contents
    completely.
</p>

<h2>Customization</h2>

<p>
    The <code>data-min-headings</code> attribute (or the <code>ContentsMinHeadings</code> property
    on <code>FrameworkLayout</code>) can be set to a number to control the minimum number of
    headings which must be present before the table of contents will be displayed. By default its
    value is 3. A value &lt;= 0 causes the table to be displayed regardless of the number of
    headings.
</p>

<p>
    The <code>data-max-level</code> attribute (or the <code>ContentsMaxLevel</code> property on
    <code>FrameworkLayout</code>) can be set to a number to control the highest level of heading
    which is displayed in the table of contents. By default its value is zero, which indicates that
    headings of any level should be shown.
</p>

<p>
    The <code>data-max-level-offset</code> attribute (or the <code>ContentsMaxLevelOffset</code>
    property on <code>FrameworkLayout</code>) can be set to a number to control the highest level of
    heading which is displayed in the table of contents relative to the highest level of any heading
    present (i.e. the maximum nesting depth of the list). By default its value is <code>2</code>,
    which indicates that headings of the highest level, and up to two levels greater should be
    shown. A value of zero would indicate only a single level should be shown (i.e. no depth). Set
    to a negative number to allow headings of any relative level to be shown.
</p>
