@page "/components/scroll-to-top"

<PageTitle>Scroll to Top - Tavenem Blazor Framework</PageTitle>

<h1>Scroll to Top</h1>

<p>
    The Tavenem Blazor Framework includes a <a
    href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web component</a> to easily
    display a button which will smoothly scroll its nearest relatively positioned container (or the
    entire document, if it has none) to the top-left. It is hidden by default until the user scrolls
    past a certain point. The <code>FrameworkLayout</code> element includes a built-in version, so
    you don't need to do anything at all to include one in your Tavenem Blazor Framework app, unless
    you'd like to customize its behavior or appearance. The button functions normally when your app
    is rendered statically, or prerendered by the server.
</p>

<h2>Basics</h2>

<p>
    To insert your own scroll-to-top button (for instance, in a nested, scrollable container),
    simply use the <code>tf-scroll-top</code> custom element. The element uses an icon button filled
    with the primary theme color and a simple upward caret by default. You can replace that default
    content by adding any HTML content you like to the named slot <code>content</code>. You will
    always need to do this if you choose to use an icon library other than <a
    href="https://fonts.google.com/icons?selected=Material+Icons">Google's Material Icons</a> (see
    <a href="./getting-started/installation">Installation</a> for more information).
</p>

<CodeExample Id="ce-1" RowClass="align-items-center" Code="@(@"<tf-scroll-top>
    <span class=""btn btn-icon info"" slot=""content""><tf-icon>arrow_upward</tf-icon></span>
</tf-scroll-top>")" />
