@page "/components/syntax-highlighter"

<PageTitle>Syntax Highlighter - Tavenem Blazor Framework</PageTitle>

<h1>Syntax Highlighter</h1>

<p>
    The Tavenem Blazor Framework includes a <a
    href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web component</a> to easily
    apply syntax highlighting to preformatted code. The component functions normally when your app
    is rendered statically, or prerendered by the server.
</p>

<h2>Basics</h2>

<p>
    The <code>tf-syntax-highlight</code> element formats its content as if it weere wrapped in a
    <code>&lt;pre&gt;&lt;code&gt;</code> block, and will automatically apply syntax highlighting to
    the content.
</p>

<p>
    Syntax is autodetected when possible, but you can apply a <code>language-&lt;value&gt;</code>
    class to the element to specify the language of a particular block of code. The supported
    languages are:
</p>
<ul>
    <li>C++ <span class="text-muted">language-cpp</span></li>
    <li>C# <span class="text-muted">language-csharp</span></li>
    <li>CSS</li>
    <li>HTML <span class="text-muted">language-xml</span></li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>JSON</li>
    <li><span style="font-family:'CMU Serif',cmr10,LMRoman10-Regular,'Latin Modern Math','Nimbus Roman No9 L','Times New Roman',Times,serif;">L<span style="text-transform:uppercase;font-size:.75em;vertical-align:.25em;margin-left:-.36em;margin-right:-.15em;line-height:1ex;">a</span>T<span style="text-transform:uppercase;vertical-align:-.25em;margin-left:-.1667em;margin-right:-.125em;line-height:1ex;">e</span>X</span></li>
    <li>Less</li>
    <li>Markdown</li>
    <li>Objective-C <span class="text-muted">language-objectivec</span></li>
    <li>PHP</li>
    <li>Python</li>
    <li>Sass</li>
    <li>SQL</li>
    <li>TypeScript</li>
</ul>

<Collapse Id="ce-1" IsOpen="true" Class="align-self-stretch outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="row justify-content-center">
            <tf-syntax-highlight language-csharp>
using System.IO.Compression;

#pragma warning disable 414, 3021

namespace MyApplication
{
    [Obsolete("...")]
    class Program : IInterface
    {
        public static List&lt;int&gt; JustDoIt(int count)
        {
            Span&lt;int> numbers = stackalloc int[length];
            Console.WriteLine($"Hello {Name}!");
            return new List&lt;int&gt;(new int[] { 1, 2, 3 })
        }
    }
}
            </tf-syntax-highlight>
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(@"<tf-syntax-highlight language-csharp>
using System.IO.Compression;

#pragma warning disable 414, 3021

namespace MyApplication
{
    [Obsolete(""..."")]
    class Program : IInterface
    {
        public static List&lt;int&gt; JustDoIt(int count)
        {
            Span&lt;int> numbers = stackalloc int[length];
            Console.WriteLine($""Hello {Name}!"");
            return new List&lt;int&gt;(new int[] { 1, 2, 3 })
        }
    }
}
</tf-syntax-highlight>")
    </ChildContent>
</Collapse>
