@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

@if (string.IsNullOrEmpty(LocalLink))
{
    <a @attributes="Attributes" class="@CssClass" style="@CssStyle">
        @ChildContent
    </a>
}
else
{
    <a @attributes="Attributes" class="@CssClass" style="@CssStyle" @onclick="OnClickLocalLinkAsync">
        @ChildContent
    </a>
}
