@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

@if (HasDrawer)
{
    <button @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @onclick="OnDrawerToggleAsync">
        <tf-icon>menu</tf-icon>
    </button>
}