@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<aside @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="@HeaderClassName">
        @HeaderContent
        @if (IsInteractive)
        {
            <tf-close class="drawer-close-small" @onclick="OnClosedAsync" />
        }
    </div>
    @ChildContent
    @if (FooterContent is not null)
    {
        <div class="@FooterClassName">
            @FooterContent
        </div>
    }
</aside>
<div class="overlay drawer-overlay" @onclick="OnClosedAsync" @onclick:stopPropagation="true"></div>
