@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="UserAttributes" class="@ClassName" style="@Style">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
