@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" role="alert" class="@CssClass" style="@Style" @onclick="OnClick">
    @if (AutoIcon)
    {
        <div class="@IconClass">@Icon</div>
    }
    @ChildContent
    @if (CanClose)
    {
        <div class="btn-close" @onclick="OnClosedAsync"></div>
    }
</div>
