@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="@ToolbarClassName">
        @if (HasDrawer)
        {
            <tf-icon class="@DrawerToggleClassName" @onclick="OnDrawerToggleAsync">menu</tf-icon>
        }
        @ChildContent
    </div>
</div>
