@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@Style">
    <div class="@ToolbarClassName">
        @if (ControlsDrawerSide != Tavenem.Blazor.Framework.Side.None)
        {
            <div class="@DrawerToggleClassName" @onclick="OnDrawerToggleAsync"></div>
        }
        @ChildContent
    </div>
</div>
