@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="@ToolbarClassName">
        @if (HasDrawer)
        {
            <div class="@DrawerToggleClassName" @onclick="OnDrawerToggleAsync">menu</div>
        }
        @ChildContent
    </div>
</div>
