@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" role="alert" class="@CssClass" style="@Style" @onclick="OnClickAsync">
    @if (!string.IsNullOrWhiteSpace(IconClass))
    {
        <span class="@IconClassName"></span>
    }
    @ChildContent
    @if (CanClose)
    {
        <div class="btn-close" @onclick="OnClosedAsync">close</div>
    }
</div>
