@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@Style">
    <div class="header">
        @if (TitleContent is null)
        {
            <div class="expand" @onclick="OnToggleAsync">
                @Title
                <span class="icon">expand_more</span>
            </div>
        }
        else
        {
            @TitleContent
            <span class="icon expand" @onclick="OnToggleAsync">expand_more</span>
        }
    </div>
    <div class="@BodyCssClass">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
    @if (FooterContent is not null)
    {
        <div class="@FooterCssClass">
            @FooterContent
        </div>
    }
</div>
