@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@Style">
    <div class="header">
        @if (TitleContent is null)
        {
            <div class="expand" @onclick="ToggleAsync">
                @Title
                <span class="icon">expand_more</span>
            </div>
        }
        else
        {
            @TitleContent
            <span class="icon expand" @onclick="ToggleAsync">expand_more</span>
        }
    </div>
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
