@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" id="@_elementId" class="@ContainerCssClass">
    <div class="overlay" @onclick="OnOverlayClick" @onclick:stopPropagation="true"></div>
    <div id="_@Id.ToString("N")" role="dialog" class="@CssClass" style="@CssStyle">
        @if (!Options.HideHeader)
        {
            <div class="header">
                @if (TitleContent is not null)
                {
                    @TitleContent
                }
                else if (!string.IsNullOrEmpty(Title))
                {
                    <h6>Title</h6>
                }
                @if (!Options.HideCloseButton)
                {
                    <span class="btn-close" @onclick="Cancel">close</span>
                }
            </div>
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        }
    </div>
</div>
