@namespace Tavenem.Blazor.Framework

@typeparam TDragItem

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes"
     id="@Id"
     class="@CssClass"
     style="@CssStyle"
     draggable="@(IsDraggable ? "true" : "false")">
    @ChildContent
</div>
