@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="UserAttributes" class="@ClassName" style="@Style">
    <div class="header appbar">
        <div class="@HeaderToolbarClassName">
            @Header
            <div class="btn-close drawer-close-small" @onclick="OnClosedAsync"></div>
        </div>
    </div>
    @ChildContent
    <div class="footer appbar">
        <div class="@FooterToolbarClassName">
            @Footer
        </div>
    </div>
</div>
