@namespace Tavenem.Blazor.Framework

@typeparam TDropItem

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes"
     class="@CssClass"
     style="@CssStyle"
     @ondragenter="OnDragEnter"
     @ondragleave="OnDragLeave"
     ondragover="event.preventDefault();event.dataTransfer.dropEffect='move'"
     ondragstart="event.dataTransfer.setData('', event.target.id)"
     @ondrop="OnDropAsync">
    @ChildContent
</div>
