@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<button @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @onclick="OnClickAsync">
    <span class="icon">@IconClass</span>
    @Text
</button>
