@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<button @attributes="UserAttributes" class="@ClassName" style="@Style" @onclick="OnClickAsync">
    <span class="icon">@IconClass</span>
    @Text
</button>
