@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div id="@Id" @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    @if (IsOpen)
    {
        @ChildContent
    }
</div>