@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="UserAttributes" role="alert" class="@ClassName" style="@Style" @onclick="OnClickAsync">
    @ChildContent
</div>
