@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle">
    <div class="timeline-item-content">
        @ChildContent
    </div>
    <div class="timeline-item-divider">
        <div class="dot">
            <div class="inner">
                @if (!string.IsNullOrEmpty(Icon))
                {
                    <tf-icon>@Icon</tf-icon>
                }
            </div>
        </div>
    </div>
    <div class="timeline-item-opposite">
        @if (OppositeContent is not null)
        {
            @OppositeContent
        }
        else
        {
            <span>&nbsp;</span>
        }
    </div>
</div>
