@page "/"

<PageTitle>Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Tavenem Blazor Framework</Heading>

<Heading Level="HeadingLevel.H2">What is it?</Heading>

<p>
    The <a href="https://tavenem.com">Tavenem</a> Blazor Framework is a CSS framework and <a
    href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a> component
    library designed to help build responsive sites and apps with appealing design and layout
    features quickly and easily.
</p>

<p>
    Why another Blazor component library, when there are already so many great ones out there?
</p>

<p>
    The Tavenem Blazor Framework takes a different approach than most of the existing Blazor
    component libraries. Whenever possible, the Tavenem Blazor Framework uses pure CSS to achieve
    design and layout goals, and <a
    href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">web components</a> when
    possible, using Blazor components (and Javascript interop) only when necessary.
</p>

<p>
    Each web technology is utilized where it shines. This helps maximize your site's performance and
    responsiveness, particularly on devices with limited resources or under heavy load. It also
    makes customization both easier and simpler.
</p>

<p>
    The Tavenem Blazor Framework was also designed to help ease the transition for people who use
    the excellent <a href="https://getbootstrap.com/">Bootstrap</a> framework. It includes most of
    the same (or similar) CSS utility classes, and most of the same (or similar) components. This
    can help those who are transitioning from traditional web technologies to Blazor, by minimizing
    the rewriting needed.
</p>

<Heading Level="HeadingLevel.H2">Getting Started</Heading>

<p>
    Ready to get started with the Tavenem Blazor Framework?
</p>

<p>
    Check out the <a href="./getting-started/installation">Installation</a> guide to learn how to
    include the framework in your project.
</p>

<p>
    Browse the <span class="primary">Components</span> and <span class="primary">Utilities</span>
    folders to see what the framework can do.
</p>
