@page "/"

<PageTitle>Tavenem Blazor Framework</PageTitle>

<h1>Tavenem Blazor Framework</h1>

<p>
    Ready to get started with the <a href="https://tavenem.com">Tavenem</a> Blazor Framework?
</p>

<p>
    Check out the <a href="./getting-started/installation">Installation</a> guide to learn how to
    include the framework in your project.
</p>

<p>
    Browse the <span class="primary">Components</span> and <span class="primary">Utilities</span>
    folders to see what the framework can do.
</p>
