@page "/layout/containers"

<PageTitle>Containers - Tavenem Blazor Framework</PageTitle>

<Heading Level="HeadingLevel.H1">Containers</Heading>

<p>
    The container is a basic building block for layout in the Tavenem Blazor Framework.
</p>

<p>
    Containers have default CSS styles applied which will usually cause them to center themselves,
    and fill their container. They have 1rem of left and right padding (but no vertical padding).
    They use flexbox layout, with the direction set to column. They have overflow-x set to auto, so
    an internal scrollbar will appear if the container isn't permitted to grow large enough to
    contain its contents.
</p>

<p>
    There are three styles of container, created by applying a CSS class to any element (uaully a <code>div</code>):
    <ul>
        <li><code>container</code>: the standard container, with 100% width</li>
        <li><code>container-fixed</code>: sets a <code>max-width</code> equal to the nearest breakpoint smaller than the current viewport size</li>
        <li><code>container-{breakpoint}</code>: replace {breakpoint} with one of the <a href="/layout/breakpoints">breakpoint</a> infixes to create a container whose width is 100% up to that breakpoint, then remains fixed</li>
    </ul>
</p>

<CodeExample Code="@(@"<div class=""d-flex"" style=""height:20em;width:100%"">
    <div class=""container-sm primary filled""></div>
</div>")" />
