@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

@if (DialogInstance is not null)
{
    <FocusTrap Style="border-radius:inherit">
        <div @attributes="AdditionalAttributes" class="@BodyCssClass" style="@BodyStyle">
            @ChildContent
        </div>
        @if (FooterContent is not null)
        {
            <div class="@FooterCssClass" style="@FooterStyle">
                @FooterContent
            </div>
        }
    </FocusTrap>
}