@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<Dialog @attributes="AdditionalAttributes">
    <TitleContent>
        <h6>@Title</h6>
    </TitleContent>
    <ChildContent>
        @Message
    </ChildContent>
    <FooterContent>
        <div class="message-box-buttons">
            @if (!string.IsNullOrEmpty(CancelText))
            {
                <button @onclick="OnCancelClicked" class="btn btn-text">@CancelText</button>
            }
            @if (!string.IsNullOrEmpty(AltText))
            {
                <button @onclick="OnAltClicked" class="btn btn-text danger">@AltText</button>
            }
            @if (string.IsNullOrEmpty(CancelText) && string.IsNullOrEmpty(AltText))
            {
                <div></div>
            }
            <button @onclick="OnOkClicked" class="btn btn-text primary">@OkText</button>
        </div>
    </FooterContent>
</Dialog>
