.emoji-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    place-items: center;

    button {
        font-size: 1.25rem;
        line-height: 1.2;
        padding: 2px 2px;
    }

    .active {
        border-color: var(--tavenem-color-border);
        border-style: solid;
    }
}