.image-editor-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
}

.image-edit-button {
    opacity: .5;
    position: absolute;
    right: .25rem;
    top: .25rem;
}

.image-editor-container {
    display: grid;
    place-items: center;
}

.image-editor-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image-editor-toolbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-between;
}
