.select {
    .expand {
        transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    }

    &.open, &[data-popover-container][data-popover-open] {
        .expand {
            transform: rotate(-180deg);
        }
    }

    .input > select > option {
        background-color: var(--tavenem-color-bg-alt);
        padding-bottom: .25em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .25em;
    }

    &.read-only, &:readonly {
        cursor: default;
        pointer-events: none;
    }
}
