@keyframes tf-skeleton-pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.skeleton {
    animation: tf-skeleton-pulse 1.5s ease-in-out 0.5s infinite;
    background-color: rgba(0, 0, 0, 0.11);
    flex-grow: 1;

    &.text {
        border-radius: var(--tavenem-border-radius);
        display: inline-block;
        flex-grow: 0;
        margin-bottom: 0;
        margin-top: 0;
        transform: scale(1, 0.60);
        transform-origin: 0 60%;
        width: 100%;

        &:empty:before {
            content: "\00a0";
        }
    }

    &.primary,
    &.secondary,
    &.tertiary,
    &.danger,
    &.dark,
    &.default,
    &.info,
    &.success,
    &.warning {
        background-color: var(--tavenem-theme-color-hover);
    }
}
