<Dialog>
    <ChildContent>
        <Form @ref="LinkForm" Model="Link">
            <TextInput Label="URL"
                       @bind-Value="Link.Url"
                       UpdateOnInput="true"
                       Validation="ValidateUri"
                       Required="true" />
            <TextInput Label="Title (optional)"
                       @bind-Value="Link.Title" />
        </Form>
    </ChildContent>
    <FooterContent>
        <div class="message-box-buttons">
            <button @onclick="@(_ => Dialog?.Cancel())" class="btn btn-text">Cancel</button>
            <button @onclick="SubmitAsync" class="btn btn-text primary" disabled="@string.IsNullOrEmpty(Link.Url)">Ok</button>
        </div>
    </FooterContent>
</Dialog>
