/* _content/Tavenem.Blazor.Framework.DocPages/Pages/GettingStarted/Themes.razor.rz.scp.css */
dt[b-21wvxx4oge] {
    --tavenem-mono: 1;
    color: #015D8E;
    font-family: var(--tavenem-font-family-monospace);
}
[data-theme="dark"] dt[b-21wvxx4oge] {
    color: #9cdcfe;
}

.swatch[b-21wvxx4oge] {
    display: inline-block;
    height: 1rem;
    margin-inline-end: .25rem;
    vertical-align: text-top;
    width: 1rem;
}
/* _content/Tavenem.Blazor.Framework.DocPages/Pages/Home.razor.rz.scp.css */
.background-gradient[b-pdzm598ywm] {
    background: linear-gradient(transparent, transparent 25%, var(--tavenem-color-primary) 50%, var(--tavenem-color-success) 60%, transparent 69%, transparent),
        linear-gradient(to right, transparent, var(--tavenem-color-secondary), transparent);
    bottom: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(transparent, transparent 25%, black 50%, black 66%, transparent 72%, transparent);
    mask-image: linear-gradient(transparent, transparent 25%, black 50%, black 66%, transparent 72%, transparent);
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
}
