.appbar {
    align-content: center;
    background-color: var(--tavenem-color-bg);
    box-sizing: border-box;
    color: var(--tavenem-color-text);
    width: 100%;
    z-index: var(--tavenem-zindex-appbar);

    &.filled {
        background-color: var(--tavenem-color-bg-surface);
    }

    &.top {
        grid-area: header;
    }

    &.bottom {
        grid-area: footer;
    }

    @media (max-width: 575px) and (orientation: landscape) {
        min-height: 3rem;
    }

    &.dense, .dense & {
        min-height: 3rem;
    }

    a {
        &:hover,
        &:focus-visible {
            text-decoration: none;
        }
    }
}
