.appbar {
    align-content: center;
    align-items: center;
    background-color: var(--tavenem-color-bg-surface);
    box-sizing: border-box;
    color: var(--tavenem-color-text);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 3.5em;
    position: relative;
    width: 100%;
    z-index: var(--tavenem-zindex-appbar);

    &.top {
        grid-area: header;
    }

    &.bottom {
        grid-area: footer;
    }

    @media (max-width: 575px) and (orientation: landscape) {
        height: 3em;
    }

    @media (min-width: 576px) and (orientation: portrait) {
        height: 4em;
    }

    &.dense, .dense & {
        min-height: 3em;
    }
}
