.avatar {
    align-items: center;
    background-color: var(--tavenem-color-dark);
    border-radius: 50%;
    color: var(--tavenem-color-dark-text);
    display: inline-flex;
    flex-shrink: 0;
    font-size: 1.25em;
    height: 2.5em;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 2.5em;

    &.small {
        font-size: .875em;
        height: 1.5em;
        width: 1.5em;
    }

    &.large {
        font-size: 1.75em;
        height: 3.5em;
        width: 3.5em;
    }

    img {
        color: transparent;
        height: 100%;
        object-fit: cover;
        text-align: center;
        text-indent: 10000px;
        width: 100%;
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            background-color: var(--tavenem-color-#{$theme});
            color: var(--tavenem-color-#{$theme}-text);

            &.bg-alt {
                background-color: var(--tavenem-color-#{$theme}-darken);
            }

            &.darken {
                background-color: var(--tavenem-color-#{$theme}-darken);
                color: var(--tavenem-color-#{$theme}-text);
            }

            &.lighten {
                background-color: var(--tavenem-color-#{$theme}-lighten);
                color: var(--tavenem-color-#{$theme}-text);
            }

            &.outlined {
                background-color: transparent;
                color: var(--tavenem-color-#{$theme});
            }
        }
    }
}

.avatar-group {
    display: flex;
    counter-reset: avatar-count;

    .avatar {
        border: 2px solid var(--tavenem-color-bg);
        height: calc(2.5em + 2px);
        margin-inline-start: -.75em;
        width: calc(2.5em + 2px);

        &:first-child {
            margin-inline-start: 0px !important;
        }

        &.small {
            height: calc(1.5em + 2px);
            width: calc(1.5em + 2px);
        }

        &.large {
            height: calc(3.5em + 2px);
            width: calc(3.5em + 2px);
        }

        &:before {
            counter-increment: avatar-count;
        }
    }

    &.filled {
        background-color: transparent;

        .avatar {
            background-color: var(--tavenem-color-dark);
            color: var(--tavenem-color-dark-text);
        }
    }

    &.outlined {
        border: none;

        .avatar {
            background-color: var(--tavenem-color-dark) !important;
            border: 2px solid var(--tavenem-color-border);
        }
    }

    &.bg-alt {
        background-color: transparent;

        .avatar {
            background-color: var(--tavenem-color-bg-alt);
        }
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            color: var(--tavenem-color-#{$theme}-text);

            .avatar {
                background-color: var(--tavenem-color-#{$theme});
                color: inherit;
            }

            &.bg-alt {
                background-color: transparent;

                .avatar {
                    background-color: var(--tavenem-color-#{$theme}-darken);
                }
            }

            &.filled {
                background-color: transparent;

                .avatar {
                    background-color: var(--tavenem-color-#{$theme});
                }
            }

            &.outlined {
                .avatar {
                    border-color: var(--tavenem-color-#{$theme});
                }
            }

            &.darken {
                .avatar {
                    background-color: var(--tavenem-color-#{$theme}-darken);
                }
            }

            &.lighten {
                .avatar {
                    background-color: var(--tavenem-color-#{$theme}-lighten);
                }
            }
        }

        .border-#{$theme} .avatar {
            border-color: var(--tavenem-color-#{$theme}) !important;
        }
    }
}
