.badge {
    --tavenem-badge-color: inherit;
    --tavenem-badge-color-bg: var(--tavenem-color-default);
    --badge-content-inset-x: 4px;
    --badge-content-inset-y: 4px;
    background-color: transparent !important;
    border: none !important;
    color: var(--tavenem-color-default-text);
    display: flex;
    flex: 0 1 auto;
    font-size: .75em;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &:empty:after {
        background-color: var(--tavenem-badge-color-bg);
        border-color: inherit;
        border-radius: 50%;
        color: var(--tavenem-badge-color);
        content: '';
        height: .75em;
        inset: auto auto calc(100% - var(--badge-content-inset-y)) calc(100% - var(--badge-content-inset-x));
        width: .75em;
        pointer-events: auto;
        position: absolute;
        top: auto;
        transition: .3s cubic-bezier(.25,.8,.5,1);
        z-index: 1;
    }

    > * {
        background-color: var(--tavenem-badge-color-bg);
        border-color: inherit;
        border-radius: 9999px;
        color: var(--tavenem-badge-color);
        inset: auto auto calc(100% - var(--badge-content-inset-y)) calc(100% - var(--badge-content-inset-x));
        letter-spacing: 0;
        line-height: 1;
        min-width: 1.25em;
        padding: 4px 6px;
        pointer-events: auto;
        position: absolute;
        text-align: center;
        text-indent: 0;
        top: auto;
        transition: .3s cubic-bezier(.25,.8,.5,1);
        white-space: nowrap;
        z-index: 1;

        > *:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        > *:last-child {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        > *:only-child {
            border-radius: inherit;
        }
    }

    > a:not(.disabled, :disabled) {
        &:hover,
        &:focus-visible {
            color: var(--tavenem-badge-color);
        }
    }

    > tf-icon {
        font-size: 1.25em;
    }

    &.bottom, &.bottom-right {
        align-items: flex-end;

        > *, &:empty:after {
            inset: calc(100% - var(--badge-content-inset-y)) auto auto calc(100% - var(--badge-content-inset-x));
        }
    }

    &.bottom-center {
        align-items: flex-end;
        justify-content: center;

        > *, &:empty:after {
            inset: calc(100% - var(--badge-content-inset-y)) auto auto auto;
        }
    }

    &.bottom-left {
        align-items: flex-end;
        justify-content: flex-start;

        > *, &:empty:after {
            inset: calc(100% - var(--badge-content-inset-y)) calc(100% - var(--badge-content-inset-x)) auto auto;
        }
    }

    &.center, &.top-center {
        justify-content: center;

        > *, &:empty:after {
            inset: auto auto calc(100% - var(--badge-content-inset-y)) auto;
        }
    }

    &.center-center {
        align-items: center;
        justify-content: center;

        > *, &:empty:after {
            inset: unset;
        }
    }

    &.center-left {
        align-items: center;

        > *, &:empty:after {
            inset: auto calc(100% - (var(--badge-content-inset-x) - 4px)) auto auto;
        }
    }

    &.center-right {
        align-items: center;

        > *, &:empty:after {
            inset: auto auto auto calc(100% - (var(--badge-content-inset-x) - 4px));
        }
    }

    &.left, &.top-left {
        justify-content: flex-start;

        > *, &:empty:after {
            inset: auto calc(100% - var(--badge-content-inset-x)) calc(100% - var(--badge-content-inset-y)) auto;
        }
    }

    &.overlap {
        --badge-content-inset-x: 8px;
        --badge-content-inset-y: 12px;

        &:empty:after {
            --badge-content-inset-x: 4px;
            --badge-content-inset-y: 8px;
        }
    }

    &.border {
        border-style: none !important;

        > * {
            border-color: inherit;
            border-style: solid;
            border-width: 2px;
            padding: 3px 4px;
        }

        > tf-icon {
            margin-left: -4px;
            margin-inline-start: -4px;
            margin-inline-end: unset;
            margin-top: -4px;
        }

        &:empty:after {
            border-color: inherit;
            border-style: solid;
            border-width: 2px;
        }
    }

    &.bg-alt {
        --tavenem-badge-color-bg: var(--tavenem-theme-color-bg-alt, var(--tavenem-color-bg-alt));
    }

    &.filled {
        --tavenem-badge-color-bg: var(--tavenem-theme-color, var(--tavenem-color-default));
    }

    &.outlined {
        --tavenem-badge-color-bg: transparent;

        > *, &:empty:after {
            border-style: solid;
            border-width: 1px;
        }
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --tavenem-badge-color: var(--tavenem-theme-color-text);
            --tavenem-badge-color-bg: var(--tavenem-theme-color);
        }
    }
}
