.breadcrumbs {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem .75rem;
    list-style: none;

    > * {
        color: var(--tavenem-color-text);

        + * {
            padding-left: .75rem;

            &::before {
                float: left;
                padding-right: .75rem;
                content: var(--tavenem-breadcrumb-divider);
            }
        }
    }

    > *[aria-current="page"] {
        &, * {
            color: var(--tavenem-color-text-secondary);
        }

        a {
            color: var(--tavenem-color-action-disabled) !important;
            cursor: default;
            pointer-events: none;
            text-decoration: none;
        }
    }
}
