.button-group {
    background-color: transparent !important;
    border-radius: var(--tavenem-border-radius);
    box-shadow: var(--tavenem-shadow-1);
    display: inline-flex;
    --buttongroup-inherited-bg: var(--tavenem-color-default);
    --buttongroup-inherited-hover-bg: var(--tavenem-color-default-darken);
    --buttongroup-inherited-hover-color: var(--tavenem-color-default-text);
    --buttongroup-inherited-hover-shadow: var(--tavenem-shadow-2);
    --buttongroup-inherited-border-color: var(--tavenem-color-border);
    --buttongroup-inherited-border-style: none;

    &.elevation-0 {
        --buttongroup-inherited-hover-shadow: none;
    }

    > {
        .btn,
        .btn-text,
        .btn-icon {
            background-color: var(--buttongroup-inherited-bg);
            box-shadow: none;
            border-color: var(--buttongroup-inherited-border-color);
            border-style: var(--buttongroup-inherited-border-style);
            border-width: 1px;
            color: inherit;
            padding: 6px 16px;

            &:hover,
            &:focus-visible {
                background-color: var(--buttongroup-inherited-hover-bg);
                box-shadow: var(--buttongroup-inherited-hover-shadow);
                color: var(--buttongroup-inherited-hover-color);
            }
        }
    }

    > .btn-icon {
        padding-left: 12px;
        padding-right: 12px;
    }

    &:not(.vertical) > {
        .btn,
        .btn-text,
        .btn-icon {
            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:not(:first-child) {
                border-bottom-left-radius: 0;
                border-left-style: solid;
                border-top-left-radius: 0;
                margin-left: -1px;
            }
        }
    }

    &.vertical {
        flex-direction: column;

        > {
            .btn,
            .btn-text,
            .btn-icon {
                width: 100%;

                &:not(:last-child) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-style: solid;
                }

                &:not(:first-child) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    margin-top: -1px;
                }
            }
        }
    }

    &.small > {
        .btn,
        .btn-text,
        .btn-icon {
            padding: .25em .625em;
        }
    }

    &.large > {
        .btn,
        .btn-text,
        .btn-icon {
            padding: 4px 22px;
        }
    }

    &.outlined {
        box-shadow: none;
        color: var(--tavenem-color-text);
        --buttongroup-inherited-bg: transparent;
        --buttongroup-inherited-hover-bg: var(--tavenem-color-action-hover-bg);
        --buttongroup-inherited-hover-color: var(--tavenem-color-default-hover);
        --buttongroup-inherited-hover-shadow: none;
        --buttongroup-inherited-border-style: solid;

        &.small > {
            .btn,
            .btn-text,
            .btn-icon {
                padding: 3px 9px;
            }
        }

        &.large > {
            .btn,
            .btn-text,
            .btn-icon {
                padding: 7px 21px;
            }
        }
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --buttongroup-inherited-bg: var(--tavenem-color-#{$theme});
            --buttongroup-inherited-hover-bg: var(--tavenem-color-#{$theme}-darken);
            --buttongroup-inherited-hover-color: var(--tavenem-color-#{$theme}-text);
            --buttongroup-inherited-border-color: var(--tavenem-color-#{$theme});

            &.darken {
                --buttongroup-inherited-bg: var(--tavenem-color-#{$theme}-darken);
                --buttongroup-inherited-hover-bg: var(--tavenem-color-#{$theme}-darken-2);
            }

            &.lighten {
                --buttongroup-inherited-bg: var(--tavenem-color-#{$theme}-lighten);
                --buttongroup-inherited-hover-bg: var(--tavenem-color-#{$theme});
            }

            &.outlined {
                --buttongroup-inherited-hover-bg: var(--tavenem-color-#{$theme}-hover);
            }
        }
    }
}

.button-group-text {
    box-shadow: none;
    --buttongroup-inherited-bg: transparent;
    --buttongroup-inherited-hover-bg: var(--tavenem-color-action-hover-bg);
    --buttongroup-inherited-hover-color: var(--tavenem-color-text);
    --buttongroup-inherited-hover-shadow: none;

    > {
        .btn,
        .btn-text,
        .btn-icon {
            padding: 6px 8px;
        }
    }

    &.small > {
        .btn,
        .btn-text,
        .btn-icon {
            padding: 4px 5px;
        }
    }

    &.large > {
        .btn,
        .btn-text,
        .btn-icon {
            padding: 8px 11px;
        }
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            color: var(--tavenem-color-#{$theme});
            --buttongroup-inherited-bg: transparent;
            --buttongroup-inherited-hover-bg: var(--tavenem-color-action-hover-bg);
            --buttongroup-inherited-hover-color: var(--tavenem-color-#{$theme}-hover);

            &.darken {
                color: var(--tavenem-color-#{$theme}-darken);
            }

            &.lighten {
                color: var(--tavenem-color-#{$theme}-lighten);
            }
        }
    }
}
