.card {
    align-self: stretch;
    background-color: var(--tavenem-color-bg-alt);
    border-radius: var(--tavenem-border-radius);
    box-shadow: var(--tavenem-shadow-1);
    color: var(--tavenem-color-text);
    column-gap: 1rem;
    display: flex;
    flex: 1 0 min-content;
    flex-direction: column;
    margin: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    row-gap: 0;

    > {
        * {
            border-radius: 0;
            flex: 1 1 auto;
            -webkit-overflow-scrolling: touch;
        }

        hr {
            flex: 0 0 auto;
        }

        .body {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            overflow-y: auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .header,
        .footer {
            column-gap: 1em;
            display: flex;
            flex: 0 0 auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            > {
                * {
                    flex: 1 1 auto;
                }

                .avatar {
                    flex: 0 0 auto;
                }

                .btn,
                .btn-text,
                .btn-icon,
                .btn-close {
                    flex: 0 0 auto;

                    &:first-child {
                        margin-inline-start: -.5rem;
                    }

                    &:last-child {
                        margin-inline-end: -.5rem;
                    }
                }
            }
        }

        .header {
            margin-bottom: 1rem;
            order: -1;

            > {
                * {
                    margin-bottom: 0;
                }

                button, .btn {
                    align-self: flex-start;
                }
            }
        }

        .footer {
            margin-top: 1rem;
            order: 9999;

            > {
                * {
                    margin-top: 0;
                }

                button, .btn {
                    align-self: flex-end;
                }
            }
        }

        .media {
            object-fit: contain;
            margin-bottom: 1rem;
            margin-top: 1rem;
            width: 100%;

            .header + & {
                margin-top: 0;
            }

            & + .footer {
                margin-bottom: 0;
            }

            &:first-child {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                margin-top: -1rem;
            }

            &:last-child {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                margin-bottom: -1rem;
            }

            &:only-child {
                border-radius: inherit;
                margin-bottom: -1rem;
                margin-top: -1rem;
            }

            &.backdrop {
                border-radius: inherit;
                margin-bottom: -1rem;
                margin-top: -1rem;
                object-fit: cover;
            }
        }

        .media-overlay {
            border-radius: inherit;
            bottom: 0;
            left: 0;
            position: absolute;
            padding: 1rem;
            right: 0;
            top: 0;
        }
    }

    > *:first-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }

    > *:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &.filled {
        background-color: var(--tavenem-color-bg-alt);
        color: var(--tavenem-color-text);
    }

    &.bg-alt {
        background-color: var(--tavenem-color-bg);
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            background-color: var(--tavenem-color-#{$theme}-hover);

            &.bg-alt {
                background-color: var(--tavenem-color-#{$theme}-hover-dark);
            }

            &.filled {
                background-color: var(--tavenem-color-#{$theme}-hover);
                color: var(--tavenem-color-#{$theme});
            }
        }
    }

    .card {
        background-color: var(--tavenem-color-bg);

        &.bg-alt {
            background-color: var(--tavenem-color-bg-alt);
        }

        @each $theme in $theme-colors {
            &.#{$theme} {
                background-color: var(--tavenem-color-#{$theme}-hover-dark);

                &.bg-alt {
                    background-color: var(--tavenem-color-#{$theme}-hover);
                }

                &.filled {
                    background-color: var(--tavenem-color-#{$theme}-hover-dark);
                }
            }
        }

        .card {
            background-color: var(--tavenem-color-bg-alt);

            &.bg-alt {
                background-color: var(--tavenem-color-bg);
            }

            @each $theme in $theme-colors {
                &.#{$theme} {
                    background-color: var(--tavenem-color-#{$theme}-hover);

                    &.bg-alt {
                        background-color: var(--tavenem-color-#{$theme}-hover-dark);
                    }

                    &.filled {
                        background-color: var(--tavenem-color-#{$theme}-hover);
                    }
                }
            }

            .card {
                background-color: var(--tavenem-color-bg);

                &.bg-alt {
                    background-color: var(--tavenem-color-bg-alt);
                }

                @each $theme in $theme-colors {
                    &.#{$theme} {
                        background-color: var(--tavenem-color-#{$theme}-hover-dark);

                        &.bg-alt {
                            background-color: var(--tavenem-color-#{$theme}-hover);
                        }

                        &.filled {
                            background-color: var(--tavenem-color-#{$theme}-hover-dark);
                        }
                    }
                }

                .card {
                    background-color: var(--tavenem-color-bg-alt);

                    &.bg-alt {
                        background-color: var(--tavenem-color-bg);
                    }

                    @each $theme in $theme-colors {
                        &.#{$theme} {
                            background-color: var(--tavenem-color-#{$theme}-hover);

                            &.bg-alt {
                                background-color: var(--tavenem-color-#{$theme}-hover-dark);
                            }

                            &.filled {
                                background-color: var(--tavenem-color-#{$theme}-hover);
                            }
                        }
                    }

                    .card {
                        background-color: var(--tavenem-color-bg);

                        &.bg-alt {
                            background-color: var(--tavenem-color-bg-alt);
                        }

                        @each $theme in $theme-colors {
                            &.#{$theme} {
                                background-color: var(--tavenem-color-#{$theme}-hover-dark);

                                &.bg-alt {
                                    background-color: var(--tavenem-color-#{$theme}-hover);
                                }

                                &.filled {
                                    background-color: var(--tavenem-color-#{$theme}-hover-dark);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.card-group {
    border-radius: var(--tavenem-border-radius);
    box-shadow: var(--tavenem-shadow-1);
    display: flex;
    flex: 1 1 min-content;
    flex-wrap: wrap;
    gap: 1px;
    margin: 1rem;

    > .card {
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            background-color: transparent;
        }
    }

    &.cols-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@for $i from 2 through 12 {
    .card-group.cols-#{$i} {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat($i, 1fr);
    }

    @each $breakpoint, $min-width in $breakpoints {
        @media (min-width: $min-width) {
            .card-group.cols-#{$breakpoint}-#{$i} {
                display: grid;
                grid-auto-columns: 1fr;
                grid-template-columns: repeat($i, 1fr);
            }
        }
    }
}

@each $breakpoint, $min-width in $breakpoints {
    .card-group.cols-#{$breakpoint}-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .card-group-#{$breakpoint} {
        border-radius: var(--tavenem-border-radius);
        box-shadow: var(--tavenem-shadow-1);
        display: flex;
        flex: 1 1 min-content;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1px;
        margin: 1rem;

        > .card {
            border-radius: 0;
            box-shadow: none;
            margin: 0;
        }

        @each $theme in $theme-colors {
            &.#{$theme} {
                background-color: transparent;
            }
        }
    }

    @media (min-width: $min-width) {
        .card-group-#{$breakpoint} {
            flex-direction: row;
        }
    }
}
