.checkbox {
    @include ripple;
    --checkbox-inherited-color: var(--tavenem-color-action);
    --checkbox-inherited-content-color: var(--tavenem-color-text);
    --checkbox-inherited-hover-bg: var(--tavenem-color-action-hover-bg);
    align-items: center;
    color: var(--tavenem-color-action);
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    &:after {
        transform: scale(7,7);
    }

    > .content {
        color: var(--checkbox-inherited-content-color);
    }

    &:disabled, &.disabled {
        &, &:hover, &:focus-visible {
            color: var(--tavenem-color-action-disabled);

            &, * {
                background-color: transparent !important;
                cursor: default;
            }

            * {
                color: var(--tavenem-color-text-disabled);
            }
        }
    }

    &.readonly, &.readonly:hover {
        &, * {
            cursor: default;
        }
    }

    &.dense, .dense > & .checkbox-icons {
        padding: 4px;
    }

    &.filled {
        background-color: transparent;
        color: var(--tavenem-color-action);
    }

    &.outlined {
        border: none;
    }

    &.bg-alt {
        background-color: transparent;
    }

    @each $theme in $theme-colors {
        .#{$theme} {
            &, &.darken, &.lighten, &.filled {
                color: var(--tavenem-color-action);
            }

            --checkbox-inherited-color: var(--tavenem-color-#{$theme});
            --checkbox-inherited-content-color: var(--tavenem-color-#{$theme});
            --checkbox-inherited-hover-bg: var(--tavenem-color-#{$theme}-hover);

            &.darken {
                --checkbox-inherited-color: var(--tavenem-color-#{$theme}-darken);
                --checkbox-inherited-content-color: var(--tavenem-color-#{$theme}-darken);
                --checkbox-inherited-hover-bg: var(--tavenem-color-#{$theme}-hover-dark);
            }

            &.lighten {
                --checkbox-inherited-color: var(--tavenem-color-#{$theme}-lighten);
                --checkbox-inherited-content-color: var(--tavenem-color-#{$theme}-lighten);
                --checkbox-inherited-hover-bg: var(--tavenem-color-#{$theme}-hover-light);
            }
        }
    }
}

.checkbox-span {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    > input[type="checkbox"] {
        color: inherit;
        cursor: inherit;
        height: 100%;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.checkbox-icons {
    color: var(--checkbox-inherited-color);
    display: flex;
    position: relative;

    &:hover {
        background-color: var(--checkbox-inherited-hover-bg);
    }

    .icon-checked {
        left: 0;
        position: absolute;
        transform: scale(0);
        transition: transform 150ms cubic-bezier(0.4, 0, 1, 1) 0ms;
    }

    :checked + & .icon-checked {
        transform: scale(1);
        transition: transform 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    }
}

.switch {
    .checkbox-span {
        height: calc(1.25em + 18px);
        padding: 12px;
        width: calc(1.25em + 38px);
    }

    &.disabled, &:disabled {
        .switch-track {
            opacity: .12;
        }
    }

    .checkbox-icons .icon {
        background-color: currentColor;
        border-radius: 50%;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
        height: 1.25em;
        width: 1.25em;
    }

    @each $theme in $theme-colors {
        .#{$theme} {
            .switch-track {
                background-color: var(--tavenem-color-#{$theme});
            }

            &.darken .switch-track {
                color: var(--tavenem-color-#{$theme}-darken);
            }

            &.lighten .switch-track {
                color: var(--tavenem-color-#{$theme}-lighten);
            }
        }
    }
}

.switch-track {
    background-color: black;
    border-radius: calc(.5em - 1px);
    height: 100%;
    opacity: 0.48;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
    z-index: -1;

    :checked + .checkbox-span & {
        opacity: .5;
    }
}
