.chip {
    --tavenem-chip-active-color: var(--tavenem-color-default-darken);
    --tavenem-chip-active-color-outlined: var(--tavenem-color-action-hover-bg);
    --tavenem-chip-border-color: var(--tavenem-color-border);
    --tavenem-chip-border-style: none;
    --tavenem-chip-color: var(--tavenem-color-default-text);
    --tavenem-chip-color-bg: var(--tavenem-color-default);
    align-items: center;
    background-color: var(--tavenem-chip-color-bg);
    border-color: var(--tavenem-chip-border-color);
    border-radius: 9999px;
    border-style: var(--tavenem-chip-border-style);
    border-width: 2px;
    box-sizing: border-box;
    color: var(--tavenem-chip-color);
    column-gap: .25rem;
    cursor: default;
    display: inline-flex;
    flex: 0 0 auto;
    font-size: .875rem;
    height: 2rem;
    justify-content: center;
    line-height: normal;
    margin: .25rem;
    max-width: 100%;
    outline: 0;
    padding: 0 .75rem;
    position: relative;
    text-decoration: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &.clickable {
        cursor: pointer;

        &:hover:not(.disabled, :disabled),
        &:focus-visible:not(.disabled, :disabled),
        &.selected {
            --tavenem-chip-color-bg: var(--tavenem-chip-active-color);

            &.outlined {
                --tavenem-chip-color-bg: var(--tavenem-chip-active-color-outlined);
            }
        }
    }

    &:disabled,
    &.disabled {
        opacity: 0.5;
        pointer-events: none;

        tf-icon {
            color: inherit;
        }
    }

    &.small {
        font-size: .75rem;
        height: 1.5rem;
    }

    &.large {
        font-size: 1rem;
        height: 2.5rem;
    }

    &.outlined {
        --tavenem-chip-color-bg: transparent;
        --tavenem-chip-border-style: solid;
        --tavenem-chip-color: var(--tavenem-color-text);
    }

    tf-close {
        align-self: center;
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --tavenem-chip-active-color: var(--tavenem-theme-color-darken);
            --tavenem-chip-active-color-outlined: var(--tavenem-theme-color-hover);
            --tavenem-chip-color: var(--tavenem-theme-color-text);
            --tavenem-chip-color-bg: var(--tavenem-theme-color);

            &.outlined {
                --tavenem-chip-border-color: var(--tavenem-theme-color);
                --tavenem-chip-color: var(--tavenem-theme-color);
                --tavenem-chip-color-bg: transparent;
            }
        }
    }
}

a.chip,
button.chip {
    cursor: pointer;

    &:hover:not(.disabled, :disabled),
    &:focus:not(.disabled, :disabled),
    &.selected {
        background-color: var(--tavenem-chip-active-color);

        &.outlined {
            background-color: var(--tavenem-chip-active-color-outlined);
        }
    }
}

.chip-text {
    --tavenem-chip-active-color: var(--tavenem-color-default-hover-bright);
    --tavenem-chip-active-color-outlined: var(--tavenem-color-default-hover-bright);
    color: var(--tavenem-color-default);
    background-color: var(--tavenem-color-default-hover);

    @each $theme in $theme-colors {
        &.#{$theme} {
            --tavenem-chip-active-color: var(--tavenem-theme-color-hover-bright);
            --tavenem-chip-active-color-outlined: var(--tavenem-theme-color-hover-bright);
            --tavenem-chip-color: var(--tavenem-theme-color);
            --tavenem-chip-color-bg: var(--tavenem-theme-color-hover);
        }
    }
}

.chipset {
    display: flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
    position: relative;

    &.can-drop {
        padding-inline-end: 2em;
    }
}
