.collapse {
    align-items: stretch;
    background-color: var(--tavenem-color-bg-surface);
    border-radius: var(--tavenem-border-radius);
    color: var(--tavenem-color-text);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-width: 100%;
    position: relative;
    transition: margin .3s cubic-bezier(.25,.8,.5,1);
    transition-delay: 0ms;

    @media (prefers-reduced-motion) {
        transition: none;
    }

    > * {
        border-radius: 0;
    }

    > *:last-child {
        border-bottom: none;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        margin-bottom: 0;
    }

    > .header {
        align-items: center;
        border-top: none;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        display: flex;
        font-size: .9375rem;
        justify-content: space-between;
        min-height: 3rem;
        order: -1;
        outline: none;
        padding: 1rem 1.5rem;
        position: relative;
        transition: min-height .3s cubic-bezier(.25,.8,.5,1);

        > .expand:only-child {
            flex-grow: 1;
        }

        &.expand, > .expand {
            align-items: center;
            align-self: stretch;
            display: flex;
            justify-content: space-between;
            line-height: 1;
            order: 9999;
            outline: none;
            user-select: none;

            &:hover {
                cursor: pointer;
            }

            > *:not(.icon) {
                flex: 1 1 auto;
            }

            &.icon, > .icon {
                margin-inline-end: -.25rem;
                margin-inline-start: auto;
                order: 9999;
                transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
                transform: rotate(-180deg);
            }
        }

        > .clickable {
            outline: none;
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .list > & {
        align-items: stretch;
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        padding: 0;

        > .header {
            padding: .75rem 1rem;
        }
    }

    &.disabled > .header {
        color: var(--tavenem-color-text-disabled);

        &.expand, > .expand {
            &:hover {
                cursor: default;
                pointer-events: none;
            }
        }
    }

    > .body {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        max-height: 9999px;
        max-width: 100%;
        padding: 1rem 1.5rem;
        transition: all .3s ease, max-height .3s cubic-bezier(.25,.8,.5,1);

        > * {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }

        > *:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: 0;
            padding-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        > *:only-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-bottom: 0;
            margin-top: 0;
            padding-bottom: 0;
            padding-top: 0;
        }

        > .list {
            margin: -1rem -1.5rem;
        }
    }

    > .footer {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        padding: 1rem 1.5rem;
    }

    &.closed {
        transition-delay: 100ms;

        > .header {
            &.expand, > .expand {
                &.icon, > .icon {
                    transform: rotate(0deg);
                }
            }
        }

        > .body {
            margin-bottom: 0 !important;
            margin-top: 0 !important;
            max-height: 0 !important;
            overflow: hidden !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }
    }

    &.loading {
        > .header {
            &.expand, > .expand {
                &.icon, > .icon {
                    animation: tf-rotation 1s infinite linear;
                }
            }
        }
    }

    .tree > & {
        > .header {
            &.expand, > .expand {
                order: -1;

                &.icon, > .icon {
                    order: -1;
                    transform: rotate(0deg);
                }
            }
        }

        &.closed > .header {
            &.expand, > .expand {
                &.icon, > .icon {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &.dense {
        .header, .body, .footer {
            padding: .25rem .75rem;
        }
    }

    &.outlined {
        > {
            .body, .footer {
                border-top-color: inherit;
                border-top-style: solid;
                border-top-width: 1px;
            }
        }

        &.closed > .body {
            border-top-style: none;
        }
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            color: var(--tavenem-color-#{$theme});
            background-color: var(--tavenem-color-#{$theme}-hover);

            &.darken {
                color: var(--tavenem-color-#{$theme}-darken);
                background-color: var(--tavenem-color-#{$theme}-hover-dark);
            }

            &.lighten {
                color: var(--tavenem-color-#{$theme}-lighten);
                background-color: var(--tavenem-color-#{$theme}-hover-light);
            }

            &.filled {
                background-color: var(--tavenem-color-#{$theme});
                color: var(--tavenem-color-#{$theme}-text);

                &.bg-alt {
                    background-color: var(--tavenem-color-#{$theme}-darken);
                }

                &.darken {
                    background-color: var(--tavenem-color-#{$theme}-darken);
                }

                &.lighten {
                    background-color: var(--tavenem-color-#{$theme}-lighten);
                }
            }
        }
    }
}

.accordion {
    flex: 0 1 auto;
    border-radius: var(--tavenem-border-radius);
    box-shadow: var(--tavenem-shadow-1);
    max-width: 100%;
    position: relative;
    transition: .3s cubic-bezier(.25,.8,.5,1);

    &.flush {
        border-radius: 0;
        box-shadow: none;
    }

    > .collapse {
        border-bottom: 1px solid var(--tavenem-color-border);
    }

    &.border-0 {
        > .collapse {
            border-bottom: 0 !important;
        }
    }

    &.dense > .collapse > {
        .header, .body, .footer {
            padding: .25rem .75rem;
        }
    }

    > * {
        border-radius: 0;
    }

    > *:first-child {
        border-top: none;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    > *:last-child {
        border-bottom: none;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    > *:only-child {
        border: none;
        border-top: none;
        border-radius: inherit;
    }
}
