.date-picker {
    --date-picker-active-color-darken: var(--tavenem-color-primary-hover-dark);
    --date-picker-active-color-hover: var(--tavenem-color-primary-hover);
    --date-picker-active-color-text: var(--tavenem-color-primary-text);
    --date-picker-active-color: var(--field-active-label-color);

    .btn {
        text-transform: none;
    }

    .disabled > & {
        --date-picker-active-color-darken: var(--tavenem-color-default-hover-dark);
        --date-picker-active-color-hover: var(--tavenem-color-default-hover);
        --date-picker-active-color-text: var(--tavenem-color-default-text);
        --date-picker-active-color: var(--tavenem-color-default);
    }

    .invalid > & {
        --date-picker-active-color-darken: var(--tavenem-color-error-hover-dark);
        --date-picker-active-color-hover: var(--tavenem-color-error-hover);
        --date-picker-active-color-text: var(--tavenem-color-error-text);
        --date-picker-active-color: var(--tavenem-color-error);
    }

    @each $theme in $theme-colors {
        .#{$theme}:not(.invalid, .disabled) > & {
            --date-picker-active-color-darken: var(--tavenem-theme-color-hover-dark);
            --date-picker-active-color-hover: var(--tavenem-theme-color-hover);
            --date-picker-active-color-text: var(--tavenem-theme-color-text);
            --date-picker-active-color: var(--tavenem-theme-color);
        }
    }
}

.date-picker-header {
    --button-inherited-border-color: var(--date-picker-active-color-text);
    --button-inherited-bg: var(--date-picker-active-color);
    --button-inherited-color: var(--date-picker-active-color-text);
    --button-inherited-hover-bg: var(--date-picker-active-color-darken);
    --button-inherited-hover-color: var(--date-picker-active-color-text);
    align-items: start;
    background-color: var(--date-picker-active-color);
    display: flex;
    flex-direction: column;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;

    .current {
        color: var(--date-picker-active-color-text);
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1.17;
    }

    .inactive {
        --button-inherited-color: var(--tavenem-color-text-disabled);
        color: var(--tavenem-color-text-disabled);
    }

    > .select {
        --field-active-border-color: var(--date-picker-active-color-text);
        --field-active-border-hover-color: var(--date-picker-active-color-text);
        --field-border-color: var(--date-picker-active-color-text);
        --field-border-hover-color: var(--date-picker-active-color-text);
        --field-color: var(--date-picker-active-color-text);
        padding-left: 1rem;
        padding-right: 1rem;

        &, .input {
            margin-top: 0;
        }
    }
}

.date-picker-current-time {
    align-items: end;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 6px;

    .current {
        font-size: 3.75rem;
        line-height: 1;
    }

    .btn {
        padding-bottom: 0;
    }

    > .btn:first-of-type {
        padding-right: 0;
    }

    > .btn:last-of-type {
        padding-left: 0;
    }

    div .current {
        font-size: 1.25rem;
        line-height: 1.5;
        padding-left: 0;
        padding-right: 6px;

        &:last-child {
            padding-top: 0;
        }
    }
}

.date-picker-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .active {
        --button-inherited-border-color: var(--date-picker-active-color);
        --button-inherited-bg: var(--date-picker-active-color-hover);
        --button-inherited-color: var(--date-picker-active-color);
        --button-inherited-hover-bg: var(--date-picker-active-color-darken);
        --button-inherited-hover-color: var(--date-picker-active-color);
        color: var(--date-picker-active-color);
    }

    @media (max-width: 700px) {
        flex-direction: column;
    }
}

.date-picker-date-controls,
.date-picker-time-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 310px;
    max-width: 350px;
}

.date-picker-time-controls {
    align-items: center;
    justify-content: center;
}

.date-picker-selection {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;

    > * {
        flex-shrink: 0;
    }
}

.date-picker-nav {
    align-items: center;
    display: flex;
    padding-bottom: .5rem;
    padding-top: .5rem;

    > *:nth-child(2n) {
        flex-grow: 1;
    }
}

.date-picker-months {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: stretch;
    row-gap: .5rem;

    .btn {
        text-transform: none;
    }
}

.date-picker-calendar {
    --date-picker-calendar-columns: 7;
    --date-picker-calendar-rows: 5;
    display: grid;
    grid-template-columns: repeat(var(--date-picker-calendar-columns), 1fr);
    grid-template-rows: repeat(var(--date-picker-calendar-rows), 1fr);
    place-content: space-evenly;

    .btn {
        text-transform: none;
    }
}

.date-picker-clock {
    background-color: rgba(0,0,0,.07);
    border-radius: 50%;
    height: 260px;
    margin-top: 1rem;
    pointer-events: none;
    position: relative;
    width: 260px;

    > div {
        height: 100%;
        outline: none;
        pointer-events: auto;
        position: absolute;
        touch-action: none;
        user-select: none;
        width: 100%;

        .pin {
            background-color: var(--date-picker-active-color);
            border-radius: 50%;
            height: 6px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
        }

        .pointer {
            background-color: var(--date-picker-active-color);
            bottom: 50%;
            left: calc(50% - 1px);
            position: absolute;
            transform-origin: center bottom 0px;
            width: 2px;

            &.animated {
                transition: transform 150ms cubic-bezier(.4,0,.2,1) 0ms, height 150ms cubic-bezier(.4,0,.2,1) 0ms;
            }

            div {
                border-radius: 50%;
                position: absolute;

                &.onvalue {
                    background-color: inherit;
                    border: none;
                    height: 28px;
                    left: -13px;
                    top: -19px;
                    width: 28px;
                }

                &:not(.onvalue) {
                    background-color: transparent;
                    border: 2px solid var(--date-picker-active-color);
                    height: 10px;
                    left: -4px;
                    top: -9px;
                    width: 10px;
                }
            }
        }

        .dial {
            height: 100%;
            position: absolute;
            transform-origin: center;
            transition: transform 350ms, opacity 350ms;
            width: 100%;

            &.closed {
                opacity: 0;
            }

            &.hour.closed {
                transform: scale(1.2,1.2);
            }

            &:not(.hour).closed {
                transform: scale(.8,.8);
            }

            .number {
                border-radius: 50%;
                display: inline-grid;
                height: 32px;
                left: calc((100% - 32px) / 2);
                place-items: center;
                position: absolute;
                transition-duration: 120ms;
                transition-property: color;
                user-select: none;
                width: 32px;

                &.active {
                    color: var(--date-picker-active-color-text);
                }
            }

            .time-picker {
                bottom: 50%;
                height: 50%;
                left: calc(50% - 1px);
                position: absolute;
                transform-origin: center bottom 0px;
                width: 3px;

                &:not(.hours):after {
                    background-color: inherit;
                    border-radius: 50%;
                    content: "";
                    left: 50%;
                    position: absolute;
                    top: 20px;
                    transform: translate(-50%,-50%);
                }

                &.hour:after {
                    height: 62px;
                    width: 62px;
                }

                &:not(.hours, .hour):after {
                    height: 44px;
                    width: 15px;
                }

                .outer, .inner {
                    height: 35%;
                    left: calc(50% - 1px);
                    position: absolute;
                    transform-origin: center bottom 0px;

                    &:after {
                        background-color: inherit;
                        border-radius: 50%;
                        content: "";
                        height: 48px;
                        left: 50%;
                        position: absolute;
                        transform: translate(-50%,-50%);
                    }
                }

                .outer {
                    bottom: 35%;
                    width: 0;

                    &:after {
                        top: -20px;
                        width: 62px;
                    }
                }

                .inner {
                    bottom: 0;
                    width: 3px;

                    &:after {
                        top: -60%;
                        width: 48px;
                    }
                }
            }
        }
    }
}
