@mixin slider-track {
    &::-webkit-slider-runnable-track {
        @content
    }

    &::-moz-range-track {
        @content
    }
}

.field {
    --field-active-border-color: var(--tavenem-color-primary);
    --field-active-border-hover-color: var(--tavenem-color-primary-lighten);
    --field-active-label-color: var(--tavenem-color-primary);
    --field-border-color: var(--tavenem-color-border-input);
    --field-border-hover-color: var(--tavenem-color-action);
    --field-color: var(--tavenem-color-text);
    --field-label-color: var(--tavenem-color-text-secondary);
    border: 0;
    color: var(--tavenem-color-text);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0;
    margin-bottom: .5rem;
    margin-top: 1rem;
    max-width: 100%;
    padding: 0;
    position: relative;
    vertical-align: top;

    label {
        color: var(--field-label-color);
        display: block;
        font-size: 1rem;
        font-weight: var(--tavenem-font-weight);
        left: 0;
        line-height: 1;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: translate(0, calc(1rem + 8px)) scale(1);
        transform-origin: top left;
        transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        z-index: 0;

        *[dir="rtl"] & {
            left: unset;
            right: 0;
            transform-origin: top right;
        }
    }

    &.required label:after {
        color: var(--tavenem-color-error);
        content: " *";
    }

    &:not(.filled, .outlined) {
        .input {
            margin-top: 1rem;
        }
    }

    &:not(.outlined) .input {
        &:before {
            border-color: var(--field-border-color);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            bottom: 0;
            content: "\00a0";
            left: 0;
            right: 0;
            pointer-events: none;
            position: absolute;
            transition: border-bottom 0.2s, border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 0.2s;
        }

        &:after {
            border-bottom-color: var(--tavenem-color-error);
            border-bottom-style: solid;
            border-bottom-width: 2px;
            bottom: 0;
            content: "";
            left: 0;
            right: 0;
            pointer-events: none;
            position: absolute;
            transform: scaleX(0);
            transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }
    }

    &:not(.outlined, .disabled, .read-only) .input:hover:before {
        border-bottom-color: var(--field-border-hover-color);
    }

    &.filled {
        background-color: transparent;

        .input {
            background-color: rgba(0, 0, 0, 0.09);
            border-top-left-radius: var(--tavenem-border-radius);
            border-top-right-radius: var(--tavenem-border-radius);
            padding-bottom: 10px;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: calc(1rem + 11px);
            position: relative;
            transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

            &:hover {
                background-color: rgba(0, 0, 0, 0.13);
            }

            &:disabled {
                background-color: rgba(0, 0, 0, 0.12);
            }

            input {
                &:-webkit-autofill {
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
            }

            .btn, tf-icon {
                margin-top: -11px;
            }
        }

        label {
            pointer-events: none;
            transform: translate(12px, calc(1rem + 4px)) scale(1);
            z-index: 1;

            *[dir="rtl"] & {
                transform: translate(-12px, calc(1rem + 4px)) scale(1);
            }
        }

        .field-helpers {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    &.outlined {
        .input {
            background-color: var(--tavenem-color-bg-alt);
            border-color: var(--field-border-color);
            border-radius: var(--tavenem-border-radius);
            border-style: solid;
            border-width: 1px;
            padding-bottom: calc(1rem + 2.5px);
            padding-left: 14px;
            padding-right: 14px;
            padding-top: calc(1rem + 2.5px);
            position: relative;
            transition: border-width,border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

            &:disabled {
                border-color: var(--tavenem-color-action-disabled) !important;
            }

            input {
                &:-webkit-autofill {
                    border-radius: inherit;
                }
            }
        }

        label {
            background-color: var(--tavenem-color-bg-alt);
            line-height: calc(1rem + 2px);
            padding: 0px 5px !important;
            pointer-events: none;
            transform: translate(14px, calc(1rem + 4px)) scale(1);

            *[dir="rtl"] & {
                transform: translate(-14px, calc(1rem + 4px)) scale(1);
            }
        }

        .field-helpers {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    &.outlined:not(.disabled, .read-only) .input:hover {
        border-color: var(--field-border-hover-color);
    }

    &:focus-within:not(.disabled, .read-only) {
        --field-border-color: var(--field-active-border-color);
        --field-border-hover-color: var(--field-active-border-hover-color);
        --field-label-color: var(--field-active-label-color);
    }

    &.shrink, &:focus-within {
        &:not(.filled, .outlined) {
            label {
                transform: translate(0, 1.5px) scale(.75);
            }
        }

        &.filled {
            label {
                transform: translate(12px, 10px) scale(.75);

                *[dir="rtl"] & {
                    transform: translate(-12px, 10px) scale(.75);
                }
            }
        }

        &.outlined {
            label {
                transform: translate(14px, -6px) scale(.75);

                *[dir="rtl"] & {
                    transform: translate(-14px, -6px) scale(.75);
                }
            }
        }
    }

    &:focus-within, &.invalid {
        .field-helpers.onfocus {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
            transition: opacity 200ms cubic-bezier(0,0,.2,1) 0ms,color 200ms cubic-bezier(0,0,.2,1) 0ms,transform 200ms cubic-bezier(0,0,.2,1) 0ms;
        }
    }

    &.dense {
        margin-bottom: 2px;
        margin-top: 3px;

        .input {
            padding-top: 3px;
        }

        .numeric-spin {
            --button-inherited-font-size-icon: 1.25rem;
            --button-inherited-padding-y-icon: 5px;
        }

        .field-helpers {
            margin-top: 4px;
        }

        &.filled {
            .input {
                padding-bottom: 6px;
                padding-top: calc(1rem + 7px);

                .btn, tf-icon {
                    margin-top: -7px;
                }
            }

            label {
                transform: translate(12px, calc(1rem + 1px)) scale(1);

                *[dir="rtl"] & {
                    transform: translate(-12px, calc(1rem + 1px)) scale(1);
                }
            }
        }

        &.outlined {
            .input {
                padding-bottom: calc(1rem - 5.5px);
                padding-top: calc(1rem - 5.5px);
            }

            label {
                transform: translate(12px, calc(1rem - 4px)) scale(1);

                *[dir="rtl"] & {
                    transform: translate(-12px, calc(1rem - 4px)) scale(1);
                }
            }
        }

        &.shrink, &:focus-within {
            &:not(.filled, .outlined) {
                label {
                    transform: translate(0, 1.5px) scale(.75);
                }
            }

            &.filled {
                label {
                    transform: translate(12px, 7px) scale(.75);

                    *[dir="rtl"] & {
                        transform: translate(-12px, 7px) scale(.75);
                    }
                }
            }

            &.outlined {
                label {
                    transform: translate(14px, -6px) scale(.75);

                    *[dir="rtl"] & {
                        transform: translate(-14px, -6px) scale(.75);
                    }
                }
            }
        }
    }

    &.invalid {
        --field-active-border-color: var(--tavenem-color-error);
        --field-active-border-hover-color: var(--tavenem-color-error);
        --field-active-label-color: var(--tavenem-color-error);
        --field-border-color: var(--tavenem-color-error);
        --field-border-hover-color: var(--tavenem-color-error);
        --field-color: var(--tavenem-color-error);
        --field-label-color: var(--tavenem-color-error);

        &:not(.outlined) .input:after {
            transform: scaleX(1);
        }
    }

    &:disabled,
    &.disabled,
    &.read-only {
        .input {
            cursor: default;

            tf-icon {
                pointer-events: none;
            }

            input {
                opacity: 1;
            }
        }
    }

    &:disabled,
    &.disabled {
        --field-color: var(--tavenem-color-text-disabled);
        --field-label-color: var(--tavenem-color-text-disabled);

        .input {
            color: var(--tavenem-color-text-disabled) !important;

            tf-icon {
                color: var(--tavenem-color-text-disabled) !important;
            }
        }

        &.filled .input {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }

        &.outlined .input {
            border-color: var(--tavenem-color-action-disabled) !important;
        }
    }

    &.bg-alt {
        background-color: transparent;
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            &:not(.invalid, .disabled) {
                --field-active-border-color: var(--tavenem-theme-color);
                --field-active-border-hover-color: var(--tavenem-theme-color-lighten);
                --field-active-label-color: var(--tavenem-theme-color);
                --field-border-color: var(--tavenem-theme-color);
                --field-border-hover-color: var(--tavenem-theme-color-lighten);
                --field-label-color: var(--tavenem-theme-color);
            }

            &.filled {
                background-color: transparent;

                .input {
                    background-color: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness), .09);

                    &:hover {
                        background-color: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness), 0.13);
                    }

                    &:disabled {
                        background-color: var(--tavenem-theme-color-hover-bright);
                    }
                }
            }
        }
    }
}

.input {
    align-items: center;
    box-sizing: content-box;
    color: var(--field-color);
    column-gap: 8px;
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    font-weight: var(--tavenem-font-weight);
    line-height: 1.1875rem;
    min-height: 1.1875rem;
    padding-bottom: 7px;
    padding-top: 6px;
    position: relative;

    input, .input-core {
        background: none;
        border: 0;
        box-sizing: content-box;
        color: currentColor;
        display: block;
        font: inherit;
        height: 1.1875rem;
        margin: 0;
        min-width: 0;
        padding: 0;
        position: relative;
        width: 100%;
        -webkit-tap-highlight-color: transparent;

        &::placeholder {
            color: currentColor;
            opacity: 0.42;
            transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        &::-ms-reveal, &::-ms-clear {
            display: none !important;
        }

        &:focus {
            outline: 0;
        }

        &:invalid {
            box-shadow: none;
            color: var(--tavenem-color-error);
        }

        &:disabled {
            opacity: 1;
        }
    }

    input[type=search] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
    }

    textarea {
        cursor: auto;
        height: auto;
        letter-spacing: inherit;
        resize: none;

        &::-webkit-scrollbar {
            cursor: crosshair;
            height: 8px;
            width: 8px;
            z-index: 1;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--tavenem-color-border-input);
            border-radius: 1px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    &:focus-within .range-separator,
    .shrink > & .range-separator {
        visibility: visible;
    }
}

.field-helpers {
    color: var(--field-label-color);
    display: flex;
    font-size: 0.75rem;
    font-weight: var(--tavenem-font-weight);
    line-height: 1.66;
    margin-top: 3px;
    overflow: hidden;
    text-align: start;

    &.onfocus {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-100%);
        transition: opacity 50ms cubic-bezier(0,0,.2,1) 0ms,color 200ms cubic-bezier(0,0,.2,1) 0ms,transform 200ms cubic-bezier(0,0,.2,1) 0ms;
    }
}

.range-separator {
    visibility: hidden;
    margin: 0 4px;
}

.number-field {
    --number-field-inherited-hover-bg: var(--tavenem-color-action-hover-bg);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    &.show-steppers {
        .input-core {
            padding-inline-end: 1.5rem;
        }

        &.dense .input-core {
            padding-inline-end: 1.25rem;
        }
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --number-field-inherited-hover-bg: var(--tavenem-theme-color-hover);
        }
    }
}

.numeric-spin {
    --button-inherited-font-size: 1rem;
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    order: 9999;
    position: absolute;
    right: 0;
    top: 0;

    button {
        background-color: transparent;
        color: inherit;
        min-height: unset;
        min-width: unset;
        padding: 2px 0;

        &:hover,
        &:focus-visible {
            background-color: var(--number-field-inherited-hover-bg);
        }
    }
}

.select {
    .expand {
        transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    }

    &.open .expand {
        transform: rotate(-180deg);
    }
}

.color-picker {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 312px;

    .color-overlay {
        height: 100%;
        width: 100%;

        &.white {
            background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
        }

        &.black {
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
        }
    }

    .color-selector {
        left: -13px;
        position: absolute;
        top: -13px;
    }
}

.color-controls {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 312px;

    .color-swatch {
        background-image: linear-gradient(45deg, #eee 25%, #111 25%), linear-gradient(-45deg, #eee 25%, #111 25%), linear-gradient(45deg, #111 75%, #eee 75%), linear-gradient(-45deg, #111 75%, #eee 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
        border-radius: var(--tavenem-border-radius);
        box-shadow: 0 0 6px rgba(127, 130, 134, 0.18);
        height: 2.375rem;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        width: 2.375rem;

        &:hover {
            box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
        }

        .swatch-fill {
            height: 100%;
            width: 100%;
        }
    }

    .color-sliders {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        gap: 1.125rem;
        margin-left: 1rem;

        input {
            @include slider-track {
                background-color: initial;
            }
        }

        &.hue .input {
            background: linear-gradient( 90deg, #FF0000, #ff0 16.66%, #0f0 33.33%,#0ff 50%, #00f 66.66%, #f0f 83.33%, #FF0000);
        }

        &.alpha .input {
            background-image: linear-gradient(45deg, #eee 25%, #111 25%), linear-gradient(-45deg, #eee 25%, #111 25%), linear-gradient(45deg, #111 75%, #eee 75%), linear-gradient(-45deg, #111 75%, #eee 75%);
            background-size: 10px 10px;
            background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
        }
    }
}