.list {
    --list-hover-bg: var(--tavenem-color-action-hover-bg);
    --list-active-bg: var(--tavenem-color-primary-hover);
    --list-active-color: var(--tavenem-color-primary);
    color: var(--tavenem-color-action);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
    position: relative;

    > * {
        @include ripple;
        align-items: center;
        background-color: transparent;
        box-sizing: border-box;
        color: inherit;
        column-gap: .5rem;
        display: flex;
        flex: 0 0 auto;
        justify-content: flex-start;
        list-style: none;
        padding: .75rem 1rem;
        position: relative;
        text-align: start;
        text-decoration: none;
        transition: background-color 150ms cubic-bezier(.4,0,.2,1) 0ms;
        width: 100%;
        -webkit-tap-highlight-color: transparent;

        &:focus-visible, &:hover {
            background-color: transparent;
            color: inherit;
        }

        > .icon {
            flex-shrink: 0;
            margin: -.25rem;
        }

        > .avatar {
            flex-shrink: 0;
            margin: -.25rem;
        }

        &:disabled, &.disabled {
            color: var(--tavenem-color-action-disabled) !important;
            cursor: default !important;
            pointer-events: none !important;

            .icon {
                color: var(--tavenem-color-action-disabled) !important;
            }
        }
    }

    > .subheader {
        font-size: .875rem;
        font-weight: var(--tavenem-font-weight-bold);
        padding-bottom: 1.25rem;

        &.inset {
            padding-inline-start: 4.5rem;
        }

        &.sticky {
            background-color: inherit;
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }

    > .active {
        background-color: var(--list-active-bg);
        border-inline-end: 1px solid var(--list-active-color);
        color: var(--list-active-color);
        padding-inline-end: calc(1rem - 1px);
    }

    > .clickable, a, button {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        margin: 0;
        outline: 0;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        user-select: none;
        vertical-align: middle;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;

        &:hover,
        &:focus:not(.active) {
            background-color: var(--list-hover-bg);
        }

        &:disabled, &.disabled {
            &:hover,
            &:focus:not(.active) {
                background-color: transparent;
            }
        }
    }

    &:disabled, &.disabled {
        > * {
            color: var(--tavenem-color-action-disabled) !important;
            cursor: default !important;
            pointer-events: none !important;

            .icon {
                color: var(--tavenem-color-action-disabled) !important;
            }
        }

        > .clickable, a, button {
            &:hover,
            &:focus:not(.active) {
                background-color: transparent;
            }
        }
    }

    .list > {
        * {
            padding-inline-start: 2rem;
        }

        .subheader.inset {
            padding-inline-start: 6.5rem;
        }
    }

    &.highlight-start {
        > .active {
            border-inline-start: 1px solid var(--list-active-color);
            border-inline-end: none;
            padding-inline-start: calc(1rem - 1px);
            padding-inline-end: 1rem;
        }

        .list > .active {
            padding-inline-start: calc(2rem - 1px);
        }
    }

    &.dense {
        padding-bottom: .25rem;
        padding-top: .25rem;

        > * {
            padding-bottom: .25rem;
            padding-top: .25rem;
        }
    }

    &.filled {
        background-color: var(--tavenem-color-bg-surface);
        color: var(--tavenem-color-action);
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --list-hover-bg: var(--tavenem-color-#{$theme}-hover);
            --list-active-bg: var(--tavenem-color-#{$theme}-hover);
            --list-active-color: var(--tavenem-color-#{$theme});

            &, &.darken, &.lighten, &.filled, &.outlined {
                color: var(--tavenem-color-action);
            }

            &.filled {
                --list-hover-bg: var(--tavenem-color-#{$theme}-hover-bright);
                --list-active-bg: var(--tavenem-color-#{$theme});
                --list-active-color: var(--tavenem-color-#{$theme}-text);
                background-color: var(--tavenem-color-#{$theme}-hover);

                &.bg-alt {
                    background-color: var(--tavenem-color-#{$theme}-hover-dark);
                }
            }

            &.darken {
                --list-hover-bg: var(--tavenem-color-#{$theme}-hover-dark);
                --list-active-bg: var(--tavenem-color-#{$theme}-hover-dark);
                --list-active-color: var(--tavenem-color-#{$theme}-darken);
            }

            &.lighten {
                --list-hover-bg: var(--tavenem-color-#{$theme}-hover-light);
                --list-active-bg: var(--tavenem-color-#{$theme}-hover-light);
                --list-active-color: var(--tavenem-color-#{$theme}-lighten);
            }
        }
    }
}

.contents {
    color: var(--tavenem-color-text-secondary);

    > .active {
        border-left: 1px solid var(--list-active-color);
        border-right: none;
    }

    > .scroll-active {
        background-color: var(--list-active-bg);
        border-left: 1px solid var(--list-active-color);
        color: var(--list-active-color);
        padding-right: calc(1rem - 1px);
    }
}
