tf-popover {
    &.open,
    [data-popover-container][data-popover-open] &.contained-popover {
        display: block;
        opacity: 1;
        pointer-events: initial;
        transition: opacity;
        transition-duration: 250ms;
        transition-delay: initial;
        visibility: initial;
    }

    .list {
        max-height: inherit;
        overflow-y: auto;
        padding-inline-end: 1em;
        padding-inline-start: 1em;
    }

    .tree & .list,
    .tree & .list.clickable {
        > *:not(hr) {
            padding-inline-start: 0;
        }

        .drop-placeholder {
            padding-inline-start: 0;
        }
    }

    .tree & .list > *:not(hr) {
        padding-inline-start: 0;
    }

    @each $theme in $theme-colors {
        &:where(.#{$theme}) {
            --popover-color: var(--tavenem-theme-color-text);
            --popover-color-bg: var(--tavenem-theme-color-hover);
        }
    }
}
