@each $theme in $theme-colors {
    tf-progress-circle.#{$theme} {
        --progress-color: var(--tavenem-theme-color);
    }

    tf-progress-linear.#{$theme} {
        --progress-background-color: var(--tavenem-theme-color-hover);
        --progress-color: var(--tavenem-theme-color);
    }
}
