tf-scroll-top {
    bottom: 1rem;
    cursor: pointer;
    display: none;
    flex: 0 0 auto;
    position: fixed;
    right: 1rem;
    z-index: var(--tavenem-zindex-scroll-to-top);

    &:where(:defined) {
        display: inline-flex;
    }

    @media print {
        display: none;
    }

    &:not(.hidden) {
        transition: transform 0.5s;
    }

    &.hidden {
        flex: 0;
        opacity: 0;
        transform: scale(0) rotate(180deg);
        transition: all 0.5s;
        visibility: hidden;
    }

    &:after {
        background: transparent;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: var(--tavenem-zindex-tooltip);
    }
}
