.select {
    color: var(--tavenem-color-text);

    .expand {
        transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    }

    &.open .expand {
        transform: rotate(-180deg);
    }

    &.filled {
        .expand {
            margin-top: -11px;
        }

        &.dense .expand {
            margin-top: -7px;
        }
    }
}
