@mixin slider-track {
    &::-webkit-slider-runnable-track {
        @content
    }
    &::-moz-range-track {
        @content
    }
}

@mixin slider-thumb {
    &::-webkit-slider-thumb {
        @content
    }
    &::-moz-range-thumb {
        @content
    }
}

.slider {
    --thumb-color: unset;
    --thumb-shadow-color: rgba(0,0,0,.24);
    --thumb-shadow: 0 0 0 2px var(--thumb-shadow-color);
    --track-color: unset;
    color: var(--tavenem-color-text);
    display: inline-block;
    user-select: none;
    width: 100%;

    > *:not(input) {
        margin-top: .625rem;
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        cursor: pointer;
        display: block;
        position: relative;
        width: 100%;

        &:focus {
            outline: none;
        }

        @include slider-track {
            background-color: var(--track-color);
            border-radius: 1px;
            height: 2px;
            margin: 10px 0;
            width: 100%;
        }

        @include slider-thumb {
            appearance: none;
            -webkit-appearance: none;
            background-color: var(--thumb-color);
            border: none;
            border-radius: 50%;
            height: 2px;
            transform: scale(6, 6);
            transition: box-shadow 0.2s;
            width: 2px;

            &:hover {
                box-shadow: var(--thumb-shadow);
            }
        }

        &:active, &:focus-visible {
            @include slider-thumb {
                box-shadow: var(--thumb-shadow);
            }
        }
    }

    &:disabled, &.disabled {
        --thumb-shadow-color: rgba(255, 255, 255);
        --thumb-shadow: 0 0 0 1px var(--thumb-shadow-color);

        input {
            --thumb-color: rgb(0, 0, 0);
            --track-color: var(--tavenem-color-text-disabled);
            cursor: default;
            opacity: 0.38;

            @include slider-thumb {
                color: rgb(255, 255, 255);
                box-shadow: var(--thumb-shadow);
                transform: scale(4, 4);
            }
        }
    }

    &.bg-alt {
        background-color: transparent;
    }

    &.filled {
        background-color: transparent;
        color: var(--tavenem-color-action);
    }

    &.outlined {
        border: 0;
    }

    @each $theme in $theme-colors {
        .#{$theme} {
            --track-lightness: var(--tavenem-color-#{$theme}-lightness);
            --track-color: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--track-lightness), 0.30);
            --thumb-color: var(--tavenem-theme-color);
            --thumb-shadow-color: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--track-lightness), 0.24);
            color: var(--tavenem-color-text);

            &.darken {
                --track-lightness: calc(var(--tavenem-color-#{$theme}-lightness) - 10%);
            }

            &.lighten {
                --track-lightness: calc(var(--tavenem-color-#{$theme}-lightness) + 10%);
            }
        }
    }
}
