.snackbar-container {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: fixed;
    z-index: var(--tavenem-zindex-snackbar);

    &.top-left {
        left: 1.5rem;
        top: 1.5rem;
    }

    &.top-right {
        right: 1.5rem;
        top: 1.5rem;
    }

    &.bottom-left {
        bottom: 1.5rem;
        left: 1.5rem;
    }

    &.bottom-right {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    .snackbar {
        align-items: center;
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        background-color: var(--tavenem-color-bg-surface);
        border-color: var(--tavenem-color-border);
        border-radius: var(--tavenem-border-radius);
        border-style: solid;
        border-width: 1px;
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
        column-gap: .75rem;
        display: inline-flex;
        margin-top: 1rem;
        min-width: 18rem;
        max-width: 32rem;
        opacity: .95;
        overflow: hidden;
        padding: 6px 1rem;
        pointer-events: auto;

        &.clickable {
            cursor: pointer;
        }

        tf-icon {
            display: flex;
            font-size: 1.375em;
            margin: .25em 0;
            opacity: 0.9;
        }

        > tf-close {
            margin: .25rem 0;
            margin-inline-end: -.5rem;
            margin-inline-start: auto;
            order: 9999;
        }

        @each $theme in $theme-colors {
            &.#{$theme} {
                background-color: var(--tavenem-theme-color-hover);
                border-color: var(--tavenem-theme-color-hover);
            }
        }
    }
}
