.steps {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-bottom: 1rem;

    .step-list {
        align-items: center;
        counter-reset: step;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;
    }

    .step-selector {
        align-items: center;
        counter-increment: step;
        display: flex;
        flex: 1 0 20%;

        .step-activator {
            align-items: center;
            display: flex;
            margin-right: .5rem;

            &.disabled {
                color: var(--tavenem-color-text-disabled);
            }

            &:not(.disabled) {
                cursor: pointer;
            }
        }

        .step-number:before {
            align-items: center;
            background-color: var(--tavenem-theme-color, var(--tavenem-color-default));
            border-radius: 50%;
            color: var(--tavenem-theme-color-text, var(--tavenem-color-default-text));
            content: counter(step);
            display: inline-flex;
            height: calc(1em + 1rem);
            justify-content: center;
            width: calc(1em + 1rem);
        }

        .step-separator {
            border-color: var(--tavenem-theme-color, var(--tavenem-color-default));
            border-top-style: dotted;
            border-top-width: 5px;
            flex-grow: 1;
            margin-inline-start: .25rem;
        }

        .step-separator-begin {
            margin-inline-end: .5rem;
        }

        &:first-child .step-separator-begin {
            display: none;
        }

        &:last-child .step-separator-end {
            display: none;
        }
    }

    .step {
        grid-area: 1 / 1 / 2 / 2;
    }
}
