.table {
    --table-action-color: var(--tavenem-color-action);
    --table-hover-color: var(--tavenem-color-table-hover);
    --table-selected-bg-color: var(--tavenem-color-primary-hover);
    --table-selected-color-text: var(--tavenem-color-primary);
    --table-selected-hover-color: var(--tavenem-color-primary-hover-bright);
    --table-stripe-color: var(--tavenem-color-table-stripe);
    border-collapse: collapse;
    border-spacing: 0;
    color: var(--tavenem-color-text);
    display: table;
    overflow: auto;
    width: 100%;

    > {
        thead {
            display: table-header-group;

            tr:first-child {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;

                > {
                    td, th {
                        &:first-child {
                            border-top-left-radius: inherit;
                        }

                        &:last-child {
                            border-top-right-radius: inherit;
                        }
                    }
                }
            }
        }

        tbody {
            display: table-row-group;

            &:first-child {
                tr:first-child {
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;

                    > td {
                        &:first-child {
                            border-top-left-radius: inherit;
                        }

                        &:last-child {
                            border-top-right-radius: inherit;
                        }
                    }
                }
            }

            &:last-child {
                tr:last-child {
                    border-bottom: none;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;

                    > td {
                        border-bottom: none;

                        &:first-child {
                            border-bottom-left-radius: inherit;
                        }

                        &:last-child {
                            border-bottom-right-radius: inherit;
                        }
                    }
                }
            }

            tr:last-child {
                border-bottom: none;

                > td {
                    border-bottom: none;
                }
            }
        }

        tfoot {
            tr:first-child > {
                td, th {
                    border-top: 1px solid var(--tavenem-color-border-table);
                }
            }

            tr:last-child {
                border-bottom: none;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;

                > {
                    td, th {
                        border-bottom: none;

                        &:first-child {
                            border-bottom-left-radius: inherit;
                        }

                        &:last-child {
                            border-bottom-right-radius: inherit;
                        }
                    }
                }
            }
        }

        thead > tr, tbody > tr, tfoot > tr, tr {
            color: inherit;
            display: table-row;
            outline: 0;
            vertical-align: middle;

            &.selected {
                background-color: var(--table-selected-bg-color);
                color: var(--table-selected-color-text);
            }

            > {
                td, th {
                    border-bottom: 1px solid var(--tavenem-color-border-table);
                    color: inherit;
                    display: table-cell;
                    font-size: 0.875em;
                    font-weight: var(--tavenem-font-weight);
                    line-height: 1.43;
                    padding: 1rem;
                    text-align: start;
                    vertical-align: inherit;

                    .btn {
                        --button-inherited-padding-x: .25em;
                        --button-inherited-padding-x-icon: .25em;
                        --button-inherited-padding-y: 0;
                        --button-inherited-padding-y-icon: 0;
                    }

                    .field:not(.picker) {
                        flex-grow: 1;
                        margin-bottom: 0;
                        margin-top: 2px;

                        > .input, > .input-content {
                            font-size: .875em;
                        }

                        &:not(.filled, .outlined) > {
                            .input, .input-content {
                                margin-top: 0;
                            }

                            .input {
                                padding-bottom: 3px;
                            }
                        }

                        &:not(.outlined) > .input {
                            background-color: var(--tavenem-color-bg-input);

                            &:before {
                                content: none;
                            }

                            &:after {
                                content: none;
                            }
                        }
                    }
                }

                th {
                    font-weight: var(--tavenem-font-weight-bold);
                    line-height: 1.5em;

                    &.column-header {
                        vertical-align: top;

                        > a, > div {
                            align-items: center;
                            display: flex;
                            justify-content: space-between;

                            > tf-icon {
                                font-size: 1.125em;
                                margin-left: 4px;
                                margin-right: 4px;
                                opacity: 0;
                                transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                                user-select: none;

                                &.active {
                                    opacity: 1;
                                }

                                &.desc {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        a {
                            color: inherit;
                        }

                        &.clickable {
                            cursor: pointer;

                            &:hover {
                                color: var(--table-action-color);

                                > div, > a {
                                    > tf-icon:not(.active) {
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.dense > {
        thead > tr >, tbody > tr >, tfoot > tr >, tr > {
            td, th {
                padding-bottom: 6px;
                padding-top: 6px;

                .btn-icon {
                    padding: 4px;
                }
            }
        }
    }

    &.hover > {
        thead > tr:hover, tbody > tr:hover, tfoot > tr:hover, tr:hover {
            background-color: var(--table-hover-color);

            &.selected {
                background-color: var(--table-selected-hover-color);
            }
        }
    }

    &.border {
        border-color: var(--tavenem-color-border-table) !important;

        > {
            thead > tr, tbody > tr, tfoot > tr, tr {
                td, th {
                    border-right: 1px solid var(--tavenem-color-border-table);

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }

    &.striped > {
        thead > tr, tbody > tr, tfoot > tr, tr {
            &:nth-of-type(even) {
                background-color: var(--table-stripe-color);

                &:hover {
                    background-color: var(--table-hover-color);
                }
            }
        }
    }

    &.sticky-header,
    &.sticky-footer {
        border-collapse: separate;
        max-height: 100%;
    }

    &.sticky-header > thead {
        td, th {
            background-color: var(--tavenem-color-bg-alt);
            position: sticky;
            top: 0;
            z-index: 2;
        }
    }

    &.sticky-footer > tfoot {
        td, th {
            background-color: var(--tavenem-color-bg-alt);
            color: var(--table-color-solid);
            bottom: 0;
            position: sticky;
            z-index: 2;
        }
    }

    > *:first-child {
        border-top: none;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    > *:last-child {
        border-bottom: none;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    &.filled {
        --tavenem-theme-color-bg-alt: var(--tavenem-theme-color-hover-dark);
        background-color: transparent;
        color: var(--tavenem-theme-color, var(--tavenem-color-text));
    }

    &.outlined {
        border-color: var(--tavenem-color-border-table);
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --table-stripe-lightness: var(--tavenem-color-#{$theme}-lightness);
            --table-action-color: var(--tavenem-theme-color-lighten);
            --table-hover-color: var(--tavenem-theme-color-hover);
            --table-selected-bg-color: var(--tavenem-theme-color-hover);
            --table-selected-color-text: var(--tavenem-theme-color);
            --table-selected-hover-color: var(--tavenem-theme-color-hover-bright);
            --table-stripe-color: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--table-stripe-lightness), .02);
            color: var(--tavenem-color-text);

            &.darken {
                --table-stripe-lightness: calc(var(--tavenem-color-#{$theme}-lightness) - 10%);
            }

            &.lighten {
                --table-stripe-lightness: calc(var(--tavenem-color-#{$theme}-lightness) + 10%);
            }
        }
    }
}

@each $breakpoint, $max-width in $breakpoint-maxs {
    .table-#{$breakpoint} {
        @media (max-width: $max-width) {
            > {
                thead, tfoot {
                    display: none;
                }

                tbody {
                    border-top: 1px solid var(--tavenem-color-border-table);
                }


                thead, tbody, tfoot {
                    > tr {
                        display: initial;

                        > td {
                            align-items: center;
                            border: none;
                            display: flex;
                            justify-content: space-between;
                            padding: .875em 1em;
                            text-align: start !important;

                            &:last-child {
                                border-bottom: 1px solid var(--tavenem-color-border-table);
                            }

                            &:before {
                                content: attr(data-label);
                                font-weight: var(--tavenem-font-weight-bold);
                                padding-inline-end: 1em;
                            }

                            &.hide-xs {
                                height: 0;
                                margin: 0;
                                padding: 0;
                                visibility: collapse;
                            }
                        }
                    }
                }
            }

            &.dense > {
                thead, tbody, tfoot {
                    > tr > td {
                        padding: 6px 1em;
                    }
                }
            }
        }
    }
}

.datagrid-toolbar {
    align-items: center;
    background-color: var(--tavenem-color-bg-alt);
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;

    > div {
        align-items: center;
        display: flex;
        gap: .5rem;
    }

    > div:last-child {
        flex-grow: 1;
        justify-content: end;

        .field {
            margin: 0;

            > .input {
                margin-top: 0;
            }
        }

        .btn {
            margin-top: -.25rem;

            &:last-child {
                margin-inline-end: -.25rem;
            }
        }
    }
}

.datagrid {
    width: 100%;

    thead tr th {
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 6px;
    }

    > form {
        scrollbar-color: inherit var(--tavenem-color-bg-alt);

        &::-webkit-scrollbar {
            background-color: var(--tavenem-color-bg-alt);
        }
    }

    .expand-row {
        transform: rotate(-90deg);
        transition: .3s cubic-bezier(.25,.8,.5,1);

        &.open {
            transform: rotate(0deg);
        }
    }

    .loading-row {
        background-color: var(--table-stripe-color);
        height: .25rem;

        td {
            border: none;
            line-height: 0;
            padding: 0;
        }
    }

    .bool-cell {
        padding-bottom: calc(1rem - .25em);
        padding-top: calc(1rem - .25em);
    }
}

.datagrid-pagination {
    align-items: center;
    background-color: var(--tavenem-color-bg-alt);
    border-top: 1px solid var(--tavenem-color-border-table);
    display: flex;
    gap: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;

    > .field {
        flex-grow: 0;
        margin: 0;
        width: 6rem;

        > .input {
            margin-top: 0;
        }
    }
}
