.table {
    --table-action-color: var(--tavenem-color-action);
    --table-bg-color: transparent;
    --table-color-text: var(--tavenem-color-text);
    --table-border-color: var(--tavenem-color-border-table);
    --table-hover-color: var(--tavenem-color-table-hover);
    --table-stripe-color: var(--tavenem-color-table-stripe);
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    overflow: auto;
    width: 100%;

    thead {
        display: table-header-group;

        tr:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;

            > {
                td, th {
                    &:first-child {
                        border-top-left-radius: inherit;
                    }

                    &:last-child {
                        border-top-right-radius: inherit;
                    }
                }
            }
        }
    }

    tbody {
        display: table-row-group;

        &:first-child {
            tr:first-child {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;

                > td {
                    &:first-child {
                        border-top-left-radius: inherit;
                    }

                    &:last-child {
                        border-top-right-radius: inherit;
                    }
                }
            }
        }

        &:last-child {
            tr:last-child {
                border-bottom: none;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;

                > td {
                    border-bottom: none;

                    &:first-child {
                        border-bottom-left-radius: inherit;
                    }

                    &:last-child {
                        border-bottom-right-radius: inherit;
                    }
                }
            }
        }

        tr:last-child {
            border-bottom: none;

            > td {
                border-bottom: none;
            }
        }
    }

    tfoot {
        tr:first-child > {
            td, th {
                border-top: 1px solid var(--table-border-color);
            }
        }

        tr:last-child {
            border-bottom: none;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;

            > {
                td, th {
                    border-bottom: none;

                    &:first-child {
                        border-bottom-left-radius: inherit;
                    }

                    &:last-child {
                        border-bottom-right-radius: inherit;
                    }
                }
            }
        }
    }

    tr {
        color: inherit;
        display: table-row;
        outline: 0;
        vertical-align: middle;

        > {
            td, th {
                border-bottom: 1px solid var(--table-border-color);
                color: inherit;
                display: table-cell;
                font-size: 0.875em;
                font-weight: var(--tavenem-font-weight);
                line-height: 1.43;
                padding: 1rem;
                text-align: start;
                vertical-align: inherit;

                .btn, .btn-text {
                    margin: -1em;
                    padding: 0;
                }

                .btn-icon {
                    margin: -.75em;
                    padding: 0;
                }

                .field {
                    margin-bottom: 0;
                    margin-top: 2px;

                    > .input {
                        font-size: .875em;
                    }
                }
            }

            th {
                font-weight: var(--tavenem-font-weight-bold);
                line-height: 1.5em;

                &.column-header {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;

                    &.clickable {
                        cursor: pointer;
                    }

                    &:hover {
                        color: var(--table-action-color);

                        tf-icon:not(.active) {
                            opacity: 0.8;
                        }
                    }

                    tf-icon {
                        font-size: 1.125em;
                        margin-left: 4px;
                        margin-right: 4px;
                        opacity: 0;
                        transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        user-select: none;

                        &.active {
                            opacity: 1;
                        }

                        &.desc {
                            transform: rotate(180deg);
                        }
                    }

                    > .options {
                        align-items: center;
                        display: inline-flex;
                    }
                }
            }
        }
    }

    &.dense tr > {
        td, th {
            padding-bottom: 6px;
            padding-top: 6px;

            .btn-icon {
                padding: 4px;
            }
        }
    }

    &.hover tr:hover {
        background-color: var(--table-hover-color);
    }

    &.border {
        border-color: var(--table-border-color) !important;

        tr {
            td, th {
                border-right: 1px solid var(--table-border-color);

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    &.striped tr:nth-of-type(even) {
        background-color: var(--table-stripe-color);

        &:hover {
            background-color: var(--table-hover-color);
        }
    }

    &.sticky-header,
    &.sticky-footer {
        border-collapse: separate;
        max-height: 100%;
    }

    &.sticky-header thead {
        td, th {
            background-color: var(--tavenem-color-bg-alt);
            position: sticky;
            top: 0;
            z-index: 2;
        }
    }

    &.sticky-footer tfoot {
        td, th {
            background-color: var(--tavenem-color-bg-alt);
            color: var(--table-color-solid);
            bottom: 0;
            position: sticky;
            z-index: 2;
        }
    }

    > *:first-child {
        border-top: none;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    > *:last-child {
        border-bottom: none;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    &.filled {
        --tavenem-theme-color-bg-alt: var(--tavenem-theme-color-hover-dark);
        background-color: var(--tavenem-theme-color-hover, var(--table-bg-color));
        color: var(--tavenem-theme-color, var(--tavenem-color-text));
    }

    &.outlined {
        border-color: var(--table-border-color);
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --table-stripe-lightness: var(--tavenem-color-#{$theme}-lightness);
            --table-action-color: var(--tavenem-theme-color-lighten);
            --table-bg-color: var(--tavenem-theme-color-hover);
            --table-border-color: var(--tavenem-theme-color);
            --table-hover-color: var(--tavenem-theme-color-hover);
            --table-stripe-color: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--table-stripe-lightness), .02);

            &.darken {
                --table-stripe-lightness: calc(var(--tavenem-color-#{$theme}-lightness) - 10%);
            }

            &.lighten {
                --table-stripe-lightness: calc(var(--tavenem-color-#{$theme}-lightness) + 10%);
            }
        }
    }
}

@each $breakpoint, $max-width in $breakpoint-maxs {
    .table-#{$breakpoint} {
        @media (max-width: $max-width) {
            thead, tfoot {
                display: none;
            }

            tbody {
                border-top: 1px solid var(--table-border-color);
            }

            tr {
                display: initial;

                > td {
                    align-items: center;
                    border: none;
                    display: flex;
                    justify-content: space-between;
                    padding: .875em 1em;
                    text-align: start !important;

                    &:last-child {
                        border-bottom: 1px solid var(--table-border-color);
                    }

                    &:before {
                        content: attr(data-label);
                        font-weight: var(--tavenem-font-weight-bold);
                        padding-inline-end: 1em;
                    }

                    &.hide-xs {
                        height: 0;
                        margin: 0;
                        padding: 0;
                        visibility: collapse;
                    }
                }
            }

            &.dense tr > td {
                padding: 6px 1em;
            }
        }
    }
}

@each $breakpoint, $min-width in $breakpoints {
    .table colgroup .column-#{$breakpoint} {
        visibility: collapse;

        @media (max-width: $min-width) {
            visibility: visible;
        }
    }
}

.datagrid-toolbar {
    align-items: center;
    display: flex;
    gap: .5rem;
    justify-content: end;
}

.datagrid {
    thead tf-icon {
        color: var(--tavenem-color-action);
        opacity: 0.4;
        transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &:hover {
            opacity: 1;
        }
    }

    .field.dense {
        margin-bottom: 0;
        margin-top: 0;

        &:not(.filled, .outlined) > {
            .input, .input-content {
                margin-top: 0;
            }
        }

        &:not(.outlined) > .input {
            &:before {
                content: none;
            }

            &:after {
                content: none;
            }
        }

        .input, .input-content {
            font-size: inherit;
        }
    }

    .expand-row {
        transform: rotate(-90deg);
        transition: .3s cubic-bezier(.25,.8,.5,1);

        &.open {
            transform: rotate(0deg);
        }
    }
}
