.timeline {
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
        background: var(--tavenem-color-divider);
        bottom: 0;
        content: "";
        position: absolute;
        top: 0;
    }

    &.end, &.start {
        .timeline-item-content {
            max-width: calc(100% - 6rem);
        }

        .timeline-item-opposite {
            display: none;
        }
    }

    &:not(.horizontal) {
        padding-top: 1.5rem;

        &:before {
            height: 100%;
            width: 2px;
        }

        .timeline-item {
            padding-bottom: 1.5rem;
        }

        .timeline-item-content {
            max-width: calc(50% - 3rem);
        }

        .timeline-item-divider {
            min-width: 6rem;
        }

        .timeline-item-opposite {
            flex: 1 1 auto;
            max-width: calc(50% - 3rem);
        }

        &.end {
            &:before {
                left: auto;
                right: calc(3rem - 1px);
            }

            .timeline-item {
                flex-direction: row;
            }

            .timeline-item-content > .card {
                &:before, &:after {
                    left: auto;
                    right: -1rem;
                    transform: rotate(180deg);
                }

                &.outlined:after {
                    right: calc(-1rem + 1px);
                }
            }

            .timeline-item-divider {
                align-items: flex-end;
            }
        }

        &.start {
            &:before {
                left: calc(3rem - 1px);
                right: auto;
            }

            .timeline-item {
                flex-direction: row-reverse;
            }

            .timeline-item-content > .card {
                &:before, &:after {
                    left: -1rem;
                    right: auto;
                }

                &.outlined:after {
                    left: calc(-1rem + 1px);
                }
            }

            .timeline-item-divider {
                align-items: flex-start;
            }
        }
    }

    &:not(.horizontal, .end, .start) {
        &:before {
            left: auto;
            right: calc(50% - 1px);
        }

        .timeline-item {
            &:nth-child(odd):not(.align-start), &.align-end {
                flex-direction: row-reverse;

                .timeline-item-content > .card {
                    &:before, &:after {
                        left: -1rem;
                        right: auto;
                    }

                    &.outlined:after {
                        left: calc(-1rem + 1px);
                    }
                }

                .timeline-item-opposite {
                    text-align: end;
                }
            }

            &:nth-child(2n):not(.align-end) {
                flex-direction: row;

                .timeline-item-content > .card {
                    &:before, &:after {
                        left: auto;
                        right: -1rem;
                        transform: rotate(180deg);
                    }

                    &.outlined:after {
                        right: calc(-1rem + 1px);
                    }
                }

                .timeline-item-opposite {
                    text-align: start;
                }
            }
        }
    }

    &.horizontal {
        flex-direction: row;

        &:before {
            height: 2px;
            width: 100%;
        }

        .timeline-item {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            width: 100%;
        }

        .timeline-item-content {
            max-height: calc(50% - 3rem);
        }

        .timeline-item-divider {
            min-height: 6rem;
        }

        &:not(.end, .start) {
            &:before {
                bottom: calc(50% - 1px);
                top: auto;
            }

            .timeline-item {
                &:nth-child(odd):not(.align-start), &.align-end {
                    flex-direction: column-reverse;

                    .timeline-item-content > .card {
                        &:before, &:after {
                            bottom: -1.5rem;
                            left: calc(50% - .5rem);
                            top: auto;
                            transform: rotate(270deg);
                        }

                        &.outlined:after {
                            bottom: calc(-1.5rem + 1px);
                        }
                    }
                }

                &:nth-child(2n):not(.align-end) {
                    flex-direction: column;

                    .timeline-item-content > .card {
                        &:before, &:after {
                            bottom: auto;
                            left: calc(50% - .5rem);
                            top: -1.5rem;
                            transform: rotate(270deg);
                        }

                        &.outlined:after {
                            top: calc(-1.5rem + 1px);
                        }
                    }
                }
            }
        }

        &.end {
            &:before {
                bottom: calc(3rem - 1px);
                top: auto;
            }

            .timeline-item {
                flex-direction: column;
            }

            .timeline-item-content > .card {
                &:before, &:after {
                    bottom: -1.5rem;
                    left: calc(50% - .5rem);
                    top: auto;
                    transform: rotate(90deg);
                }

                &.outlined:after {
                    bottom: calc(-1.5rem + 1px);
                }
            }

            .timeline-item-divider {
                justify-content: flex-end;
            }
        }

        &.start {
            &:before {
                bottom: auto;
                top: calc(3rem - 1px);
            }

            .timeline-item {
                flex-direction: column-reverse;
            }

            .timeline-item-content > .card {
                &:before, &:after {
                    bottom: auto;
                    left: calc(50% - .5rem);
                    top: -1.5em;
                    transform: rotate(90deg);
                }

                &.outlined:after {
                    top: calc(-1.5rem + 1px);
                }
            }

            .timeline-item-divider {
                justify-content: flex-start;
            }
        }
    }
}

.timeline-item {
    --dot-color: var(--tavenem-color-default);
    --dot-text: var(--tavenem-color-default-text);
    display: flex;

    &.small .timeline-item-divider .dot {
        height: 1.5rem;
        width: 1.5rem;

        .inner {
            height: 1.125rem;
            width: 1.125rem;
        }
    }

    &.large .timeline-item-divider .dot {
        height: 3.25rem;
        width: 3.25rem;

        .inner {
            height: 2.625rem;
            width: 2.625rem;
        }
    }

    &.filled {
        background-color: transparent;
        color: inherit;
    }

    &.outlined {
        border: none;
    }

    &.bg-alt {
        background-color: var(--tavenem-color-default);
    }

    @each $theme in $theme-colors {
        &.#{$theme} {
            --dot-color: var(--tavenem-color-#{$theme});
            --dot-text: var(--tavenem-color-#{$theme}-text);
            color: inherit;

            &.bg-alt {
                background-color: transparent;
            }

            &.filled {
                background-color: transparent;
                color: inherit;

                &.bg-alt {
                    background-color: transparent;
                }
            }

            &.darken {
                --dot-color: var(--tavenem-color-#{$theme}-darken);
                color: inherit;
            }

            &.lighten {
                --dot-color: var(--tavenem-color-#{$theme}-darken);
                color: inherit;
            }
        }
    }
}

.timeline-item-content {
    flex: 1 1 auto;
    height: 100%;
    position: relative;

    > .card {
        &:before, &:after {
            content: "";
            position: absolute;
        }

        &:before {
            border-bottom: 1rem solid transparent;
            border-right: 1rem solid rgba(0,0,0,.10);
            border-top: 1rem solid transparent;
            top: calc(50% - .875rem);
        }

        &:after {
            border-bottom: 1rem solid transparent;
            border-right: 1rem solid var(--tavenem-color-bg-surface);
            border-top: 1rem solid transparent;
            top: calc(50% - 1rem);
        }

        &.outlined:before {
            border-right-color: var(--tavenem-color-border);
            top: calc(50% - 1rem);
        }
    }
}

.timeline-item-divider {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    .dot {
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: var(--tavenem-shadow-1);
        display: flex;
        height: 2.375rem;
        justify-content: center;
        left: calc(50% - 19px);
        width: 2.375rem;

        .inner {
            align-items: center;
            background-color: var(--dot-color);
            border-radius: 50%;
            color: var(--dot-text);
            display: flex;
            height: 1.875rem;
            justify-content: center;
            width: 1.875rem;
        }
    }
}

.timeline-item-opposite {
    align-self: center;
}
