.tooltip-root {
    position: relative;
    width: fit-content;

    &.inline {
        align-items: baseline;
        display: inline-flex;
        height: fit-content;
    }

    > .tooltip-trigger {
        --button-inherited-font-size-icon: 1rem;
        --button-inherited-padding-y-icon: 3px;
        display: none;
        left: calc(100% - .375em);
        line-height: 0;
        min-width: 0;
        padding: 0;
        position: absolute;
        top: -.25em;
    }

    @media (hover: none) {
        &:not(.no-help) > .tooltip-trigger {
            display: unset;
        }
    }
}

.tooltip {
    --tooltip-color: var(--tavenem-color-text);
    --tooltip-color-bg: var(--tavenem-color-bg-surface);
    align-items: center;
    background-color: var(--tooltip-color-bg);
    border-radius: var(--tavenem-border-radius);
    color: var(--tooltip-color);
    font-size: .75rem;
    font-weight: var(--tavenem-font-weight-semibold);
    justify-content: center;
    line-height: 1.4rem;
    padding: .25rem .5rem;
    text-align: center;
    z-index: var(--tavenem-zindex-tooltip);

    &.top-center,
    &.bottom-center,
    &.center-left,
    &.center-right {
        &.arrow:after {
            border-color: var(--tooltip-color-bg) transparent transparent transparent;
            border-style: solid;
            border-width: 6px;
            content: "";
            position: absolute;
        }
    }

    &.bottom-center, &.top-center {
        &.arrow:after {
            left: calc(50% - 3px);
        }
    }

    &.center-right, &.center-left {
        &.arrow:after {
            top: calc(50% - 3px);
        }
    }

    &.bottom-center:not([data-popover-flip]), &.top-center[data-popover-flip] {
        transform: translateY(-10px);

        &.arrow:after {
            top: 100%;
            transform: rotate(0deg);
        }
    }

    &.center-right:not([data-popover-flip]), &.center-left[data-popover-flip] {
        transform: translateX(-10px);

        &.arrow:after {
            left: 100%;
            transform: rotate(270deg);
        }
    }

    &.center-left:not([data-popover-flip]), &.center-right[data-popover-flip] {
        transform: translateX(10px);

        &.arrow:after {
            right: 100%;
            transform: rotate(90deg);
        }
    }

    &.top-center:not([data-popover-flip]), &.bottom-center[data-popover-flip] {
        transform: translateY(10px);

        &.arrow:after {
            bottom: 100%;
            transform: rotate(180deg);
        }
    }

    &.filled {
        --tooltip-color: var(--tavenem-theme-color-text, var(--tavenem-color-text));
        --tooltip-color-bg: var(--tavenem-theme-color, var(--tavenem-color-bg-alt));
    }

    @each $theme in $theme-colors {
        &:where(.#{$theme}) {
            --tooltip-color: var(--tavenem-theme-color-text);
            --tooltip-color-bg: var(--tavenem-theme-color-darken);
        }
    }
}
