.toolbar {
    align-content: center;
    align-items: center;
    display: flex;
    min-height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;

    @media (max-width: 575px) and (orientation: landscape) {
        min-height: 3rem;
    }

    &.dense {
        min-height: 3rem;
    }

    &.filled {
        background-color: var(--tavenem-color-bg-surface);
        color: var(--tavenem-color-text);
    }

    .header &, .footer & {
        padding-left: 0;
        padding-right: 0;
    }

    > tf-close:first-child:last-child {
        margin-inline-start: auto;
    }
}

.appbar {
    align-content: center;
    align-items: center;
    background-color: var(--tavenem-color-bg);
    box-sizing: border-box;
    color: var(--tavenem-color-text);
    display: flex;
    grid-area: header;
    min-height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    width: 100%;
    z-index: var(--tavenem-zindex-appbar);

    @media (max-width: 575px) and (orientation: landscape) {
        min-height: 3rem;
    }

    &.dense {
        min-height: 3rem;
    }

    &.filled {
        background-color: var(--tavenem-color-bg-surface);
    }

    &.bottom {
        grid-area: footer;
    }

    a {
        &:hover,
        &:focus-visible {
            text-decoration: none;
        }
    }
}
