.tavenem-framework-layout {
    display: grid;
    flex: 1 0;
    grid-template-areas:
        "header header header header"
        "topdrawer topdrawer topdrawer topdrawer"
        "leftdrawer main contents rightdrawer"
        "bottomdrawer bottomdrawer bottomdrawer bottomdrawer"
        "footer footer footer footer";
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-rows: max-content max-content 1fr max-content max-content;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media print {
        overflow: visible;
    }

    > * {
        grid-area: main;
    }

    > .container {
        overflow-x: auto;
        margin-top: 1rem;
        padding-bottom: 6rem;

        @media print {
            overflow: visible;
        }

        .appbar.top ~ & {
            margin-top: 0;
        }
    }

    > tf-contents {
        grid-area: contents;

        @media print {
            display: none;
        }
    }
}

.container,
.container-fixed {
    align-items: flex-start;
    align-self: stretch;
    column-gap: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    row-gap: 0;
    width: 100%;
}

.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    align-items: flex-start;
    align-self: stretch;
    column-gap: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    row-gap: 0;
    width: 100%;
}

.row {
    align-self: stretch;
    column-gap: 1rem;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
    row-gap: .5rem;
    width: 100%;

    &.fill > * {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
    }

    &.cols-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.row.cols-2 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
}
.row.cols-3 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
}
.row.cols-4 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
}
.row.cols-5 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(5, 1fr);
}
.row.cols-6 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(6, 1fr);
}
.row.cols-7 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(7, 1fr);
}
.row.cols-8 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(8, 1fr);
}
.row.cols-9 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(9, 1fr);
}
.row.cols-10 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(10, 1fr);
}
.row.cols-11 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(11, 1fr);
}
.row.cols-12 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(12, 1fr);
}

.col-2 { grid-column-end: span 2; }
.col-3 { grid-column-end: span 3; }
.col-4 { grid-column-end: span 4; }
.col-5 { grid-column-end: span 5; }
.col-6 { grid-column-end: span 6; }
.col-7 { grid-column-end: span 7; }
.col-8 { grid-column-end: span 8; }
.col-9 { grid-column-end: span 9; }
.col-10 { grid-column-end: span 10; }
.col-11 { grid-column-end: span 11; }
.col-12 { grid-column-end: span 12; }

.start-1 { grid-column-start: 1; }
.start-2 { grid-column-start: 2; }
.start-3 { grid-column-start: 3; }
.start-4 { grid-column-start: 4; }
.start-5 { grid-column-start: 5; }
.start-6 { grid-column-start: 6; }
.start-7 { grid-column-start: 7; }
.start-8 { grid-column-start: 8; }
.start-9 { grid-column-start: 9; }
.start-10 { grid-column-start: 10; }
.start-11 { grid-column-start: 11; }
.start-12 { grid-column-start: 12; }

@media (min-width: 576px) {
    .container-sm {
        width: 576px;
        max-width: 576px;
    }

    .container-fixed {
        max-width: 576px;
    }

    .row.cols-sm-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .row.cols-sm-2 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .row.cols-sm-3 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .row.cols-sm-4 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .row.cols-sm-5 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(5, 1fr);
    }
    
    .row.cols-sm-6 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .row.cols-sm-7 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .row.cols-sm-8 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .row.cols-sm-9 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(9, 1fr);
    }
    
    .row.cols-sm-10 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(10, 1fr);
    }
    
    .row.cols-sm-11 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(11, 1fr);
    }
    
    .row.cols-sm-12 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    .col-sm-1 { grid-column-end: span 1; }
    .start-sm-1 { grid-column-start: 1; }
    
    .col-sm-2 { grid-column-end: span 2; }
    .start-sm-2 { grid-column-start: 2; }
    
    .col-sm-3 { grid-column-end: span 3; }
    .start-sm-3 { grid-column-start: 3; }
    
    .col-sm-4 { grid-column-end: span 4; }
    .start-sm-4 { grid-column-start: 4; }
    
    .col-sm-5 { grid-column-end: span 5; }
    .start-sm-5 { grid-column-start: 5; }
    
    .col-sm-6 { grid-column-end: span 6; }
    .start-sm-6 { grid-column-start: 6; }
    
    .col-sm-7 { grid-column-end: span 7; }
    .start-sm-7 { grid-column-start: 7; }
    
    .col-sm-8 { grid-column-end: span 8; }
    .start-sm-8 { grid-column-start: 8; }
    
    .col-sm-9 { grid-column-end: span 9; }
    .start-sm-9 { grid-column-start: 9; }
    
    .col-sm-10 { grid-column-end: span 10; }
    .start-sm-10 { grid-column-start: 10; }
    
    .col-sm-11 { grid-column-end: span 11; }
    .start-sm-11 { grid-column-start: 11; }
    
    .col-sm-12 { grid-column-end: span 12; }
    .start-sm-12 { grid-column-start: 12; }
}

@media (min-width: 768px) {
    .container-md {
        width: 768px;
        max-width: 768px;
    }

    .container-fixed {
        max-width: 768px;
    }

    .row.cols-md-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .row.cols-md-2 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .row.cols-md-3 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .row.cols-md-4 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .row.cols-md-5 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(5, 1fr);
    }
    
    .row.cols-md-6 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .row.cols-md-7 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .row.cols-md-8 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .row.cols-md-9 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(9, 1fr);
    }
    
    .row.cols-md-10 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(10, 1fr);
    }
    
    .row.cols-md-11 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(11, 1fr);
    }
    
    .row.cols-md-12 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    .col-md-1 { grid-column-end: span 1; }
    .start-md-1 { grid-column-start: 1; }
    
    .col-md-2 { grid-column-end: span 2; }
    .start-md-2 { grid-column-start: 2; }
    
    .col-md-3 { grid-column-end: span 3; }
    .start-md-3 { grid-column-start: 3; }
    
    .col-md-4 { grid-column-end: span 4; }
    .start-md-4 { grid-column-start: 4; }
    
    .col-md-5 { grid-column-end: span 5; }
    .start-md-5 { grid-column-start: 5; }
    
    .col-md-6 { grid-column-end: span 6; }
    .start-md-6 { grid-column-start: 6; }
    
    .col-md-7 { grid-column-end: span 7; }
    .start-md-7 { grid-column-start: 7; }
    
    .col-md-8 { grid-column-end: span 8; }
    .start-md-8 { grid-column-start: 8; }
    
    .col-md-9 { grid-column-end: span 9; }
    .start-md-9 { grid-column-start: 9; }
    
    .col-md-10 { grid-column-end: span 10; }
    .start-md-10 { grid-column-start: 10; }
    
    .col-md-11 { grid-column-end: span 11; }
    .start-md-11 { grid-column-start: 11; }
    
    .col-md-12 { grid-column-end: span 12; }
    .start-md-12 { grid-column-start: 12; }
}

@media (min-width: 992px) {
    .container-lg {
        width: 992px;
        max-width: 992px;
    }

    .container-fixed {
        max-width: 992px;
    }

    .row.cols-lg-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .row.cols-lg-2 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .row.cols-lg-3 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .row.cols-lg-4 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .row.cols-lg-5 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(5, 1fr);
    }
    
    .row.cols-lg-6 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .row.cols-lg-7 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .row.cols-lg-8 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .row.cols-lg-9 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(9, 1fr);
    }
    
    .row.cols-lg-10 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(10, 1fr);
    }
    
    .row.cols-lg-11 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(11, 1fr);
    }
    
    .row.cols-lg-12 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    .col-lg-1 { grid-column-end: span 1; }
    .start-lg-1 { grid-column-start: 1; }
    
    .col-lg-2 { grid-column-end: span 2; }
    .start-lg-2 { grid-column-start: 2; }
    
    .col-lg-3 { grid-column-end: span 3; }
    .start-lg-3 { grid-column-start: 3; }
    
    .col-lg-4 { grid-column-end: span 4; }
    .start-lg-4 { grid-column-start: 4; }
    
    .col-lg-5 { grid-column-end: span 5; }
    .start-lg-5 { grid-column-start: 5; }
    
    .col-lg-6 { grid-column-end: span 6; }
    .start-lg-6 { grid-column-start: 6; }
    
    .col-lg-7 { grid-column-end: span 7; }
    .start-lg-7 { grid-column-start: 7; }
    
    .col-lg-8 { grid-column-end: span 8; }
    .start-lg-8 { grid-column-start: 8; }
    
    .col-lg-9 { grid-column-end: span 9; }
    .start-lg-9 { grid-column-start: 9; }
    
    .col-lg-10 { grid-column-end: span 10; }
    .start-lg-10 { grid-column-start: 10; }
    
    .col-lg-11 { grid-column-end: span 11; }
    .start-lg-11 { grid-column-start: 11; }
    
    .col-lg-12 { grid-column-end: span 12; }
    .start-lg-12 { grid-column-start: 12; }
}

@media (min-width: 1200px) {
    .container-xl {
        width: 1200px;
        max-width: 1200px;
    }

    .container-fixed {
        max-width: 1200px;
    }

    .row.cols-xl-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .row.cols-xl-2 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .row.cols-xl-3 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .row.cols-xl-4 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .row.cols-xl-5 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(5, 1fr);
    }
    
    .row.cols-xl-6 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .row.cols-xl-7 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .row.cols-xl-8 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .row.cols-xl-9 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(9, 1fr);
    }
    
    .row.cols-xl-10 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(10, 1fr);
    }
    
    .row.cols-xl-11 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(11, 1fr);
    }
    
    .row.cols-xl-12 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    .col-xl-1 { grid-column-end: span 1; }
    .start-xl-1 { grid-column-start: 1; }
    
    .col-xl-2 { grid-column-end: span 2; }
    .start-xl-2 { grid-column-start: 2; }
    
    .col-xl-3 { grid-column-end: span 3; }
    .start-xl-3 { grid-column-start: 3; }
    
    .col-xl-4 { grid-column-end: span 4; }
    .start-xl-4 { grid-column-start: 4; }
    
    .col-xl-5 { grid-column-end: span 5; }
    .start-xl-5 { grid-column-start: 5; }
    
    .col-xl-6 { grid-column-end: span 6; }
    .start-xl-6 { grid-column-start: 6; }
    
    .col-xl-7 { grid-column-end: span 7; }
    .start-xl-7 { grid-column-start: 7; }
    
    .col-xl-8 { grid-column-end: span 8; }
    .start-xl-8 { grid-column-start: 8; }
    
    .col-xl-9 { grid-column-end: span 9; }
    .start-xl-9 { grid-column-start: 9; }
    
    .col-xl-10 { grid-column-end: span 10; }
    .start-xl-10 { grid-column-start: 10; }
    
    .col-xl-11 { grid-column-end: span 11; }
    .start-xl-11 { grid-column-start: 11; }
    
    .col-xl-12 { grid-column-end: span 12; }
    .start-xl-12 { grid-column-start: 12; }
}

@media (min-width: 1400px) {
    .container-xxl {
        width: 1400px;
        max-width: 1400px;
    }

    .container-fixed {
        max-width: 1400px;
    }

    .row.cols-xxl-1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .row.cols-xxl-2 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .row.cols-xxl-3 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .row.cols-xxl-4 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .row.cols-xxl-5 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(5, 1fr);
    }
    
    .row.cols-xxl-6 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(6, 1fr);
    }
    
    .row.cols-xxl-7 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .row.cols-xxl-8 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .row.cols-xxl-9 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(9, 1fr);
    }
    
    .row.cols-xxl-10 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(10, 1fr);
    }
    
    .row.cols-xxl-11 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(11, 1fr);
    }
    
    .row.cols-xxl-12 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    .col-xxl-1 { grid-column-end: span 1; }
    .start-xxl-1 { grid-column-start: 1; }
    
    .col-xxl-2 { grid-column-end: span 2; }
    .start-xxl-2 { grid-column-start: 2; }
    
    .col-xxl-3 { grid-column-end: span 3; }
    .start-xxl-3 { grid-column-start: 3; }
    
    .col-xxl-4 { grid-column-end: span 4; }
    .start-xxl-4 { grid-column-start: 4; }
    
    .col-xxl-5 { grid-column-end: span 5; }
    .start-xxl-5 { grid-column-start: 5; }
    
    .col-xxl-6 { grid-column-end: span 6; }
    .start-xxl-6 { grid-column-start: 6; }
    
    .col-xxl-7 { grid-column-end: span 7; }
    .start-xxl-7 { grid-column-start: 7; }
    
    .col-xxl-8 { grid-column-end: span 8; }
    .start-xxl-8 { grid-column-start: 8; }
    
    .col-xxl-9 { grid-column-end: span 9; }
    .start-xxl-9 { grid-column-start: 9; }
    
    .col-xxl-10 { grid-column-end: span 10; }
    .start-xxl-10 { grid-column-start: 10; }
    
    .col-xxl-11 { grid-column-end: span 11; }
    .start-xxl-11 { grid-column-start: 11; }
    
    .col-xxl-12 { grid-column-end: span 12; }
    .start-xxl-12 { grid-column-start: 12; }
}
