@namespace Tavenem.Blazor.Framework

@typeparam TDragItem
@typeparam TDropItem

@inherits DropTarget<TDropItem>

<div @attributes="AdditionalAttributes"
     id="@Id"
     class="@CssClass"
     style="@CssStyle"
     draggable="@(GetIsDraggable() ? "true" : "false")">
    @ChildContent
</div>
