@media (min-width: 576px) {
    .d-sm-block { display: block; }
    .d-sm-flex { display: flex; }
    .d-sm-grid { display: grid; }
    .d-sm-inline { display: inline; }
    .d-sm-inline-block { display: inline-block; }
    .d-sm-inline-flex { display: inline-flex; }
    .d-sm-none { display: none; }
    .d-sm-table { display: table; }
    .d-sm-table-cell { display: table-cell; }
    .d-sm-table-row { display: table-row; }

    .position-sm-absolute { position: absolute; }
    .position-sm-fixed { position: fixed; }
    .position-sm-relative { position: relative; }
    .position-sm-static { position: static; }
    .position-sm-sticky { position: sticky; }

    .h-sm-25 { height: 25%; }
    .h-sm-33 { height: 33%; }
    .h-sm-50 { height: 50%; }
    .h-sm-67 { height: 67%; }
    .h-sm-75 { height: 75%; }
    .h-sm-100 { height: 100%; }
    .h-sm-auto { height: auto; }

    .w-sm-25 { width: 25%; }
    .w-sm-33 { width: 33%; }
    .w-sm-50 { width: 50%; }
    .w-sm-67 { width: 67%; }
    .w-sm-75 { width: 75%; }
    .w-sm-100 { width: 100%; }
    .w-sm-auto { width: auto; }

    .flex-sm-column { flex-direction: column; }
    .flex-sm-column-reverse { flex-direction: column-reverse; }
    .flex-sm-row { flex-direction: row; }
    .flex-sm-row-reverse { flex-direction: row-reverse; }

    .float-sm-end { float: inline-end; }
    .float-sm-left { float: left; }
    .float-sm-none { float: none; }
    .float-sm-right { float: right; }
    .float-sm-start { float: inline-start; }
    
    .fixed-sm {
        position: fixed;
        z-index: calc(var(--tavenem-zindex-fixed) + 11);
    }

    .sticky-sm {
        position: sticky;
        top: 0;
        z-index: calc(var(--tavenem-zindex-fixed) + 10);
    }

    .flex-sm-fill { flex: 1 1 auto; }

    .flex-sm-grow-0 { flex-grow: 0; }
    .flex-sm-grow-1 { flex-grow: 1; }
    .flex-sm-grow-2 { flex-grow: 2; }
    .flex-sm-grow-3 { flex-grow: 3; }
    .flex-sm-grow-4 { flex-grow: 4; }
    .flex-sm-grow-5 { flex-grow: 5; }

    .flex-sm-shrink-0 { flex-shrink: 0; }
    .flex-sm-shrink-1 { flex-shrink: 1; }

    .align-sm-content-center { align-content: center; }
    .align-sm-content-end { align-content: end; }
    .align-sm-content-start { align-content: start; }
    .align-sm-content-space-around { align-content: space-around; }
    .align-sm-content-space-between { align-content: space-between; }
    .align-sm-content-stretch { align-content: stretch; }

    .align-sm-items-baseline { align-items: baseline; }
    .align-sm-items-center { align-items: center; }
    .align-sm-items-end { align-items: end; }
    .align-sm-items-start { align-items: start; }
    .align-sm-items-stretch { align-items: stretch; }

    .align-sm-self-baseline { align-self: baseline; }
    .align-sm-self-center { align-self: center; }
    .align-sm-self-end { align-self: end; }
    .align-sm-self-start { align-self: start; }
    .align-sm-self-stretch { align-self: stretch; }

    .flex-sm-nowrap { flex-wrap: nowrap; }
    .flex-sm-wrap { flex-wrap: wrap; }
    .flex-sm-wrap-reverse { flex-wrap: wrap-reverse; }

    .justify-sm-content-center { justify-content: center; }
    .justify-sm-content-end { justify-content: end; }
    .justify-sm-content-space-around { justify-content: space-around; }
    .justify-sm-content-space-between { justify-content: space-between; }
    .justify-sm-content-space-evenly { justify-content: space-evenly; }
    .justify-sm-content-start { justify-content: start; }

    .order-sm-first { order: -1; }
    .order-sm-0 { order: 0; }
    .order-sm-1 { order: 1; }
    .order-sm-2 { order: 2; }
    .order-sm-3 { order: 3; }
    .order-sm-4 { order: 4; }
    .order-sm-5 { order: 5; }
    .order-sm-6 { order: 6; }
    .order-sm-7 { order: 7; }
    .order-sm-8 { order: 8; }
    .order-sm-9 { order: 9; }
    .order-sm-10 { order: 10; }
    .order-sm-last { order: 999; }

    .gap-sm-0 { gap: 0; }
    .gap-sm-1 { gap: .25rem; }
    .gap-sm-2 { gap: .5rem; }
    .gap-sm-3 { gap: 1rem; }
    .gap-sm-4 { gap: 1.5rem; }
    .gap-sm-5 { gap: 3rem; }
    .gap-sm-6 { gap: 4rem; }

    .m-sm-0 { margin: 0; }
    .m-sm-1 { margin: .25rem; }
    .m-sm-2 { margin: .5rem; }
    .m-sm-3 { margin: 1rem; }
    .m-sm-4 { margin: 1.5rem; }
    .m-sm-5 { margin: 3rem; }
    .m-sm-6 { margin: 4rem; }
    .m-sm-n1 { margin: -.25rem; }
    .m-sm-n2 { margin: -0.5rem; }
    .m-sm-n3 { margin: -1rem; }
    .m-sm-n4 { margin: -1.5rem; }
    .m-sm-n5 { margin: -3rem; }
    .m-sm-n6 { margin: -4rem; }
    .m-sm-auto { margin: auto; }

    .mb-sm-0 { margin-bottom: 0; }
    .mb-sm-1 { margin-bottom: .25rem; }
    .mb-sm-2 { margin-bottom: .5rem; }
    .mb-sm-3 { margin-bottom: 1rem; }
    .mb-sm-4 { margin-bottom: 1.5rem; }
    .mb-sm-5 { margin-bottom: 3rem; }
    .mb-sm-6 { margin-bottom: 4rem; }
    .mb-sm-n1 { margin-bottom: -.25rem; }
    .mb-sm-n2 { margin-bottom: -0.5rem; }
    .mb-sm-n3 { margin-bottom: -1rem; }
    .mb-sm-n4 { margin-bottom: -1.5rem; }
    .mb-sm-n5 { margin-bottom: -3rem; }
    .mb-sm-n6 { margin-bottom: -4rem; }
    .mb-sm-auto { margin-bottom: auto; }

    .mt-sm-0 { margin-top: 0; }
    .mt-sm-1 { margin-top: .25rem; }
    .mt-sm-2 { margin-top: .5rem; }
    .mt-sm-3 { margin-top: 1rem; }
    .mt-sm-4 { margin-top: 1.5rem; }
    .mt-sm-5 { margin-top: 3rem; }
    .mt-sm-6 { margin-top: 4rem; }
    .mt-sm-n1 { margin-top: -.25rem; }
    .mt-sm-n2 { margin-top: -0.5rem; }
    .mt-sm-n3 { margin-top: -1rem; }
    .mt-sm-n4 { margin-top: -1.5rem; }
    .mt-sm-n5 { margin-top: -3rem; }
    .mt-sm-n6 { margin-top: -4rem; }
    .mt-sm-auto { margin-top: auto; }

    .me-sm-0 { margin-inline-end: 0; }
    .me-sm-1 { margin-inline-end: .25rem; }
    .me-sm-2 { margin-inline-end: .5rem; }
    .me-sm-3 { margin-inline-end: 1rem; }
    .me-sm-4 { margin-inline-end: 1.5rem; }
    .me-sm-5 { margin-inline-end: 3rem; }
    .me-sm-6 { margin-inline-end: 4rem; }
    .me-sm-n1 { margin-inline-end: -.25rem; }
    .me-sm-n2 { margin-inline-end: -0.5rem; }
    .me-sm-n3 { margin-inline-end: -1rem; }
    .me-sm-n4 { margin-inline-end: -1.5rem; }
    .me-sm-n5 { margin-inline-end: -3rem; }
    .me-sm-n6 { margin-inline-end: -4rem; }
    .me-sm-auto { margin-inline-end: auto; }

    .ml-sm-0 { margin-left: 0; }
    .ml-sm-1 { margin-left: .25rem; }
    .ml-sm-2 { margin-left: .5rem; }
    .ml-sm-3 { margin-left: 1rem; }
    .ml-sm-4 { margin-left: 1.5rem; }
    .ml-sm-5 { margin-left: 3rem; }
    .ml-sm-6 { margin-left: 4rem; }
    .ml-sm-n1 { margin-left: -.25rem; }
    .ml-sm-n2 { margin-left: -0.5rem; }
    .ml-sm-n3 { margin-left: -1rem; }
    .ml-sm-n4 { margin-left: -1.5rem; }
    .ml-sm-n5 { margin-left: -3rem; }
    .ml-sm-n6 { margin-left: -4rem; }
    .ml-sm-auto { margin-left: auto; }

    .mr-sm-0 { margin-right: 0; }
    .mr-sm-1 { margin-right: .25rem; }
    .mr-sm-2 { margin-right: .5rem; }
    .mr-sm-3 { margin-right: 1rem; }
    .mr-sm-4 { margin-right: 1.5rem; }
    .mr-sm-5 { margin-right: 3rem; }
    .mr-sm-6 { margin-right: 4rem; }
    .mr-sm-n1 { margin-right: -.25rem; }
    .mr-sm-n2 { margin-right: -0.5rem; }
    .mr-sm-n3 { margin-right: -1rem; }
    .mr-sm-n4 { margin-right: -1.5rem; }
    .mr-sm-n5 { margin-right: -3rem; }
    .mr-sm-n6 { margin-right: -4rem; }
    .mr-sm-auto { margin-right: auto; }

    .ms-sm-0 { margin-inline-start: 0; }
    .ms-sm-1 { margin-inline-start: .25rem; }
    .ms-sm-2 { margin-inline-start: .5rem; }
    .ms-sm-3 { margin-inline-start: 1rem; }
    .ms-sm-4 { margin-inline-start: 1.5rem; }
    .ms-sm-5 { margin-inline-start: 3rem; }
    .ms-sm-6 { margin-inline-start: 4rem; }
    .ms-sm-n1 { margin-inline-start: -.25rem; }
    .ms-sm-n2 { margin-inline-start: -0.5rem; }
    .ms-sm-n3 { margin-inline-start: -1rem; }
    .ms-sm-n4 { margin-inline-start: -1.5rem; }
    .ms-sm-n5 { margin-inline-start: -3rem; }
    .ms-sm-n6 { margin-inline-start: -4rem; }
    .ms-sm-auto { margin-inline-start: auto; }

    .mx-sm-0 { margin-left: 0; margin-right: 0; }
    .mx-sm-1 { margin-left: .25rem; margin-right: .25rem; }
    .mx-sm-2 { margin-left: .5rem; margin-right: .5rem; }
    .mx-sm-3 { margin-left: 1rem; margin-right: 1rem; }
    .mx-sm-4 { margin-left: 1.5rem; margin-right: 1.5rem; }
    .mx-sm-5 { margin-left: 3rem; margin-right: 3rem; }
    .mx-sm-6 { margin-left: 4rem; margin-right: 4rem; }
    .mx-sm-n1 { margin-left: -.25rem; margin-right: -.25rem; }
    .mx-sm-n2 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .mx-sm-n3 { margin-left: -1rem; margin-right: -1rem; }
    .mx-sm-n4 { margin-left: -1.5rem; margin-right: -1.5rem; }
    .mx-sm-n5 { margin-left: -3rem; margin-right: -3rem; }
    .mx-sm-n6 { margin-left: -4rem; margin-right: -4rem; }
    .mx-sm-auto { margin-left: auto; margin-right: auto; }

    .my-sm-0 { margin-bottom: 0; margin-top: 0; }
    .my-sm-1 { margin-bottom: .25rem; margin-top: .25rem; }
    .my-sm-2 { margin-bottom: .5rem; margin-top: .5rem; }
    .my-sm-3 { margin-bottom: 1rem; margin-top: 1rem; }
    .my-sm-4 { margin-bottom: 1.5rem; margin-top: 1.5rem; }
    .my-sm-5 { margin-bottom: 3rem; margin-top: 3rem; }
    .my-sm-6 { margin-bottom: 4rem; margin-top: 4rem; }
    .my-sm-n1 { margin-bottom: -.25rem; margin-top: -.25rem; }
    .my-sm-n2 { margin-bottom: -0.5rem; margin-top: -0.5rem; }
    .my-sm-n3 { margin-bottom: -1rem; margin-top: -1rem; }
    .my-sm-n4 { margin-bottom: -1.5rem; margin-top: -1.5rem; }
    .my-sm-n5 { margin-bottom: -3rem; margin-top: -3rem; }
    .my-sm-n6 { margin-bottom: -4rem; margin-top: -4rem; }
    .my-sm-auto { margin-bottom: auto; margin-top: auto; }

    .p-sm-0 { padding: 0; }
    .p-sm-1 { padding: .25rem; }
    .p-sm-2 { padding: .5rem; }
    .p-sm-3 { padding: 1rem; }
    .p-sm-4 { padding: 1.5rem; }
    .p-sm-5 { padding: 3rem; }
    .p-sm-6 { padding: 4rem; }
    .p-sm-n1 { padding: -.25rem; }
    .p-sm-n2 { padding: -0.5rem; }
    .p-sm-n3 { padding: -1rem; }
    .p-sm-n4 { padding: -1.5rem; }
    .p-sm-n5 { padding: -3rem; }
    .p-sm-n6 { padding: -4rem; }

    .pb-sm-0 { padding-bottom: 0; }
    .pb-sm-1 { padding-bottom: .25rem; }
    .pb-sm-2 { padding-bottom: .5rem; }
    .pb-sm-3 { padding-bottom: 1rem; }
    .pb-sm-4 { padding-bottom: 1.5rem; }
    .pb-sm-5 { padding-bottom: 3rem; }
    .pb-sm-6 { padding-bottom: 4rem; }
    .pb-sm-n1 { padding-bottom: -.25rem; }
    .pb-sm-n2 { padding-bottom: -0.5rem; }
    .pb-sm-n3 { padding-bottom: -1rem; }
    .pb-sm-n4 { padding-bottom: -1.5rem; }
    .pb-sm-n5 { padding-bottom: -3rem; }
    .pb-sm-n6 { padding-bottom: -4rem; }

    .pt-sm-0 { padding-top: 0; }
    .pt-sm-1 { padding-top: .25rem; }
    .pt-sm-2 { padding-top: .5rem; }
    .pt-sm-3 { padding-top: 1rem; }
    .pt-sm-4 { padding-top: 1.5rem; }
    .pt-sm-5 { padding-top: 3rem; }
    .pt-sm-6 { padding-top: 4rem; }
    .pt-sm-n1 { padding-top: -.25rem; }
    .pt-sm-n2 { padding-top: -0.5rem; }
    .pt-sm-n3 { padding-top: -1rem; }
    .pt-sm-n4 { padding-top: -1.5rem; }
    .pt-sm-n5 { padding-top: -3rem; }
    .pt-sm-n6 { padding-top: -4rem; }

    .pe-sm-0 { padding-inline-end: 0; }
    .pe-sm-1 { padding-inline-end: .25rem; }
    .pe-sm-2 { padding-inline-end: .5rem; }
    .pe-sm-3 { padding-inline-end: 1rem; }
    .pe-sm-4 { padding-inline-end: 1.5rem; }
    .pe-sm-5 { padding-inline-end: 3rem; }
    .pe-sm-6 { padding-inline-end: 4rem; }
    .pe-sm-n1 { padding-inline-end: -.25rem; }
    .pe-sm-n2 { padding-inline-end: -0.5rem; }
    .pe-sm-n3 { padding-inline-end: -1rem; }
    .pe-sm-n4 { padding-inline-end: -1.5rem; }
    .pe-sm-n5 { padding-inline-end: -3rem; }
    .pe-sm-n6 { padding-inline-end: -4rem; }

    .pl-sm-0 { padding-left: 0; }
    .pl-sm-1 { padding-left: .25rem; }
    .pl-sm-2 { padding-left: .5rem; }
    .pl-sm-3 { padding-left: 1rem; }
    .pl-sm-4 { padding-left: 1.5rem; }
    .pl-sm-5 { padding-left: 3rem; }
    .pl-sm-6 { padding-left: 4rem; }
    .pl-sm-n1 { padding-left: -.25rem; }
    .pl-sm-n2 { padding-left: -0.5rem; }
    .pl-sm-n3 { padding-left: -1rem; }
    .pl-sm-n4 { padding-left: -1.5rem; }
    .pl-sm-n5 { padding-left: -3rem; }
    .pl-sm-n6 { padding-left: -4rem; }

    .pr-sm-0 { padding-right: 0; }
    .pr-sm-1 { padding-right: .25rem; }
    .pr-sm-2 { padding-right: .5rem; }
    .pr-sm-3 { padding-right: 1rem; }
    .pr-sm-4 { padding-right: 1.5rem; }
    .pr-sm-5 { padding-right: 3rem; }
    .pr-sm-6 { padding-right: 4rem; }
    .pr-sm-n1 { padding-right: -.25rem; }
    .pr-sm-n2 { padding-right: -0.5rem; }
    .pr-sm-n3 { padding-right: -1rem; }
    .pr-sm-n4 { padding-right: -1.5rem; }
    .pr-sm-n5 { padding-right: -3rem; }
    .pr-sm-n6 { padding-right: -4rem; }

    .ps-sm-0 { padding-inline-start: 0; }
    .ps-sm-1 { padding-inline-start: .25rem; }
    .ps-sm-2 { padding-inline-start: .5rem; }
    .ps-sm-3 { padding-inline-start: 1rem; }
    .ps-sm-4 { padding-inline-start: 1.5rem; }
    .ps-sm-5 { padding-inline-start: 3rem; }
    .ps-sm-6 { padding-inline-start: 4rem; }
    .ps-sm-n1 { padding-inline-start: -.25rem; }
    .ps-sm-n2 { padding-inline-start: -0.5rem; }
    .ps-sm-n3 { padding-inline-start: -1rem; }
    .ps-sm-n4 { padding-inline-start: -1.5rem; }
    .ps-sm-n5 { padding-inline-start: -3rem; }
    .ps-sm-n6 { padding-inline-start: -4rem; }

    .px-sm-0 { padding-left: 0; padding-right: 0; }
    .px-sm-1 { padding-left: .25rem; padding-right: .25rem; }
    .px-sm-2 { padding-left: .5rem; padding-right: .5rem; }
    .px-sm-3 { padding-left: 1rem; padding-right: 1rem; }
    .px-sm-4 { padding-left: 1.5rem; padding-right: 1.5rem; }
    .px-sm-5 { padding-left: 3rem; padding-right: 3rem; }
    .px-sm-6 { padding-left: 4rem; padding-right: 4rem; }
    .px-sm-n1 { padding-left: -.25rem; padding-right: -.25rem; }
    .px-sm-n2 { padding-left: -0.5rem; padding-right: -0.5rem; }
    .px-sm-n3 { padding-left: -1rem; padding-right: -1rem; }
    .px-sm-n4 { padding-left: -1.5rem; padding-right: -1.5rem; }
    .px-sm-n5 { padding-left: -3rem; padding-right: -3rem; }
    .px-sm-n6 { padding-left: -4rem; padding-right: -4rem; }

    .py-sm-0 { padding-bottom: 0; padding-top: 0; }
    .py-sm-1 { padding-bottom: .25rem; padding-top: .25rem; }
    .py-sm-2 { padding-bottom: .5rem; padding-top: .5rem; }
    .py-sm-3 { padding-bottom: 1rem; padding-top: 1rem; }
    .py-sm-4 { padding-bottom: 1.5rem; padding-top: 1.5rem; }
    .py-sm-5 { padding-bottom: 3rem; padding-top: 3rem; }
    .py-sm-6 { padding-bottom: 4rem; padding-top: 4rem; }
    .py-sm-n1 { padding-bottom: -.25rem; padding-top: -.25rem; }
    .py-sm-n2 { padding-bottom: -0.5rem; padding-top: -0.5rem; }
    .py-sm-n3 { padding-bottom: -1rem; padding-top: -1rem; }
    .py-sm-n4 { padding-bottom: -1.5rem; padding-top: -1.5rem; }
    .py-sm-n5 { padding-bottom: -3rem; padding-top: -3rem; }
    .py-sm-n6 { padding-bottom: -4rem; padding-top: -4rem; }

    .overflow-sm-auto { overflow: auto; }
    .overflow-sm-hidden { overflow: hidden; }
    .overflow-sm-scroll { overflow: scroll; }
    .overflow-sm-visible { overflow: visible; }

    .text-sm-center { text-align: center; }
    .text-sm-end { text-align: end; }
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-start { text-align: start; }

    .text-sm-capitalize { text-transform: capitalize; }
    .text-sm-lowercase { text-transform: lowercase; }
    .text-sm-uppercase { text-transform: uppercase; }

    .align-sm-baseline { vertical-align: baseline; }
    .align-sm-bottom { vertical-align: bottom; }
    .align-sm-middle { vertical-align: middle; }
    .align-sm-text-bottom { vertical-align: text-bottom; }
    .align-sm-text-top { vertical-align: text-top; }
    .align-sm-top { vertical-align: top; }
}