@layer
    tavenem-framework.reset,
    tavenem-framework.base,
    tavenem-framework.theme,
    tavenem-framework.base-components,
    tavenem-framework.components,
    tavenem-framework.special,
    tavenem-framework.utilities;
    
@import "reset.css" layer(tavenem-framework.reset);
@import "variables.css" layer(tavenem-framework.base);
@import "layout.css" layer(tavenem-framework.base);
@import "theme.css" layer(tavenem-framework.theme);
@import "components/icon.css" layer(tavenem-framework.base-components);
@import "components/field.css" layer(tavenem-framework.base-components);
@import "components/overlay.css" layer(tavenem-framework.base-components);
@import "components/alert.css" layer(tavenem-framework.components);
@import "components/avatar.css" layer(tavenem-framework.components);
@import "components/badge.css" layer(tavenem-framework.components);
@import "components/breadcrumb.css" layer(tavenem-framework.components);
@import "components/button.css" layer(tavenem-framework.components);
@import "components/buttongroup.css" layer(tavenem-framework.components);
@import "components/card.css" layer(tavenem-framework.components);
@import "components/checkbox.css" layer(tavenem-framework.components);
@import "components/chip.css" layer(tavenem-framework.components);
@import "components/collapse.css" layer(tavenem-framework.components);
@import "components/colorpicker.css" layer(tavenem-framework.components);
@import "components/datepicker.css" layer(tavenem-framework.components);
@import "components/dialog.css" layer(tavenem-framework.components);
@import "components/drawer.css" layer(tavenem-framework.components);
@import "components/editor.css" layer(tavenem-framework.components);
@import "components/emoji.css" layer(tavenem-framework.components);
@import "components/imageeditor.css" layer(tavenem-framework.components);
@import "components/inputs.css" layer(tavenem-framework.components);
@import "components/list.css" layer(tavenem-framework.components);
@import "components/meter.css" layer(tavenem-framework.components);
@import "components/pagination.css" layer(tavenem-framework.components);
@import "components/popover.css" layer(tavenem-framework.components);
@import "components/rating.css" layer(tavenem-framework.components);
@import "components/select.css" layer(tavenem-framework.components);
@import "components/skeleton.css" layer(tavenem-framework.components);
@import "components/slider.css" layer(tavenem-framework.components);
@import "components/snackbar.css" layer(tavenem-framework.components);
@import "components/steps.css" layer(tavenem-framework.components);
@import "components/switch.css" layer(tavenem-framework.components);
@import "components/table.css" layer(tavenem-framework.components);
@import "components/tabs.css" layer(tavenem-framework.components);
@import "components/timeline.css" layer(tavenem-framework.components);
@import "components/toolbar.css" layer(tavenem-framework.components);
@import "components/tooltip.css" layer(tavenem-framework.components);
@import "utilities/utilities.css" layer(tavenem-framework.utilities);
@import "utilities/sm.css" layer(tavenem-framework.utilities);
@import "utilities/md.css" layer(tavenem-framework.utilities);
@import "utilities/lg.css" layer(tavenem-framework.utilities);
@import "utilities/xl.css" layer(tavenem-framework.utilities);
@import "utilities/xxl.css" layer(tavenem-framework.utilities);
@import "math.css" layer(tavenem-framework.special);
@import "katex.min.css" layer(tavenem-framework.special);
@import "highlight.css" layer(tavenem-framework.special);
@import "blazor.css" layer(tavenem-framework.special);
