@font-face {
    font-family: "Adobe NotDef";
    src: local("Adobe NotDef"),
        url("AND-Regular.otf") format('opentype');
}

tf-icon {
    direction: ltr;
    display: inline-block;
    fill: currentColor;
    flex: 0 0 auto;
    font-family: 'Material Symbols Outlined', 'Adobe NotDef';
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    font-display: block;
    font-variant: normal;
    font-variation-settings: 'FILL' var(--tavenem-fill), 'GRAD' var(--tavenem-grad);
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-rendering: optimizeLegibility;
    text-transform: none;
    transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
    user-select: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.outlined {
        --tavenem-fill: 0;
        border: none;
    }

    [data-theme="dark"] & {
        --tavenem-grad: -25;
    }

    &:focus {
        outline: none;
    }

    &.disabled, &[disabled],
    .disabled &, *:disabled & {
        color: var(--tavenem-color-text-disabled);
    }

    &.small {
        font-size: 1.25em;
    }

    &.large {
        font-size: 2.25em;
    }
}

.icon-stack {
    display: inline-grid;
    place-items: center;

    * {
        grid-area: 1 / 1;
    }

    &.small {
        font-size: calc(5em / 6);
    }

    &.large {
        font-size: 1.5em;
    }

    :nth-child(n+2) {
        font-size: 1em;
    }

    :nth-child(n+3) {
        font-size: .75em;
    }

    :nth-child(even) {
        color: var(--tavenem-color-bg);
    }

    &.primary,
    &.secondary,
    &.tertiary,
    &.danger,
    &.dark,
    &.default,
    &.info,
    &.success,
    &.warning {
        color: var(--tavenem-theme-color);

        :nth-child(even) {
            color: var(--tavenem-theme-color-text);
        }
    }
}
