<Dialog>
    <ChildContent>
        <TextInput @ref="LineHeightInput"
                   @bind-Value="NewLineHeight"
                   Placeholder="line height"
                   Suggestions="LineHeights"
                   Validation="ValidateLineHeightAsync" />
    </ChildContent>
    <FooterContent>
        <div class="message-box-buttons">
            <button @onclick="@(_ => Dialog?.Cancel())" class="btn btn-text">Cancel</button>
            <button @onclick="SubmitAsync" class="btn btn-text primary">Ok</button>
        </div>
    </FooterContent>
</Dialog>
