@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<nav @attributes="UserAttributes" class="@ClassName" style="@Style">
    @if (ChildContent is null)
    {
        <div class="subheader sticky">Contents</div>
    }
    else
    {
        @ChildContent
    }
    @foreach (var heading in _headings)
    {
        <div @key="heading.Id" class="clickable">
            <AnchorLink href="@($"#{heading.Id}")">@heading.Title</AnchorLink>
        </div>
    }
</nav>
