@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div class="@CssClass" style="@Style">
    @if (InteractiveRenderMode is not null)
    {
        <SnackbarContainer @rendermode="InteractiveRenderMode" />
        <DialogContainer @ref="DialogContainer" @rendermode="InteractiveRenderMode" />
    }
    @FrameworkContent
    <main class="container">
        @ChildContent
        @if (AutoScrollToTop)
        {
            <tf-scroll-top />
        }
    </main>
    @if (ContentsBreakpoint != Breakpoint.None)
    {
        <Contents @ref="Contents" Breakpoint="ContentsBreakpoint" />
    }
</div>