@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div class="@CssClass" style="@Style">
    <SnackbarContainer />
    <DialogContainer @ref="DialogContainer" />
    @FrameworkContent
    <main class="container">
        @ChildContent
    </main>
    @if (ContentsBreakpoint != Breakpoint.None)
    {
        <Contents @ref="Contents"
                  Breakpoint="ContentsBreakpoint"
                  Class="d-print-none"
                  Style="grid-area:contents" />
    }
    @if (AutoScrollToTop)
    {
        <ScrollToTop Selector=".tavenem-framework-layout > .container" />
    }
</div>