@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div class="@CssClass" style="@Style">
    <SnackbarContainer />
    <DialogContainer @ref="DialogContainer" />
    @FrameworkContent
    <main class="container">
        @ChildContent
        @if (AutoScrollToTop)
        {
            <tf-scroll-top />
        }
    </main>
    @if (ContentsBreakpoint != Breakpoint.None)
    {
        <Contents @ref="Contents" Breakpoint="ContentsBreakpoint" />
    }
</div>