@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div class="@CssClass" style="@Style">
    <CascadingValue Value="this" IsFixed="true">
        @FrameworkContent
        <div class="d-flex" style="overflow-y: auto">
            <main id="main-container" class="container mt-3">
                @ChildContent
            </main>
            @if (ContentsBreakpoint != Breakpoint.None)
            {
                <Contents ThemeColor="ThemeColor" Breakpoint="ContentsBreakpoint" />
            }
        </div>
        @foreach (var dialogReference in _dialogs)
        {
            @dialogReference.RenderFragment
        }
    </CascadingValue>
    @if (AutoScrollToTop)
    {
        <ScrollToTop Selector="#main-container">
            <span class="btn btn-icon primary filled">
                <span class="icon">expand_less</span>
            </span>
        </ScrollToTop>
    }
    <div class="overlay drawer-overlay" @onclick="OnCloseDrawersAsync" @onclick:stopPropagation="true"></div>
</div>
