@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

<div class="@CssClass" style="@Style">
    <SnackbarContainer />
    <CascadingValue Value="this" IsFixed="true">
        @FrameworkContent
        <main id="main-container" class="container mt-3">
            @ChildContent
        </main>
        @if (ContentsBreakpoint != Breakpoint.None)
        {
            <Contents ThemeColor="ThemeColor" Breakpoint="ContentsBreakpoint" Class="d-print-none" Style="grid-area:contents" />
        }
        @foreach (var dialogReference in _dialogs)
        {
            @dialogReference.RenderFragment
        }
    </CascadingValue>
    @if (AutoScrollToTop)
    {
        <ScrollToTop Selector="#main-container">
            <span class="btn btn-icon primary filled">
                <tf-icon>expand_less</tf-icon>
            </span>
        </ScrollToTop>
    }
    <div class="overlay drawer-overlay" @onclick="OnCloseDrawersAsync" @onclick:stopPropagation="true"></div>
</div>