@namespace Tavenem.Blazor.Framework

@inherits DrawerContainer

<div class="@CssClass" style="@Style">
    <CascadingValue Value="this" IsFixed="true">
        @FrameworkContent
        <div class="d-flex" style="overflow-y: auto">
            <main id="main-container" class="container mt-3">
                @ChildContent
            </main>
            <Contents Breakpoint="Breakpoint.Lg" />
        </div>
    </CascadingValue>
    @if (AutoScrollToTop)
    {
        <ScrollToTop Selector="#main-container">
            <span class="btn btn-icon primary filled">
                <span class="icon">expand_less</span>
            </span>
        </ScrollToTop>
    }
    <div class="overlay drawer-overlay" @onclick="OnCloseDrawersAsync" @onclick:stopPropagation="true"></div>
</div>
