@namespace Tavenem.Blazor.Framework

@inherits TavenemComponentBase

@if (!IsInteractive)
{
    return;
}

<button @attributes="AdditionalAttributes" class="@CssClass" style="@CssStyle" @onclick="OnClickAsync">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <tf-icon>@Icon</tf-icon>
    }
    @Text
</button>
