<Collapse IsOpen="IsOpen" Class="outlined mb-3" BodyClass="codeblock pre-razor-code">
    <TitleContent>
        <div class="@RowCssClass">
            @CodeFragment
        </div>
    </TitleContent>
    <ChildContent>
        @CodeFormatter.CodeToMarkup(Code)
    </ChildContent>
</Collapse>