<Drawer Side="Side.Left">
    <div class="list" role="navigation">
        <NavLink href="" Match="NavLinkMatch.All"><span class="icon">home</span> Home</NavLink>
        <Collapse Title="Getting Started">
            <div class="list">
                <AnchorLink href="./getting-started/installation">Installation</AnchorLink>
                <AnchorLink href="./getting-started/themes">Themes</AnchorLink>
            </div>
        </Collapse>
        <Collapse Title="Layout">
            <div class="list">
                <AnchorLink href="./layout/layout">Layout</AnchorLink>
                <AnchorLink href="./layout/breakpoints">Breakpoints</AnchorLink>
                <AnchorLink href="./layout/containers">Containers</AnchorLink>
                <AnchorLink href="./layout/rows-columns">Rows and Columns</AnchorLink>
            </div>
        </Collapse>
        <Collapse Title="Utilities">
            <div class="list">
                <AnchorLink href="./utilities/text">Text</AnchorLink>
            </div>
        </Collapse>
    </div>
</Drawer>