<Drawer Side="Side.Left">
    <div class="list" role="navigation">
        <NavLink href="" Match="NavLinkMatch.All"><tf-icon>home</tf-icon> Home</NavLink>
        <Collapse Title="Getting Started">
            <div class="list dense">
                <AnchorLink href="./getting-started/installation">Installation</AnchorLink>
                <AnchorLink href="./getting-started/themes">Themes</AnchorLink>
            </div>
        </Collapse>
        <Collapse Title="Layout">
            <div class="list dense">
                <AnchorLink href="./layout/layout">Layout</AnchorLink>
                <AnchorLink href="./layout/breakpoints">Breakpoints</AnchorLink>
                <AnchorLink href="./layout/containers">Containers</AnchorLink>
                <AnchorLink href="./layout/rows-columns">Rows and Columns</AnchorLink>
            </div>
        </Collapse>
        <Collapse Title="Components">
            <div class="list dense">
                <AnchorLink href="./components/accordion">Accordion</AnchorLink>
                <AnchorLink href="./components/alert">Alert</AnchorLink>
                <AnchorLink href="./components/anchor-link">Anchor Link</AnchorLink>
                <AnchorLink href="./components/appbar">AppBar</AnchorLink>
                <AnchorLink href="./components/avatar">Avatar</AnchorLink>
                <AnchorLink href="./components/badge">Badge</AnchorLink>
                <AnchorLink href="./components/breadcrumbs">Breadcrumbs</AnchorLink>
                <AnchorLink href="./components/button">Button</AnchorLink>
                <AnchorLink href="./components/card">Card</AnchorLink>
                <AnchorLink href="./components/chip">Chip</AnchorLink>
                <AnchorLink href="./components/close-button">Close Button</AnchorLink>
                <AnchorLink href="./components/collapse">Collapse</AnchorLink>
                <AnchorLink href="./components/contents">Contents</AnchorLink>
                <AnchorLink href="./components/dialog">Dialog</AnchorLink>
                <AnchorLink href="./components/drag-drop">Drag-Drop</AnchorLink>
                <AnchorLink href="./components/drawer">Drawer</AnchorLink>
                <AnchorLink href="./components/dropdown">Dropdown</AnchorLink>
                <Collapse Title="Forms">
                    <div class="list dense">
                        <AnchorLink href="./components/checkbox">Checkbox</AnchorLink>
                        <AnchorLink href="./components/field">Field</AnchorLink>
                        <AnchorLink href="./components/numeric-input">Numeric Input</AnchorLink>
                        <AnchorLink href="./components/slider">Slider</AnchorLink>
                        <AnchorLink href="./components/switch">Switch</AnchorLink>
                        <AnchorLink href="./components/text-input">Text Input</AnchorLink>
                        <AnchorLink href="./components/text-area">Text Area</AnchorLink>
                    </div>
                </Collapse>
                <AnchorLink href="./components/heading">Heading</AnchorLink>
                <AnchorLink href="./components/highlighter">Highlighter</AnchorLink>
                <AnchorLink href="./components/icon">Icon</AnchorLink>
                <AnchorLink href="./components/light-dark-toggle">Light-Dark Toggle</AnchorLink>
                <AnchorLink href="./components/list">List</AnchorLink>
                <AnchorLink href="./components/meter">Meter</AnchorLink>
                <AnchorLink href="./components/overlay">Overlay</AnchorLink>
                <AnchorLink href="./components/pagination">Pagination</AnchorLink>
                <AnchorLink href="./components/popover">Popover</AnchorLink>
                <AnchorLink href="./components/progress">Progress</AnchorLink>
                <AnchorLink href="./components/rating">Rating</AnchorLink>
                <AnchorLink href="./components/scroll-to-top">Scroll to Top</AnchorLink>
                <AnchorLink href="./components/skeleton">Skeleton</AnchorLink>
                <AnchorLink href="./components/snackbar">Snackbar</AnchorLink>
                <AnchorLink href="./components/swipe-target">Swipe Target</AnchorLink>
                <AnchorLink href="./components/tabs">Tabs</AnchorLink>
                <AnchorLink href="./components/timeline">Timeline</AnchorLink>
                <AnchorLink href="./components/toolbar">Toolbar</AnchorLink>
                <AnchorLink href="./components/tooltip">Tooltip</AnchorLink>
            </div>
        </Collapse>
        <Collapse Title="Utilities">
            <div class="list dense">
                <AnchorLink href="./utilities/borders">Borders</AnchorLink>
                <AnchorLink href="./utilities/bullets">Bullets</AnchorLink>
                <AnchorLink href="./utilities/color">Color</AnchorLink>
                <AnchorLink href="./utilities/display">Display</AnchorLink>
                <AnchorLink href="./utilities/flexbox">Flexbox</AnchorLink>
                <AnchorLink href="./utilities/float">Float</AnchorLink>
                <AnchorLink href="./utilities/images">Images</AnchorLink>
                <AnchorLink href="./utilities/interaction">Interaction</AnchorLink>
                <AnchorLink href="./utilities/overflow">Overflow</AnchorLink>
                <AnchorLink href="./utilities/position">Position</AnchorLink>
                <AnchorLink href="./utilities/shadows">Shadows</AnchorLink>
                <AnchorLink href="./utilities/shake">Shake</AnchorLink>
                <AnchorLink href="./utilities/sizing">Sizing</AnchorLink>
                <AnchorLink href="./utilities/spacing">Spacing</AnchorLink>
                <AnchorLink href="./utilities/stretched-link">Stretched Link</AnchorLink>
                <AnchorLink href="./utilities/text">Text</AnchorLink>
                <AnchorLink href="./utilities/vertical-rule">Vertical Rule</AnchorLink>
            </div>
        </Collapse>
    </div>
</Drawer>