<Drawer Side="Side.Left">
    <div class="list" role="navigation">
        <NavLink href="" Match="NavLinkMatch.All"><span class="icon">home</span> Home</NavLink>
        <Collapse Title="Getting Started">
            <div class="list">
                <AnchorLink href="./getting-started/installation">Installation</AnchorLink>
                <AnchorLink href="./getting-started/layout">Layout</AnchorLink>
                <AnchorLink href="./getting-started/themes">Themes</AnchorLink>
            </div>
        </Collapse>
    </div>
</Drawer>