<Drawer Side="Side.Left">
    <div class="list" role="navigation">
        <NavLink href="" Match="NavLinkMatch.All"><span class="icon">home</span> Home</NavLink>
        <Collapse Title="Getting Started">
            <div class="list">
                <NavLink href="./getting-started/installation">Installation</NavLink>
                <NavLink href="./getting-started/layout">Layout</NavLink>
                <NavLink href="./getting-started/themes">Themes</NavLink>
            </div>
        </Collapse>
    </div>
</Drawer>