@inherits LayoutComponentBase

<FrameworkLayout ThemeColor="ThemeColor.Primary">
    <TopAppbar />
    <LeftDrawer />
    <div class="d-flex">
        <main class="flex-grow-1">
            @Body
        </main>
        <Contents Breakpoint="Breakpoint.Lg" />
    </div>
</FrameworkLayout>
