@inherits LayoutComponentBase

<div class="framework">
    <div class="appbar top">
        <div class="toolbar">
            <button title="Navigation menu" class="btn-icon" @onclick="ToggleNavMenu">
                <span class="icon menu" aria-hidden="true"></span>
            </button>
            <a href="https://tavenem.com/" title="Tavenem">
                <img src="./images/tavenemlogo.svg" alt="" width="60" height="60" class="d-inline-block me-3" />
            </a>
            <h5><a href="" class="text-reset">Tavenem Blazor Framework Docs</a></h5>
            <span class="justify-self-end">More soon...</span>
        </div>
    </div>
    <LeftDrawer Open="_drawerOpen" />
    <main>
        @Body
    </main>
</div>

@code {
    private bool _drawerOpen;

    private void ToggleNavMenu() => _drawerOpen = !_drawerOpen;
}
