<nav class="drawer left container @(Open ? null : "closed")">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="./counter">
            Counter
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="./fetchdata">
            Fetch data
        </NavLink>
    </div>
</nav>

@code {
    [Parameter] public bool Open { get; set; }
}
