@inject NavigationManager NavigationManager

<AppBar Side="VerticalSide.Top" ControlsDrawerSide="Side.Left">
    <a href="https://tavenem.com/" title="Tavenem">
        <img src="./images/tavenemlogo.svg" alt="" width="60" height="60" class="d-inline-block me-1" />
    </a>
    <span class="primary text-close" style="font-size:2em;cursor:pointer" @onclick="Home">Tavenem Blazor Framework</span>
    <LightDarkToggle class="ms-auto" />
</AppBar>

@code {
    private void Home() => NavigationManager?.NavigateTo("./");
}