<AppBar Side="VerticalSide.Top" ControlsDrawerSide="Side.Left">
    <a href="https://tavenem.com/" title="Tavenem">
        <img src="./images/tavenemlogo.svg" alt="" width="60" height="60" class="d-inline-block me-3" />
    </a>
    <h5><a href="" class="text-reset">Tavenem Blazor Framework Docs</a></h5>
    <LightDarkToggle class="justify-self-end" />
</AppBar>