@keyframes tf-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes tf-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tf-slide-in-left {
    from {
        transform: translateX(-100%);
    }
}

@keyframes tf-slide-out-left {
    to {
        transform: translateX(-100%);
    }
}

@keyframes tf-slide-in-right {
    from {
        transform: translateX(100%);
    }
}

@keyframes tf-slide-out-right {
    to {
        transform: translateX(100%);
    }
}

@keyframes tf-slide-in-bottom {
    from {
        transform: translateY(100%);
    }
}

@keyframes tf-slide-out-bottom {
    to {
        transform: translateY(100%);
    }
}

@keyframes tf-slide-in-top {
    from {
        transform: translateY(-100%);
    }
}

@keyframes tf-slide-out-top {
    to {
        transform: translateY(-100%);
    }
}
