@keyframes tf-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes tf-shake {
    10%, 90% {
        transform: translateX(-1px);
    }

    20%, 80% {
        transform: translateX(2px);
    }

    30%, 50%, 70% {
        transform: translateX(-4px);
    }

    40%, 60% {
        transform: translateX(4px);
    }
}

@keyframes tf-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tf-slide-in-left {
    from {
        max-width: 0;
        transform: translateX(-100%);
    }
    1% {
        max-width: 15rem;
        transform: translateX(-99%);
    }
}

@keyframes tf-slide-out-left {
    from {
        max-width: 15rem;
        transform: translateX(0);
    }
    99% {
        max-width: 15rem;
        transform: translateX(-99%);
    }
}

@keyframes tf-slide-in-right {
    from {
        max-width: 0;
        transform: translateX(100%);
    }
    1% {
        max-width: 15rem;
        transform: translateX(99%);
    }
}

@keyframes tf-slide-out-right {
    from {
        max-width: 15rem;
        transform: translateX(0);
    }
    99% {
        max-width: 15rem;
        transform: translateX(99%);
    }
}

@keyframes tf-slide-in-bottom {
    from {
        max-height: 0;
        transform: translateY(100%);
    }
    1% {
        max-height: 20rem;
        transform: translateY(99%);
    }
}

@keyframes tf-slide-out-bottom {
    from {
        max-height: 20rem;
        transform: translateY(0);
    }
    99% {
        max-height: 20rem;
        transform: translateY(99%);
    }
}

@keyframes tf-slide-in-top {
    from {
        max-height: 0;
        transform: translateY(-100%);
    }
    1% {
        max-height: 20rem;
        transform: translateY(-99%);
    }
}

@keyframes tf-slide-out-top {
    from {
        max-height: 20rem;
        transform: translateY(0);
    }
    99% {
        max-height: 20rem;
        transform: translateY(-99%);
    }
}
