html, body {
    border-color: var(--tavenem-color-border);
}

.darken {
    --tavenem-theme-color: var(--tavenem-theme-color-darken-base);
    --tavenem-theme-color-darken: var(--tavenem-theme-color-darken-2);
    --tavenem-theme-color-hover: var(--tavenem-theme-color-hover-dark);
    --tavenem-theme-color-lighten: var(--tavenem-theme-color-base);
}

.lighten {
    --tavenem-theme-color: var(--tavenem-theme-color-lighten-base);
    --tavenem-theme-color-darken: var(--tavenem-theme-color-base);
    --tavenem-theme-color-hover: var(--tavenem-theme-color-hover-light);
    --tavenem-theme-color-lighten: var(--tavenem-theme-color-lighten-2);
}

.bg-alt {
    background-color: var(--tavenem-theme-color-bg-alt, var(--tavenem-color-bg-alt));
}

.filled {
    --tavenem-theme-color-bg-alt: var(--tavenem-theme-color-darken);
    background-color: var(--tavenem-theme-color, var(--tavenem-color-default));
    color: var(--tavenem-theme-color-text, var(--tavenem-color-default-text));
}

.outlined {
    background-color: transparent;
    border: 1px solid var(--tavenem-color-border);
}

@each $theme in $theme-colors {
    :root {
        --tavenem-color-#{$theme}: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness));
        --tavenem-color-#{$theme}-darken: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) - 10%));
        --tavenem-color-#{$theme}-darken-2: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) - 20%));
        --tavenem-color-#{$theme}-lighten: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) + 10%));
        --tavenem-color-#{$theme}-lighten-2: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) + 20%));
        --tavenem-color-#{$theme}-hover: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness), .06);
        --tavenem-color-#{$theme}-hover-bright: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness), .12);
        --tavenem-color-#{$theme}-hover-bright-2: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness), .24);
        --tavenem-color-#{$theme}-hover-dark: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) - 12%), .06);
        --tavenem-color-#{$theme}-hover-light: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) + 12%), .06);
        --tavenem-color-#{$theme}-hover-light-bright: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) + 12%), .75);
    }

    a.#{$theme}:not(.disabled, :disabled), :where(.#{$theme}) {
        --tavenem-theme-color-base: var(--tavenem-color-#{$theme});
        --tavenem-theme-color-darken-base: var(--tavenem-color-#{$theme}-darken);
        --tavenem-theme-color-darken-2: var(--tavenem-color-#{$theme}-darken-2);
        --tavenem-theme-color-hover-base: var(--tavenem-color-#{$theme}-hover);
        --tavenem-theme-color-hover-bright: var(--tavenem-color-#{$theme}-hover-bright);
        --tavenem-theme-color-hover-bright-2: var(--tavenem-color-#{$theme}-hover-bright-2);
        --tavenem-theme-color-hover-dark: var(--tavenem-color-#{$theme}-hover-dark);
        --tavenem-theme-color-hover-light: var(--tavenem-color-#{$theme}-hover-light);
        --tavenem-theme-color-hover-light-bright: var(--tavenem-color-#{$theme}-hover-light-bright);
        --tavenem-theme-color-lighten-base: var(--tavenem-color-#{$theme}-lighten);
        --tavenem-theme-color-lighten-2: var(--tavenem-color-#{$theme}-lighten-2);
        --tavenem-theme-color-text: var(--tavenem-color-#{$theme}-text);
        --tavenem-theme-color: var(--tavenem-theme-color-base);
        --tavenem-color-border: var(--tavenem-theme-color);
        --tavenem-theme-color-bg-alt: var(--tavenem-theme-color-hover);
        --tavenem-theme-color-darken: var(--tavenem-theme-color-darken-base);
        --tavenem-theme-color-hover: var(--tavenem-theme-color-hover-base);
        --tavenem-theme-color-lighten: var(--tavenem-theme-color-lighten-base);
        color: var(--tavenem-theme-color);
    }

    a.#{$theme}:not(.disabled, :disabled) {
        &:hover,
        &:focus {
            color: var(--tavenem-theme-color-lighten);
        }
    }

    .border-#{$theme} {
        --tavenem-color-border: var(--tavenem-theme-color, var(--tavenem-color-#{$theme}));
        border-color: var(--tavenem-color-border) !important;
    }
}
