html, body {
    border-color: var(--tavenem-color-border);
}

.filled {
    background-color: var(--tavenem-color-default);
    color: var(--tavenem-color-default-text);
}

.outlined {
    background-color: transparent !important;
    border: 1px solid var(--tavenem-color-border);
}

.bg-alt {
    background-color: var(--tavenem-color-bg-alt);
}

@each $theme in $theme-colors {
    :root {
        --tavenem-color-#{$theme}: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness));
        --tavenem-color-#{$theme}-darken: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) - 7%));
        --tavenem-color-#{$theme}-darken-2: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) - 14%));
        --tavenem-color-#{$theme}-lighten: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) + 7%));
        --tavenem-color-#{$theme}-lighten-2: hsl(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) + 14%));
        --tavenem-color-#{$theme}-hover: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness), .06);
        --tavenem-color-#{$theme}-hover-bright: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), var(--tavenem-color-#{$theme}-lightness), .12);
        --tavenem-color-#{$theme}-hover-dark: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) - 7%), .06);
        --tavenem-color-#{$theme}-hover-light: hsla(var(--tavenem-color-#{$theme}-hue), var(--tavenem-color-#{$theme}-saturation), calc(var(--tavenem-color-#{$theme}-lightness) + 7%), .06);
    }

    .#{$theme} {
        color: var(--tavenem-color-#{$theme});

        &.bg-alt {
            background-color: var(--tavenem-color-#{$theme}-hover);
        }

        &.filled {
            background-color: var(--tavenem-color-#{$theme});
            color: var(--tavenem-color-#{$theme}-text);

            &.bg-alt {
                background-color: var(--tavenem-color-#{$theme}-darken);
            }
        }

        &.outlined {
            border-color: var(--tavenem-color-#{$theme});
        }

        &.darken {
            color: var(--tavenem-color-#{$theme}-darken);
        }

        &.lighten {
            color: var(--tavenem-color-#{$theme}-lighten);
        }
    }

    a.#{$theme} {
        &:hover:not(.disabled, :disabled),
        &:focus:not(.disabled, :disabled) {
            color: var(--tavenem-color-#{$theme}-lighten);
        }

        &.filled {
            &:hover:not(.disabled, :disabled),
            &:focus:not(.disabled, :disabled) {
                color: var(--tavenem-color-#{$theme}-text);
            }
        }

        &.darken {
            &:hover:not(.disabled, :disabled),
            &:focus:not(.disabled, :disabled) {
                color: var(--tavenem-color-#{$theme});
            }
        }

        &.lighten {
            &:hover:not(.disabled, :disabled),
            &:focus:not(.disabled, :disabled) {
                color: var(--tavenem-color-#{$theme}-lighten-2);
            }
        }
    }

    .border-#{$theme} {
        border-color: var(--tavenem-color-#{$theme}) !important;
    }
}
