:root {
    --tavenem-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --tavenem-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --tavenem-font-size-h1: 3rem;
    --tavenem-font-size-h2: 2.5rem;
    --tavenem-font-size-h3: 2rem;
    --tavenem-font-size-h4: 1.75rem;
    --tavenem-font-size-h5: 1.5rem;
    --tavenem-font-size-h6: 1.25rem;
    --tavenem-font-size-sm: .875rem;
    --tavenem-font-size-subsup: .75rem;
    --tavenem-font-size-button: .875em;
    --tavenem-font-weight: 400;
    --tavenem-font-weight-bold: 700;
    --tavenem-font-weight-button: 500;
    --tavenem-lineheight-body: 1.5;
    --tavenem-lineheight-heading: 1.2;
    --tavenem-lineheight-button: 1.75;
    --tavenem-texttransform-button: uppercase;
    --tavenem-dark-color-bg: #32333d;
    --tavenem-dark-color-bg-alt: #22232a;
    --tavenem-dark-color-bg-surface: #373740;
    --tavenem-dark-color-bg-input: #121316;
    --tavenem-dark-color-divider: #ffffff1e;
    --tavenem-dark-color-overlay: rgba(255,255,255,0.5);
    --tavenem-dark-color-action: #adadb1;
    --tavenem-dark-color-action-rgb: 173,173,177;
    --tavenem-dark-color-text: #ffffffb2;
    --tavenem-dark-color-text-secondary: #ffffff7f;
    --tavenem-dark-color-text-disabled: #ffffff33;
    --tavenem-dark-color-border: #ffffff1e;
    --tavenem-dark-color-border-input: #ffffff4c;
    --tavenem-dark-color-border-table: #ffffff1e;
    --tavenem-dark-color-scrollbar: #67697e;
    --tavenem-dark-color-scrollbar-hover: #86889c;
    --tavenem-dark-color-yellow-bg: #a82;
    --tavenem-dark-color-secondary-hue: 202;
    --tavenem-dark-color-secondary-saturation: 6;
    --tavenem-dark-color-secondary-lightness: 37;
    --tavenem-dark-color-secondary-text: var(--tavenem-light-color-text);
    --tavenem-dark-color-dark-hue: 240;
    --tavenem-dark-color-dark-saturation: 9;
    --tavenem-dark-color-dark-lightness: 17;
    --tavenem-dark-color-dark-text: var(--tavenem-dark-color-text);
    --tavenem-light-color-bg: white;
    --tavenem-light-color-bg-alt: #ebebeb;
    --tavenem-light-color-bg-surface: white;
    --tavenem-light-color-bg-input: white;
    --tavenem-light-color-divider: #e0e0e0;
    --tavenem-light-color-overlay: rgba(33,33,33,0.5);
    --tavenem-light-color-action: rgba(0,0,0,0.54);
    --tavenem-light-color-action-rgb: 0,0,0;
    --tavenem-light-color-text: #424242;
    --tavenem-light-color-text-secondary: #00000089;
    --tavenem-light-color-text-disabled: #00000060;
    --tavenem-light-color-border: #0000001e;
    --tavenem-light-color-border-input: #bdbdbd;
    --tavenem-light-color-border-table: #e0e0e0;
    --tavenem-light-color-table-hover: #0000000a;
    --tavenem-light-color-table-stripe: #00000005;
    --tavenem-light-color-scrollbar: #c4c4c4;
    --tavenem-light-color-scrollbar-hover: #a6a6a6;
    --tavenem-light-color-yellow-bg: #fcf8e3;
    --tavenem-light-color-secondary-hue: 208;
    --tavenem-light-color-secondary-saturation: 7;
    --tavenem-light-color-secondary-lightness: 46;
    --tavenem-light-color-secondary-text: var(--tavenem-dark-color-text);
    --tavenem-light-color-dark-hue: 0;
    --tavenem-light-color-dark-saturation: 0;
    --tavenem-light-color-dark-lightness: 26;
    --tavenem-light-color-dark-text: var(--tavenem-dark-color-text);
    --tavenem-dark-color-keyboard: var(--tavenem-light-color-text);
    --tavenem-dark-color-keyboard-bg: rgba(255,255,255,.1);
    --tavenem-light-color-keyboard: var(--tavenem-dark-color-text);
    --tavenem-light-color-keyboard-bg: var(--tavenem-dark-color-bg);
    --tavenem-color-bg: var(--tavenem-light-color-bg);
    --tavenem-color-bg-alt: var(--tavenem-light-color-bg-alt);
    --tavenem-color-bg-surface: var(--tavenem-light-color-bg-surface);
    --tavenem-color-bg-input: var(--tavenem-light-color-bg-input);
    --tavenem-color-divider: var(--tavenem-light-color-divider);
    --tavenem-color-overlay: var(--tavenem-light-color-overlay);
    --tavenem-color-action: var(--tavenem-light-color-action);
    --tavenem-color-action-rgb: var(--tavenem-light-color-action-rgb);
    --tavenem-color-action-hover-bg: rgba(var(--tavenem-color-action-rgb), .06);
    --tavenem-color-action-disabled: rgba(var(--tavenem-color-action-rgb), .26);
    --tavenem-color-action-disabled-bg: rgba(var(--tavenem-color-action-rgb), .12);
    --tavenem-color-text: var(--tavenem-light-color-text);
    --tavenem-color-text-secondary: var(--tavenem-light-color-text-secondary);
    --tavenem-color-text-disabled: var(--tavenem-light-color-text-disabled);
    --tavenem-color-border: var(--tavenem-light-color-border);
    --tavenem-color-border-input: var(--tavenem-light-color-border-input);
    --tavenem-color-border-table: var(--tavenem-light-color-border-table);
    --tavenem-color-table-hover: var(--tavenem-light-color-table-hover);
    --tavenem-color-table-stripe: var(--tavenem-light-color-table-stripe);
    --tavenem-color-scrollbar: var(--tavenem-light-color-scrollbar);
    --tavenem-color-scrollbar-hover: var(--tavenem-light-color-scrollbar-hover);
    --tavenem-color-yellow-bg: var(--tavenem-light-color-yellow-bg);
    --tavenem-color-keyboard: var(--tavenem-light-color-keyboard);
    --tavenem-color-keyboard-bg: var(--tavenem-light-color-keyboard-bg);
    --tavenem-color-primary-hue: 270;
    --tavenem-color-primary-saturation: 72;
    --tavenem-color-primary-lightness: 59;
    --tavenem-color-primary-text: var(--tavenem-dark-color-text);
    --tavenem-color-secondary-hue: var(--tavenem-light-color-secondary-hue);
    --tavenem-color-secondary-saturation: var(--tavenem-light-color-secondary-saturation);
    --tavenem-color-secondary-lightness: var(--tavenem-light-color-secondary-lightness);
    --tavenem-color-secondary-text: var(--tavenem-light-color-secondary-text);
    --tavenem-color-tertiary-hue: 168;
    --tavenem-color-tertiary-saturation: 74;
    --tavenem-color-tertiary-lightness: 45;
    --tavenem-color-tertiary-text: var(--tavenem-dark-color-text);
    --tavenem-color-danger-hue: 4;
    --tavenem-color-danger-saturation: 90;
    --tavenem-color-danger-lightness: 58;
    --tavenem-color-danger-text: var(--tavenem-dark-color-text);
    --tavenem-color-dark-hue: var(--tavenem-light-color-dark-hue);
    --tavenem-color-dark-saturation: var(--tavenem-light-color-dark-saturation);
    --tavenem-color-dark-lightness: var(--tavenem-light-color-dark-lightness);
    --tavenem-color-dark-text: var(--tavenem-light-color-dark-text);
    --tavenem-color-info-hue: 207;
    --tavenem-color-info-saturation: 90;
    --tavenem-color-info-lightness: 54;
    --tavenem-color-info-text: var(--tavenem-dark-color-text);
    --tavenem-color-success-hue: 145;
    --tavenem-color-success-saturation: 100;
    --tavenem-color-success-lightness: 39;
    --tavenem-color-success-text: var(--tavenem-dark-color-text);
    --tavenem-color-warning-hue: 36;
    --tavenem-color-warning-saturation: 100;
    --tavenem-color-warning-lightness: 50;
    --tavenem-color-warning-text: var(--tavenem-dark-color-text);
    --tavenem-color-error: var(--tavenem-color-danger);
    --tavenem-shadow-1: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    --tavenem-shadow-2: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
    --tavenem-shadow-3: 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12);
    --tavenem-shadow-4: 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12);
    --tavenem-shadow-5: 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12);
    --tavenem-shadow-inset: inset 0 1px 2px rgba(0,0,0,0.075);
    --tavenem-border-radius: 4px;
    --tavenem-breadcrumb-divider: "/";
    --tavenem-zindex-scroll-to-top: 100;
    --tavenem-zindex-drawer: 1100;
    --tavenem-zindex-appbar: 1200;
    --tavenem-zindex-overlay: 1300;
    --tavenem-zindex-dialog: 1400;
    --tavenem-zindex-snackbar: 1500;
    --tavenem-zindex-tooltip: 1600;
}

[data-theme="dark"] {
    --tavenem-color-bg: var(--tavenem-dark-color-bg);
    --tavenem-color-bg-alt: var(--tavenem-dark-color-bg-alt);
    --tavenem-color-bg-surface: var(--tavenem-dark-color-bg-surface);
    --tavenem-color-bg-input: var(--tavenem-dark-color-bg-input);
    --tavenem-color-divider: var(--tavenem-dark-color-divider);
    --tavenem-color-overlay: var(--tavenem-dark-color-overlay);
    --tavenem-color-action: var(--tavenem-dark-color-action);
    --tavenem-color-action-rgb: var(--tavenem-dark-color-action-rgb);
    --tavenem-color-text: var(--tavenem-dark-color-text);
    --tavenem-color-text-secondary: var(--tavenem-dark-color-text-secondary);
    --tavenem-color-text-disabled: var(--tavenem-dark-color-text-disabled);
    --tavenem-color-border: var(--tavenem-dark-color-border);
    --tavenem-color-border-input: var(--tavenem-dark-color-border-input);
    --tavenem-color-border-table: var(--tavenem-dark-color-border-table);
    --tavenem-color-table-hover: var(--tavenem-dark-color-table-hover);
    --tavenem-color-table-stripe: var(--tavenem-dark-color-table-stripe);
    --tavenem-color-scrollbar: var(--tavenem-dark-color-scrollbar);
    --tavenem-color-scrollbar-hover: var(--tavenem-dark-color-scrollbar-hover);
    --tavenem-color-yellow-bg: var(--tavenem-dark-color-yellow-bg);
    --tavenem-color-keyboard: var(--tavenem-dark-color-keyboard);
    --tavenem-color-keyboard-bg: var(--tavenem-dark-color-keyboard-bg);
    --tavenem-color-secondary-hue: var(--tavenem-dark-color-secondary-hue);
    --tavenem-color-secondary-saturation: var(--tavenem-dark-color-secondary-saturation);
    --tavenem-color-secondary-lightness: var(--tavenem-dark-color-secondary-lightness);
    --tavenem-color-secondary-text: var(--tavenem-dark-color-secondary-text);
    --tavenem-color-dark-hue: var(--tavenem-dark-color-dark-hue);
    --tavenem-color-dark-saturation: var(--tavenem-dark-color-dark-saturation);
    --tavenem-color-dark-lightness: var(--tavenem-dark-color-dark-lightness);
    --tavenem-color-dark-text: var(--tavenem-dark-color-dark-text);
}

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
$breakpoint-maxs: (
    sm: 575px,
    md: 767px,
    lg: 991px,
    xl: 1199px,
    xxl: 1399px
);

$theme-colors: (
    primary,
    secondary,
    tertiary,
    danger,
    dark,
    info,
    success,
    warning
);

$ratios: (
    1x1: 100%,
    4x3: 75%,
    16x9: 56.25%,
    21x9: calc(9 / 21 * 100%)
);

$sides: (
    bottom,
    left,
    right,
    top
);

$display-values: (
    block,
    flex,
    grid,
    inline,
    inline-block,
    inline-flex,
    none,
    table,
    table-cell,
    table-row,
);

$dimension-values: (
    25: 25%,
    33: 33%,
    50: 50%,
    67: 67%,
    75: 75%,
    100: 100%,
    auto: auto
);

$flex-directions: (
    column,
    column-reverse,
    row,
    row-reverse
);

$align-content-values: (
    center,
    end,
    start,
    space-around,
    space-between,
    stretch,
);

$align-items-values: (
    baseline,
    center,
    end,
    start,
    stretch
);

$align-self-values: (
    baseline,
    center,
    end,
    start,
    stretch
);

$flex-wrap-values: (
    nowrap,
    wrap,
    wrap-reverse
);

$justify-content-values: (
    center,
    end,
    space-around,
    space-between,
    space-evenly,
    start
);

$order-values: (
    first: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    last: 999
);

$positive-spacers: (
    0: 0,
    1: .25rem,
    2: .5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem
);
$spacers: map-merge($positive-spacers, (
    n1: -.25rem,
    n2: -0.5rem,
    n3: -1rem,
    n4: -1.5rem,
    n5: -3rem
));
$spacers-and-auto: map-merge($spacers, (auto: auto));

$text-alignments: (
    center,
    end,
    left,
    right,
    start
);
