@import "variables";
@import "animations";
@import "reset";
@import "layout";
@import "theme";
@import "utilities";
@import "ripple";
@import "components/overlay";
@import "components/closebutton";
@import "components/alert";
@import "components/avatar";
@import "components/badge";
@import "components/breadcrumb";
@import "components/button";
@import "components/buttongroup";
@import "components/card";
@import "components/checkbox";
@import "components/chip";
@import "components/collapse";
@import "components/drawer";
@import "components/field";
@import "components/modal";
@import "components/select";
@import "components/slider";
@import "blazor";

*[id] {
    scroll-margin-top: var(--tavenem-toolbar-height);
}

button .icon-label {
    align-items: inherit;
    display: flex;
    justify-content: inherit;
    width: 100%;
}

.icon-button {
    border-radius: 50%;
    flex: 0 0 auto;
    font-size: 1.5rem;
    overflow: visible;
    padding: .75rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(.4,0,.2,1) 0ms;

    &:hover,
    &:focus-visible {
        background-color: rgba(0,0,0,.06);
    }
}

.icon {
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 1.5rem;
    height: 1rem;
    transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
    user-select: none;
    width: 1rem;
}
