@use "sass:meta";

@import "math.css";
@import "katex.min.css";
@import "stackoverflow-light.css";

@import "variables";
@import "animations";
@import "reset";
@import "layout";
@import "theme";
@import "utilities";
@import "ripple";
@import "icon";
@import "components/overlay";
@import "components/closebutton";
@import "components/alert";
@import "components/appbar";
@import "components/avatar";
@import "components/badge";
@import "components/breadcrumb";
@import "components/button";
@import "components/buttongroup";
@import "components/card";
@import "components/checkbox";
@import "components/chip";
@import "components/collapse";
@import "components/dialog";
@import "components/drawer";
@import "components/editor";
@import "components/field";
@import "components/colorpicker";
@import "components/datepicker";
@import "components/imageeditor";
@import "components/list";
@import "components/meter";
@import "components/pagination";
@import "components/progress";
@import "components/popover";
@import "components/rating";
@import "components/scrolltotop";
@import "components/skeleton";
@import "components/slider";
@import "components/snackbar";
@import "components/steps";
@import "components/switch";
@import "components/table";
@import "components/tabs";
@import "components/timeline";
@import "components/toolbar";
@import "components/tooltip";
@import "blazor";

[data-theme="dark"] {
    @include meta.load-css("../node_modules/highlight.js/scss/stackoverflow-dark.scss");
}

*[id] {
    scroll-margin-top: 4rem;
}

html, body * {
    scrollbar-color: var(--tavenem-color-scrollbar) transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
    z-index: 1;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--tavenem-color-scrollbar);
    border-radius: 1px;

    &:hover {
        background: var(--tavenem-color-scrollbar-hover);
    }
}
